<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="card" *ngIf="!loading">

  <div class="card-header">
    {{occupation.name}}
    <div class="pull-right" *ngIf="editable">
      <button type="button" class="btn btn-default" (click)="addOccupation()"><i
        class="fa fa-edit"></i>Add</button>
    </div>
  </div>

  <app-view-candidate-experience
    [candidate]="candidate"
    [occupation]="occupation"
    [editable]="editable">
  </app-view-candidate-experience>

</div>
