
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group flex-fill">
    <label class="h6" for="shareableNotes">
      <span class="mr-2 font-weight-normal">Shareable notes</span>
      <app-autosave-status [saving]="saving" [typing]="typing"></app-autosave-status>
    </label>

      <textarea id="shareableNotes" class="md-textarea-auto form-control" rows="2"
                placeholder="Add candidate notes which can be shared with potential employers..."
                [formControlName]="'shareableNotes'"></textarea>
    </div>

</form>
