@import "src/scss/variables";

span {
  font-size: 14px;
}

#shareableNotes {
  font-size: 15px;
  color: $accent1;
}

::-webkit-input-placeholder {
  font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-size: 13px!important;
}

.warning-text {
  font-size: 11px;
  font-style: italic;
}
