<div class="card">

  <div class="card-header">
    Suggested searches.
    <div class="float-end" *ngIf="editable" [ngClass]="{'alert alert-danger': highlightSearches()}">
      <button title="Create a new suggested search"  class="btn btn-sm btn-primary ms-2"
              (click)="addSearch()">
        <i class="fas fa-plus"></i> Search
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>

    <div>
      <p>
        Created searches will always include the exclusion list associated with this job.
        You can change the search to remove the exclusion list if you don't want it.
      </p>
      <p>
        If you find candidates of interest, copy them into the submission list.
        <ng-container *ngIf="job.submissionList">
          (<a [routerLink]="['/list',job.submissionList.id]">{{job.submissionList.name}}</a>).
        </ng-container>
      </p>
    </div>

    <div *ngIf="!searches?.length">
      <p >
        No searches have been specified.
      </p>
    </div>

    <div *ngIf="searches.length > 0">
      <p>
        Click on a search to run or change it.
        If you change the search don't forget to click on Update Search.
      </p>
      <hr/>

      <!-- searches -->
      <div class="row mb-3" *ngFor="let search of searches; let i = index">

        <!-- NAME -->
        <div class="col-10 col-sm" [class.edit-padding]="editable">
          <i class="fas fa-search"></i>
          <a [routerLink]="['/search',search.id]">
            {{search.name}}
          </a>
        </div>

        <!-- EDIT -->
        <div class="col-2 col-sm-auto" *ngIf="editable">
          <button class="btn btn-sm btn-outline-danger" (click)="removeSearch(search)">
            <i class="fas fa-trash"></i>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
