<div class="main container">
  <ng-container *ngIf="!loading; else isLoading">

    <div class="header">
      <h4>General Translations</h4>
      <div>
        <button class="btn btn-primary" (click)="save()" [disabled]="saving">Save</button>
      </div>
    </div>

    <div class="alert alert-danger mt-2" *ngIf="saveError">
      Sorry, there was an error saving this file:
      <div>
        {{saveError | json}}
      </div>
    </div>

    <div class="filter">
      <div class="row">
        <div class="col-sm-6">
          <select class="form-control" [ngModel]="language" (change)="setLanguage($event.target.value)">
            <option value="en">English</option>
            <option value="ar">Arabic</option>
          </select>
        </div>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Field</th>
        <th>Translation</th>
      </tr>
      </thead>
      <tbody>
      <ng-container  *ngFor="let field of fields">
        <tr [class.is-blank]="isBlank(field.value)">
          <td style="width: 200px">
            {{field.path}}
          </td>
          <td>
            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="field.value"></textarea>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  </ng-container>
</div>

<ng-template #isLoading>
  Loading...
</ng-template>
