<div class="modal-header">

  <h4 class="modal-title">Edit Additional Info</h4>

  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <div *ngIf="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="!loading">
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>

    <form [formGroup]="candidateForm">
      <div class="form-group">
        <label for="additionalInfo">Additional Information</label>
        <textarea type="text" class="md-textarea-auto form-control" rows="8" id="additionalInfo" placeholder="" [formControlName]="'additionalInfo'"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()"
                [disabled]="candidateForm.invalid || loading || saving">
          <i class="fas fa-spinner fa-spin" *ngIf="saving"></i>
          Save
        </button>
      </div>
    </form>

  </div>
</div>
