<div class="container">

  <h1 class="text-center">What languages do you speak?</h1>

  <form [formGroup]="form">

    <!-- SPEAK ENGLISH -->
    <div class="form-group">
      <label for="speakId">How well do you speak English?</label>
        <select class="form-control" name="speakId" id="speakId" [formControlName]="'speakId'">
          <option value=""></option>
          <option *ngFor="let l of languageLevels" [value]="l.id">{{l.level}}</option>
        </select>
    </div>

    <!-- READ WRITE ENGLISH -->
    <div class="form-group">
      <label for="readWriteId">How well do you read and write in English?</label>
      <select class="form-control" name="readWriteId" id="readWriteId" [formControlName]="'readWriteId'">
        <option value=""></option>
        <option *ngFor="let l of languageLevels" [value]="l.id">{{l.level}}</option>
      </select>
    </div>

    <!-- SECOND LANGUAGE? -->
    <div class="form-group">
      <label>Do you speak any other languages?</label>

      <div class="radio">
        <label><input type="radio" [formControlName]="'bilingual'" value="true" (click)="addMore()">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" [formControlName]="'bilingual'" value="false">No</label>
      </div>
    </div>

    <!-- ADD LANGUAGES -->
    <div *ngIf="form.value.bilingual === 'true'" >
      <label for="languageId">What language?</label>
      <select class="form-control" id="languageId" name="languageId" formControlName="languageId">
        <option value=""></option>
        <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
      </select>

          <label for="speakId">How well do you speak this language?</label>
          <select class="form-control" name="speakId" id="speakId" formControlName="speakId">
            <option value=""></option>
            <option *ngFor="let l of languageLevels" [value]="l.id">{{l.level}}</option>
          </select>

          <label for="readWriteId">How well do you read and write in this language?</label>
          <select class="form-control" name="readWriteId" id="readWriteId" formControlName="readWriteId">
            <option value=""></option>
            <option *ngFor="let l of languageLevels" [value]="l.id">{{l.level}}</option>
          </select>
    </div>

    <div>
      <button class="btn btn-outline-primary"
              [disabled]="form.value.bilingual === 'false' && form.invalid"
              (click)="addMore()">
        Add additional language
      </button>
    </div>


  <div>

    <!-- LANGUAGES SUMMARY -->
    <h4>Languages Summary</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Language</th>
        <th scope="col">Speak</th>
        <th scope="col">Read/Write</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let l of candidateLanguages">
        <td>{{l.language.name}}</td>
        <td>{{l.speak.level}}</td>
        <td>{{l.readWrite.level}}</td>
        <td>
          <button type="button" class="close" aria-label="Close"
                  [disabled]="saving"
                  (click)="delete(l)">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    {{error.error?.message || error.message || error}}
  </div>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid || loading || saving"
            (click)="save()">
      Next
    </button>
  </div>
  </form>
</div>
