<div class="container">

  <div *ngIf="loading">
    <span>Loading...</span>
  </div>

  <ng-container *ngIf="!loading">

    <div class="card" *ngFor="let language of candidateLanguages; let i = index;">
      <div class="text-right">
        <button class="btn btn-danger" (click)="deleteCandidateLanguage(i)"></button>
      </div>
      <pre>{{language}}</pre>
    </div>

    <form class="card" [formGroup]="form">

      <!-- WHICH LANGUAGE -->
      <div class="form-group">
        <label for="id">Which language?</label>
        <select class="form-control" name="id" id="id" [disabled]="" [formControlName]="'id'">
          <option value=""></option>
          <option *ngFor="let l of languages" [value]="l.id">{{l.name}}</option>
        </select>
      </div>

      <ng-container *ngIf="">

        <!-- HOW WELL DO YOU SPEAK -->
        <div class="form-group">
          <label for="spokenLevelId">How well do you speak {{getLanguageName()}}?</label>
          <select class="form-control" name="spokenLevelId" id="spokenLevelId" [formControlName]="'spokenLevelId'">
            <option value=""></option>
            <option *ngFor="let l of languageLevels" [value]="l.id">{{l.name}}</option>
          </select>
        </div>

        <!-- HOW WELL DO YOU READ AND WRITE -->
        <div class="form-group">
          <label for="writtenLevelId">How well do you read and write in {{getLanguageName()}}?</label>
          <select class="form-control" name="writtenLevelId" id="writtenLevelId" [formControlName]="'writtenLevelId'">
            <option value=""></option>
            <option *ngFor="let l of languageLevels" [value]="l.id">{{l.name}}</option>
          </select>
        </div>

      </ng-container>

    </form>

    <pre>{{form.value | json}}</pre>

    <div class="text-center mt-4">
      <button class="btn btn-outline-primary"
              [disabled]="form.invalid"
              (click)="addMore()">
        Add additional language
      </button>
    </div>

    <div class="alert alert-danger" *ngIf="error">
      {{error.error?.message || error.message || error}}
    </div>

  </ng-container>

</div>

<app-registration-footer (backClicked)="back()" (nextClicked)="next()"></app-registration-footer>
