<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'TASKS.TASK.SUBMITTED' | translate }}</h4>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="stayOnTaskClick()"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ 'TASKS.TASK.SUBMITTED-PARA' | translate }}</p>
    <button class="btn btn-primary"
            (click)="returnToTasksClick()"
    >
      {{ 'TASKS.TASK.RETURN-TASKS' | translate }}
    </button>
    <button class="btn btn-secondary"
            (click)="stayOnTaskClick()"
    >
      {{ 'TASKS.TASK.STAY-TASK' | translate }}
    </button>
  </div>
</div>
