<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="workDesired">Are you currently working in your desired field?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="workDesired" [formControlName]="'workDesired'">
      <option *ngFor="let opt of workDesiredOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="workDesired === 'Yes' || workDesired === 'No'">
    <div class="form-group">
      <label for="workLegally">If you are currently working, are you working legally?</label>
      <select class="form-control"
              id="workLegally" [formControlName]="'workLegally'">
        <option *ngFor="let opt of workLegallyOptions" [value]="opt.value">
          {{opt.displayText}}
        </option>
      </select>
    </div>
  </div>
</form>


