<div class="container">

  <app-error [error]="error"></app-error>

  <app-loading [loading]="loading"></app-loading>

  <ng-container *ngIf="!loading && selectedChat">

    <div class="mt-4 mx-3 text-center flex-shrink-0">
      <button class="btn btn-sm btn-secondary" (click)="unSelectChat()">
        <fa-icon class="me-1" icon="arrow-left"></fa-icon>
        {{ 'CANDIDATE-OPPS.OPP.CHAT-RETURN' | translate }}
      </button>
    </div>

    <div>
      {{ getChatHeaderTranslationKey(selectedChatType) | translate }}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onMarkChatAsRead()">
        {{ 'CANDIDATE-OPPS.OPP.CHAT-MARK-AS-READ' | translate }}
      </button>
    </div>

    <app-view-chat-posts
      [chat]="selectedChat"
    >
    </app-view-chat-posts>

    <div class="mt-4 mx-3 text-center flex-shrink-0">
      <button class="btn btn-sm btn-secondary" (click)="unSelectChat()">
        <fa-icon class="me-1" icon="arrow-left"></fa-icon>
        {{ 'CANDIDATE-OPPS.OPP.CHAT-RETURN' | translate }}
      </button>
    </div>

  </ng-container>

  <ng-container *ngIf="!loading && !selectedChat">
    <div class="d-sm-flex justify-content-between">
      <div class="card-body">
        <app-error [error]="error"></app-error>

        <div class="row">

          <div class="mb-3 col-sm-12 col-md-4">
            <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>
              {{ 'CANDIDATE-OPPS.TABLE.NAME' | translate }}</label>
            <div class="form-control-plaintext">
              {{selectedOpp?.jobOpp.name}}
            </div>
          </div>

          <div class="mb-3 col-sm-12 col-md-4">
            <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>
              {{ 'CANDIDATE-OPPS.TABLE.STAGE' | translate }}</label>
            <div class="form-control-plaintext">
              {{getCandidateOpportunityStageTranslationKey(selectedOpp?.stage) | translate}}
            </div>
          </div>

      <div *ngIf="selectedOpp?.fileOfferLink" class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>
          {{ 'CANDIDATE-OPPS.TABLE.OFFER' | translate }}</label>
        <div class="form-control-plaintext">
          <a class="link-secondary" target="_blank" [href]="selectedOpp.fileOfferLink">
            <i class="fa-solid fa-link"></i> {{selectedOpp.fileOfferName ? selectedOpp.fileOfferName : selectedOpp.fileOfferLink}}</a>
        </div>
      </div>

          <div>
            <label class="form-label" for="closingComments">
              {{ 'CANDIDATE-OPPS.TABLE.COMMENTS' | translate }}
            </label>
            <div class="col-12" id="closingComments"
                 [innerHtml]="selectedOpp?.closingCommentsForCandidate">
            </div>
          </div>

          <div>
            <label class="form-label" for="chats">
              {{ 'CANDIDATE-OPPS.TABLE.CHATS' | translate }}
            </label>
            <div id="chats">
              <div class="link underline" (click)="setSelectedChatType(JobChatType.CandidateProspect)">
                <app-chat-read-status
                  [chats]="[sourceChat]"
                >
                </app-chat-read-status>
                {{ getChatHeaderTranslationKey(JobChatType.CandidateProspect) | translate }}
              </div>

              <div class="link underline" (click)="setSelectedChatType(JobChatType.CandidateRecruiting)">
                <app-chat-read-status
                  [chats]="[destinationChat]"
                >
                </app-chat-read-status>
                {{ getChatHeaderTranslationKey(JobChatType.CandidateRecruiting) | translate }}
              </div>

              <div class="link underline" (click)="setSelectedChatType(JobChatType.AllJobCandidates)">
                <app-chat-read-status
                  [chats]="[allJobCandidatesChat]"
                >
                </app-chat-read-status>
                {{ getChatHeaderTranslationKey(JobChatType.AllJobCandidates) | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 mx-3 text-center flex-shrink-0">
        <button class="btn btn-sm btn-secondary" (click)="goBack()">
          <fa-icon class="me-1" icon="arrow-left"></fa-icon>
          {{ 'CANDIDATE-OPPS.OPP.JOB-RETURN' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
