<div class="d-sm-flex justify-content-between">
  <div class="card-body">
    <div class="row">

      <div class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>
          {{ 'CANDIDATE-OPPS.TABLE.NAME' | translate }}</label>
        <div class="form-control-plaintext">
          {{selectedOpp?.jobOpp.name}}
        </div>
      </div>

      <div class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>
          {{ 'CANDIDATE-OPPS.TABLE.STAGE' | translate }}</label>
        <div class="form-control-plaintext">
          {{getCandidateOpportunityStageTranslationKey(selectedOpp?.stage) | translate}}
        </div>
      </div>

      <div>
        <label class="form-label" for="closingComments">
          {{ 'CANDIDATE-OPPS.TABLE.COMMENTS' | translate }}
        </label>
        <div class="col-12" id="closingComments" [innerHtml]="selectedOpp?.closingCommentsForCandidate">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 mx-3 text-center flex-shrink-0">
    <button class="btn btn-sm btn-secondary" (click)="goBack()">
      <fa-icon class="me-1" icon="arrow-left"></fa-icon> {{ 'CANDIDATE-OPPS.OPP.RETURN' | translate }}
    </button>
  </div>
</div>
