<div class="link-tooltip"
     [ngStyle]="{'left': leftOffset + 'px', 'bottom': bottomOffset + 'px'}"
>
  <a href="{{url}}" target="_blank">
    {{url}}
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </a>
  <div class="button-group">
    <button type="button" id="editBtn" (click)="onEditClick()">
      {{ 'CHAT.LINK-EDIT-BTN' | translate }}
    </button>
    <button type="button" id="removeBtn" (click)="onRemoveClick()">
      {{ 'CHAT.LINK-REMOVE-BTN' | translate }}
    </button>
  </div>
</div>
