@import "~src/scss/variables";

// Just noting that the buttons on the tooltip inherit Quill styling because of the component's
// placement - not a problem in this instance, as the simple look it provides is desired.
/* MODEL: tooltip with white background and arrow - tricky bit of CSS! */
.link-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px; /* A bit skinny, but keeps it from falling off the viewport. */
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #8b8c93;
  color: #151f2d;
  padding: 10px;
  font-size: 13px;
  margin-top: 5px;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.link-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #8b8c93; /* Arrow color for the border */
  position: absolute;
  left: calc(50% - 7px);
  bottom: -7px; /* Position the arrow at the bottom of the tooltip */
}

.link-tooltip::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff; /* Tooltip background color */
  position: absolute;
  left: calc(50% - 7px);
  bottom: -6px; /* Slightly above the ::before pseudo-element */
}

/* Additional styling for buttons and link */
.link-tooltip a {
  color: #151f2d; /* Link color */
  text-decoration: none;
  margin-bottom: 10px; /* Space below the link */
  font-weight: bold;
  word-break: break-all; /* Break long URLs to fit within the container */
  overflow-wrap: anywhere; /* Allow breaking within words if necessary */
}

.link-tooltip a:hover {
  color: #06c; /* Same as buttons */
}

.link-tooltip a i {
  margin-left: 5px;
  margin-right: 5px;
}

.link-tooltip .button-group {
  display: flex;
  gap: 10px; /* Space between buttons */
}

//TODO this works! Copy TC bootstrap button styling and make sure it's doc-ed and works in mobile
#editBtn {
  all: unset;
  cursor: pointer;
}

/* Mobile screen styling */
@media only screen and (max-width: 600px) {
  .link-tooltip {
    padding: 8px;
    font-size: 10px;
    margin-top: 4px;
    width: 100px;
  }

  .link-tooltip .button-group {
    gap: 0;
  }
}
