<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to the Talent Beyond Boundaries Portal</title>
</head>
<body>
   <div class="password-reset">
      <h1>To do translate into Arabic</h1>

      <p>Dear <span th:text="${displayName}"></span>,</p>
      <p>Thank you for registering with Talent Beyond Boundaries. Your username is <span th:text="${username}"></span>.<br/>
      If you forget your password, you can reset it <a th:href="${forgotPwdUrl}">here</a>.</p>

      <p>Please note that having an active profile does not mean that you will be matched with a job opportunity. TBB will only contact you if an employer expresses interest in your profile</p>
      Talent Beyond Boundaries (TBB) is a nonprofit organization working to open a new safe and legal pathway for individuals fleeing conflict to connect with international employment opportunities in countries where their skills are needed. TBB is implementing a pilot project with those who are displaced and living in Jordan and Lebanon to initially match 30 people with corporations abroad in need of their skills. While only a limited number will be matched with employment initially in order to prove this new pathway is viable, TBB encourages a large number of people who have been displaced from their home country and are living in Lebanon and Jordan to register to show employers the wide range of talent that they can consider in international hiring.  After completion of the pilot project, we plan to scale up to connect thousands of displaced people to international employment around the world.</p> 
   
      <p>Please continue to update your profile as you gain additional experience, education, or skills. 
       Talent Beyond Boundaries’ (TBB) mission is to open international visa pathways for refugees and other forcibly displaced people to use their skills and talents as a route towards restored self-reliance and safety. TBB is a nonprofit organization with a cooperation agreement with UNHCR. We link those who are displaced by conflict with jobs in countries around the world where their skills are needed and facilitate the visas for them to work abroad. Anyone is welcome to create a profile on the Talent Catalog; by sharing information about your employment history and skills, you contribute to demonstrating the breadth and depth of talent among displaced people. However, at this time, TBB is only considering applicants currently based in Lebanon and Jordan for positions in Australia, Canada, and the United Kingdom. We will continue to update the Talent Catalog, our website, and our social media with any changes to our program.</p>

      <p>We share frequent updates of our progress to open this new pathway to our various media channels and will also email these updates to registrants who have provided an email.
          Please follow us on our various channels</p>
      
      <p><a href="https://www.facebook.com/TalentBeyondBoundaries/">TBB Facebook</a> We invite you to like us on Facebook and share widely.</p>
   
      <p><a href="https://www.youtube.com/watch?v=YH_5_vBhiFk">TBB Introduction Video</a> Check out our youtube channels for helpful videos and updates.</p>
   
      <p><a href="https://tbbtalent.org/">TBB Talent Catalog</a> We urge you to log back in if any of your information changes.</p>
   
      <p><a href="http://www.talentbeyondboundaries.org/">TBB Website</a> Check out our website.</p>
   
      <p><strong>Private Policy:</strong></p>
   
      <p>TBB will not share your contact information with any other party without your permission. Talent Beyond Boundaries staff and their partners will never ask you for any form of payment for registering or to receive a job offer. TBB is a not-for-profit organization and we do not charge any money for our services, and any such request is fraudulent. If anyone makes such a request, please alert TBB immediately. Please contact us if you would like to delete your profile.</p>
      
      <p><b><i>Sincerely,<br/>
      Talent Beyond Boundaries</i></b></p>
   </div>
</body>
</html>
