<app-error [error]="error"></app-error>
<app-loading [loading]="loading"></app-loading>

<p>
  Want to display privacy requests and submit button.
  Own component which can do submit, which can change registered status and make itself disappear
</p>

<hr class="my-4"/>

<form [formGroup]="form" *ngIf="!loading" (submit)="submit()">

  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" id="contactConsentRegistration" [value]="false"
           [formControlName]="'contactConsentRegistration'">
    <label class="form-check-label">
      {{ 'REGISTRATION.CONTACT.LABEL.CONTACTCONSENTREGISTRATION' | translate }}
      <sup>*</sup>
    </label>
    <app-form-control-error
      [control]="form.controls.contactConsentRegistration"></app-form-control-error>
  </div>

  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" id="contactConsentPartners" [value]="false"
           [formControlName]="'contactConsentPartners'">
    <label class="form-check-label">
      {{ 'REGISTRATION.CONTACT.LABEL.CONTACTCONSENTPARTNERS' | translate }}
    </label>
  </div>

  <app-accept-terms
    (accepted)="setAcceptedTerms(true)"
  >
    <app-terms
      [content]=currentPrivacyPolicy?.content
      partnerName="Jimbo">
    </app-terms>
  </app-accept-terms>
</form>
<hr/>

<h5><a target="_blank" href="https://talentbeyondboundaries.org/privacy-and-data-protection-policy">
  {{ 'LANDING.HEADING3' | translate }}
</a>
</h5>

<div [innerHTML]="'LANDING.PARA3' | translate"></div>

<button class="btn btn-primary" (click)="submit()">
  {{ 'REGISTRATION.FOOTER.SUBMIT' | translate }}
</button>
