<app-loading [loading]="loading"></app-loading>

<div [innerHTML]="'REGISTRATION.SUBMIT.YOUR_PARTNER_IS'
| translate:{partner: getPartnerDescription(true)} ">
</div>

<hr class="my-4"/>

<div [innerHTML]="'REGISTRATION.SUBMIT.CONSENT_INTRODUCTION' | translate"></div>

<hr class="my-4"/>

<form [formGroup]="form" *ngIf="!loading" (submit)="submit()">

  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" id="contactConsentRegistration" [value]="false"
           [formControlName]="'contactConsentRegistration'">
    <label class="form-check-label">
      {{ 'REGISTRATION.CONTACT.LABEL.CONTACTCONSENTREGISTRATION' | translate }}
    </label>
  </div>

  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" id="contactConsentPartners" [value]="false"
           [formControlName]="'contactConsentPartners'">
    <label class="form-check-label">
      {{ 'REGISTRATION.CONTACT.LABEL.CONTACTCONSENTPARTNERS' | translate }}
    </label>
  </div>

  <h2>
    Privacy Policy with {{getPartnerDescription(false)}}
  </h2>
  <app-accept-terms
    [termsAccepted] = acceptedPolicy
    [acceptanceText]="'REGISTRATION.SUBMIT.POLICY_ACCEPTANCE_TEXT' | translate"
    (accepted)="setAcceptedTerms($event)"
  >
    <app-terms
      [content]=currentPrivacyPolicy?.content
      [partnerName]="getPartnerDescription(false)">
    </app-terms>
  </app-accept-terms>
</form>

<app-error [error]="error"></app-error>

<button class="btn btn-primary" (click)="submit()"
        [disabled]="!form.valid"
>
  {{ 'REGISTRATION.FOOTER.SUBMIT' | translate }}
</button>
