<tc-tabs [activeTabId]="activeTabId" (tabChanged)="onTabChanged($event)">
  <ng-container *ngIf="systemAdminOnly()">
    <tc-tab id="duolingo-coupons">
      <tc-tab-header>Duolingo Coupons</tc-tab-header>
      <tc-tab-content>
        <app-import-duolingo-coupons [loggedInUser]="loggedInUser"></app-import-duolingo-coupons>
      </tc-tab-content>
    </tc-tab>

    <tc-tab id="linkedin-coupons">
      <tc-tab-header>LinkedIn Coupons</tc-tab-header>
      <tc-tab-content>
        <app-import-linkedin-premium-coupons [loggedInUser]="loggedInUser"></app-import-linkedin-premium-coupons>
      </tc-tab-content>
    </tc-tab>

    <tc-tab id="reference-vouchers">
      <tc-tab-header>Reference Vouchers</tc-tab-header>
      <tc-tab-content>
        <app-import-reference-vouchers [loggedInUser]="loggedInUser"></app-import-reference-vouchers>
      </tc-tab-content>
    </tc-tab>

    <tc-tab id="ota">
      <tc-tab-header>Offers To Assist</tc-tab-header>
      <tc-tab-content>
        <app-offer-to-assist></app-offer-to-assist>
      </tc-tab-content>
    </tc-tab>
  </ng-container>
</tc-tabs>
