<div class="modal-header">

  <h4 class="modal-title">Update Salesforce</h4>

  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">
  <form [formGroup]="salesforceStageForm">

    <div class="form-group">
      <label for="stage">Candidate Opportunity Stage - order is just a guide, most stages are optional.</label>
      <ng-select id="stage" [formControlName]="'stage'" [items]="candidateOpportunityStageOptions"
                 placeholder="Select" bindLabel="stringValue" bindValue="key" ></ng-select>
    </div>

    <div class="form-group">
      <label for="nextStep">Next step - please start with date: eg 9Nov21 next step goes here</label>
      <input type="text" class="form-control" id="nextStep" [formControlName]="'nextStep'">
    </div>

    <div class="form-group">
      <label for="nextStepDueDate">Next step due date</label>
      <app-date-picker id="nextStepDueDate" [control]="salesforceStageForm.controls.nextStepDueDate"
                       [allowFuture]="true"></app-date-picker>
    </div>

    <div class="form-group">
      <label for="closingComments">Closing comments</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="4"
                id="closingComments" [formControlName]="'closingComments'"></textarea>
    </div>

    <div class="form-group">
      <label for="employerFeedback">Employer feedback</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="4"
                id="employerFeedback" [formControlName]="'employerFeedback'"></textarea>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary"
          (click)="onSave()">Do it</button>
  <button type="button" class="btn btn-secondary"
          (click)="cancel()">Cancel</button>
</div>
