<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="mb-3">
    <label for="visaJobEligible494">Eligible for 494?</label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobEligible494" [formControlName]="'visaJobEligible494'" (clear)="setNoResponse('visaJobEligible494')"
               [items]="visa494Options" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="mb-3">
    <label for="visaJobEligible494Notes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaJobEligible494Notes" [formControlName]="'visaJobEligible494Notes'"
              placeholder=""></textarea>
  </div>
</form>
