{{jobIndex}}
<div class="card">
  <div class="card-header">
    Employer Eligibility
  </div>
  <div class="card-body">
    <app-job-occupation
      [candidate]="candidate"
      [occupations]="occupations"
      [candidateIntakeData]="candidateIntakeData"
      [visaRecord]="myRecord"
      [selectedIndex]="jobIndex">
    </app-job-occupation>
    <app-salary-tsmit
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData">
    </app-salary-tsmit>
    <app-regional-area
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData">
    </app-regional-area>
  </div>
</div>
<hr/>
<div class="card">
  <div class="card-header">
    TBB Eligibility
  </div>
  <div class="card-body">
    <app-int-protection
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData">
    </app-int-protection>
    <app-job-interest
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex">
    </app-job-interest>
    <app-job-family-aus
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex">
    </app-job-family-aus>
    <hr/>
    <app-job-eligibility-assessment
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex">
    </app-job-eligibility-assessment>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Candidate Visa Eligibility
  </div>
  <div class="card-body">
    <app-fixed-input
      [question]="'Age: (50 year cutoff for 494; 55 for 186)'"
      [answer]="currentYear - birthYear">
    </app-fixed-input>
    <!--          <app-view-candidate-job-experience-->
    <!--            [candidate]="candidate"-->
    <!--            [candidateOccupation]="">-->
    <!--          </app-view-candidate-job-experience>-->
    <app-visa-final-assessment
      [candidate]="candidate"
      [selectedIndex]="jobIndex">
    </app-visa-final-assessment>
  </div>
</div>
