<div *ngIf="loading">
      <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="!loading">
  <app-returned-home
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData"
  >
  </app-returned-home>

  <app-visa-issues
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData"
  >
  </app-visa-issues>

  <app-avail-immediate
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData"
  >
  </app-avail-immediate>

</div>
