<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label" for="locationDetails">
      Details of job location (ie rural vs city, cost of living, population etc? Any links to further info)
    </label>
    <div *ngIf="editable" class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ngx-wig id="locationDetails" [formControlName]="'locationDetails'"></ngx-wig>
  </div>
</form>
