<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="form-group">
    <label for="visaJobOccupationId">What occupation is the job on the list?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobOccupationId" [formControlName]="'visaJobOccupationId'" [items]="occupations"
               placeholder="Select" bindValue="id" bindLabel="name"></ng-select>
  </div>
</form>
