<input
  #inputEl
  [attr.id]="id"
  [attr.name]="name"
  [type]="type"
  [checked]="type === 'checkbox' ? !!_value : undefined"
  class="form-input"
  [placeholder]="placeholder"
  [attr.aria-label]="ariaLabel"
  [attr.aria-invalid]="invalid"
  [class.input--invalid]="invalid"
  [value]="type !== 'checkbox' ? value : undefined"
  (input)="handleInput($event)"
  (blur)="handleBlur()"
  [disabled]="disabled"
  [readonly]="readonly"
  [ngbTypeahead]="ngbTypeahead"
  [resultTemplate]="resultTemplate"
  [inputFormatter]="inputFormatter"
  [resultFormatter]="resultFormatter"
  [editable]="editable"
  (selectItem)="selectItem.emit($event)"
  [min]="min"
/>
