<div class="row">
  <div class="col-12 col-md-6">
    <label for="savedSearch">Base Search</label>
    <input id="savedSearch"
           type="text" class="form-control"
           input.value = ''
           (selectItem)="selected($event.item)"
           [ngbTypeahead]="doSavedSearchSearch"
           [resultTemplate]="rt"
           [inputFormatter]="renderSavedSearchRow"
           [editable]="false"
           placeholder="Add Base Search..."/>
  </div>
    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>

  <div *ngIf="this.selectedBaseSearch || this.storedBaseSearch" class="col-12 col-md-6">
    <app-candidate-source
      [candidateSource]="selectedBaseSearch"
      [storedBaseSearch]="storedBaseSearch"
      [showAll]="true"
      [showWatch]="false"
      [showOpen]="false"
      [showSelect]="false"
      [showLink]="false"
      [showMore]="false"
    >
    </app-candidate-source>
  </div>
</div>



