<div class="row">
  <div class="col-4">
    <label for="savedSearch">Base Search</label>
    <input id="savedSearch"
           type="text" class="form-control"
           input.value = ''
           (selectItem)="selected($event.item)"
           [ngbTypeahead]="doSavedSearchSearch"
           [resultTemplate]="rt"
           [inputFormatter]="renderSavedSearchRow"
           [editable]="false"
           placeholder="Type the name of a base search..."/>
  </div>
    <ng-template #rt let-r="result" let-t="term">
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>

  <div *ngIf="this.selectedBaseSearch || this.storedBaseSearch" class="d-flex">
    <app-candidate-source
      [candidateSource]="selectedBaseSearch"
      [storedBaseSearch]="storedBaseSearch"
      [showAll]="true"
      [showWatch]="false"
      [showOpen]="false"
      [showSelect]="false"
      [showLink]="false"
      [showMore]="false"
    >
    </app-candidate-source>
    <button type="button" class="btn btn-default" (click)="deleteSearch()" ><i
      class="fas fa-trash"></i></button>
  </div>
</div>



