<div class="section">
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
  <form [formGroup]="searchForm">

    <div class="form-group">
      <label for="savedSearch">Saved Search</label>
      <input id="savedSearch"
             type="text" class="form-control"
             (selectItem)="selected($event.item)"
             [ngbTypeahead]="doSavedSearchSearch"
             [resultTemplate]="rt"
             [inputFormatter]="renderSavedSearchRow"
             [editable]="false"
             placeholder="Search for other searches ..."/>
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
      </ng-template>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="add()"
            [disabled]="!searchForm.valid">
      Add
    </button>
  </div>
</div>


