<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="!loading">

<!--  todo Why not put this formatting inside component?
Downside == upside : standard appearance of same question
-->
  <div class="card">
    <div class="card-header">
      Eligibility Check
    </div>
    <div class="card-body">
      <app-visa-eligibility-check
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData"
        [myRecordIndex]="selectedIndex">
      </app-visa-eligibility-check>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="card-header">
      Home Country
    </div>
    <div class="card-body">
      <app-returned-home
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-returned-home>
    </div>
  </div>

  <hr/>
  <div class="card">
    <div class="card-header">
      Final Assessment
    </div>
    <div class="card-body">
      <app-visa-assessment
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData"
        [myRecordIndex]="selectedIndex">
      </app-visa-assessment>
    </div>
  </div>
</div>
