<div class="post">
  <p class="audit">
   <strong> {{createdBy}}: </strong>
    <small>{{post?.createdDate | date: 'customDateTime'}}</small>
  </p>
  <p class="content" *ngIf="post?.content" [ngClass]="{'html':isHtml(post.content), 'text':!isHtml(post.content)}" [innerHtml]="post.content"></p>

  <div class="d-flex flex-row-reverse flex-wrap">
    <button
    id="reactionBtn"
    [ngClass]="!this.reactionPickerVisible ?
    'reaction-btn' : 'reaction-btn-selected'"
    (click)="onClickReactionBtn()">
      <i id="reactionBtnSmiley" class="fa-regular fa-face-smile fa-xs">
      <i id="reactionBtnPlus" class="fa-solid fa-plus fa-2xs"></i></i>
    </button>
    <button
    class="update-reaction-btn"
    *ngFor="let reaction of post.reactions"
    (click)="onSelectReaction(reaction)">
      <span [ngbTooltip]="reactionToolTip">
        {{reaction.emoji}} {{reaction.users.length}}
      </span>
      <ng-template #reactionToolTip>
        <div id="reactionTooltipEmoji">
          {{reaction.emoji}}
        </div>
        <div *ngFor="let user of reaction.users">
          {{user.displayName}}
        </div>
      </ng-template>
    </button>
  </div>
</div>
<span id="postPicker" #pickerSpan>
  <emoji-mart
    id="reactionPicker"
    *ngIf="reactionPickerVisible"
    (emojiClick)="onSelectEmoji($event)"
    emoji="point_up"
    title="Add emoji...&nbsp;&nbsp;👍"
    [autoFocus]="true"
    [perLine]="8"
    [sheetSize]="32"
    [emojisToShowFilter]="emojisToShowFilter"
  ></emoji-mart>
</span>
