<div class="post" #thisPost>
  <p class="audit">
   <strong> {{createdBy}}: </strong>
    <small>{{post?.createdDate | date: 'customDateTime'}}</small>
  </p>
  <p class="content" *ngIf="post?.content" [ngClass]="{'html':isHtml(post.content), 'text':!isHtml(post.content)}" [innerHtml]="post.content"></p>

  <div class="d-flex flex-row-reverse flex-wrap">
    <button
    id="reactionBtn"
    [ngClass]="!this.reactionPickerVisible ?
    'reaction-btn' : 'reaction-btn-selected'"
    (click)="onClickReactionBtn($event)">
      <i id="reactionBtnSmiley" class="fa-regular fa-face-smile fa-xs">
      <i id="reactionBtnPlus" class="fa-solid fa-plus fa-2xs"></i></i>
    </button>
    <button
    class="modify-reaction-btn"
    *ngFor="let reaction of post.reactions"
    (click)="onSelectReaction(reaction)">
      <span [ngbTooltip]="reactionToolTip">
        {{reaction.emoji}} {{reaction.users.length}}
      </span>
      <ng-template #reactionToolTip>
        <div id="reactionTooltipEmoji">
          {{reaction.emoji}}
        </div>
        <div *ngFor="let user of reaction.users">
          {{user.displayName}}
        </div>
      </ng-template>
    </button>
  </div>

  <div class="d-flex flex-wrap flex-row-reverse">
    <div *ngFor="let linkPreview of post.linkPreviews">
      <app-preview-link [linkPreview]="linkPreview"></app-preview-link>
    </div>
  </div>

</div>

<emoji-mart
  id="reactionPicker"
  [ngStyle]="{'left': reactionPickerXPos + 'px', 'top': reactionPickerYPos + 'px'}"
  *ngIf="reactionPickerVisible"
  (emojiClick)="onSelectEmoji($event)"
  emoji="point_up"
  title="Add emoji..."
  [autoFocus]="true"
></emoji-mart>
