<div class="row">
  <div class="col-sm-{{mainPanelColWidth}}">
    <app-chats
      [chats]="chats"
      (chatSelection)="onChatSelected($event)"
    >
    </app-chats>
  </div>

  <div class="col-sm-{{sidePanelColWidth}} admin-panel detail-panel side-panel-color">
    <div class="w-100">
      <div *ngIf="canToggleSizes()" class="float-end">
        <button class="btn btn-sm btn-outline-secondary" (click)="resizeSidePanel()"><i
          class="fas fa-arrow-{{sidePanelIsMax ? 'right' : 'left'}}"></i></button>
      </div>
      <div *ngIf="!selectedChat">
        <strong>
          Select a chat
        </strong>
      </div>

      <div *ngIf="selectedChat">
        <div class="row">
          <div class="col-10">
            <strong>{{selectedChatDisplayName}}</strong>
          </div>
          <div class="col-2">
            <button [ngbTooltip]="'Mark chat as read'" type="button" class="btn btn-sm btn-warning" (click)="onMarkChatAsRead()">
              <i class="fa-solid fa-envelope-circle-check ms-1"></i>
            </button>
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>

        <app-view-chat-posts
          [chat]="selectedChat"
        >
        </app-view-chat-posts>
      </div>
    </div>
  </div>
</div>
