<div class="container-fluid step-header" [hidden]="registrationService?.currentStep?.hideHeader">

  <div class="container">

    <h4>Step {{registrationService?.currentStep.section}} of {{registrationService?.totalSections}}</h4>

    <h1 translate dir="auto">REGISTRATION.HEADER.TITLE.{{registrationService?.currentStep?.key | uppercase}}</h1>

  </div>

  <div class="step-progress">

    <div class="step-progress-bar" *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8];let i = index;"
         [class.selected]="registrationService?.currentStep?.section === i + 1"></div>

  </div>

</div>

<div class="alert alert-danger" *ngIf="error">
  {{error.error?.message || error.message || error}}
</div>

<div class="step-body" [ngSwitch]="registrationService?.currentStepKey">

  <app-registration-landing *ngSwitchCase="'landing'">
  </app-registration-landing>

  <app-registration-contact *ngSwitchCase="'contact'">
  </app-registration-contact>

  <app-registration-personal *ngSwitchCase="'personal'">
  </app-registration-personal>

  <app-registration-candidate-occupation *ngSwitchCase="'occupation'">
  </app-registration-candidate-occupation>

  <app-registration-job-experience *ngSwitchCase="'experience'">
  </app-registration-job-experience>

  <app-registration-education *ngSwitchCase="'education'">
  </app-registration-education>

  <app-registration-masters *ngSwitchCase="'education/masters'">
  </app-registration-masters>

  <app-registration-university *ngSwitchCase="'education/university'">
  </app-registration-university>

  <app-registration-school *ngSwitchCase="'education/school'">
  </app-registration-school>

  <app-registration-language *ngSwitchCase="'language'">
  </app-registration-language>

  <app-registration-certifications *ngSwitchCase="'certifications'">
  </app-registration-certifications>

  <app-registration-additional-info *ngSwitchCase="'additional-information'">
  </app-registration-additional-info>

</div>
