:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;

  & > * {
    flex-shrink: 0;
  }
}

.explain {
  color: #e7d362;
  padding-top: 10px;
  padding-left: 20px;
}
