<div class="container-fluid step-header" [hidden]="registrationService?.currentStep?.hideHeader">

  <div class="container">

    <h5>Step {{registrationService?.currentStep.section}} of {{registrationService?.totalSections}}</h5>

    <h3 translate dir="auto">REGISTRATION.HEADER.TITLE.{{registrationService?.currentStep?.key | uppercase}}</h3>

  </div>

  <div class="step-progress">

    <div class="step-progress-bar" *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8];let i = index;"
         [class.selected]="registrationService?.currentStep?.section === i + 1"></div>

  </div>

</div>

<div class="step-body" [ngSwitch]="registrationService?.currentStepKey">

  <app-registration-landing *ngSwitchCase="'landing'">
  </app-registration-landing>

  <app-registration-contact *ngSwitchCase="'contact'">
  </app-registration-contact>

  <app-registration-personal *ngSwitchCase="'personal'">
  </app-registration-personal>

  <app-registration-candidate-occupation *ngSwitchCase="'occupation'">
  </app-registration-candidate-occupation>

  <app-registration-work-experience *ngSwitchCase="'experience'">
  </app-registration-work-experience>

  <app-registration-education *ngSwitchCase="'education'">
  </app-registration-education>

  <app-registration-language *ngSwitchCase="'language'">
  </app-registration-language>

  <app-registration-certifications *ngSwitchCase="'certifications'">
  </app-registration-certifications>

  <app-registration-additional-info *ngSwitchCase="'submit'">
  </app-registration-additional-info>

  <div class="container text-center" *ngSwitchCase="'complete'">
    <h1>Thank you for your registration!</h1>

    <p class="alert alert-warning">
      TODO: Some wordsmithing needed. Explain that they are in the system how it all works from here.
    </p>

    <div class="text-center">
      <button class="btn btn-outline-primary">Logout</button>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary">View My Profile</button>
    </div>

  </div>

</div>
