<div  class="text-start verify-email-button" >
  <ngb-toast *ngIf="showToast"   [autohide]="false" class="position-fixed bottom-0 end-0" style="margin:2rem;">
    <div class="d-flex" >
      <div class="toast-body d-flex flex-column p-30 align-items-center">
        <p>Verifying your email helps secure your account and ensures you receive important updates. Click here to </p>
        <tc-button (click)="openModal()">Verify your Email</tc-button>
      </div>
      <button type="button" class="btn-close ms-auto me-2 mt-2" aria-label="Close" (click)="hideToast()"></button>
    </div>
  </ngb-toast>
</div>
