.terms-wrapper {
  margin: auto;
  padding: 1rem;
  font-family: sans-serif;
}

.terms-box {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  text-align: center;
}
