<div class="container">

  <div class="alert alert-warning">
    Not yet brought over to new UX
  </div>

  <form [formGroup]="form" *ngIf="!loading">

    <!-- COMPANY NAME -->
    <div class="col-12">
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" name="companyName" id="companyName" [formControlName]="'companyName'">
      </div>
    </div>

    <!-- COMPANY LOCATION -->
    <div class="col-12">
      <div class="form-group">
        <label for="country">Location</label>
        <select class="form-control" name="country" id="country" [formControlName]="'country'">
          <option value=""></option>
          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
    </div>

    <!-- Occupation -->
    <div class="col-12">
      <div class="form-group">
        <label for="candidateOccupationId">Occupation</label>
        <select class="form-control" name="candidateOccupationId" id="candidateOccupationId" [formControlName]="'candidateOccupationId'">
          <option value=""></option>
          <option *ngFor="let candidateOccupation of occupations" [value]="candidateOccupation.id">{{candidateOccupation.occupation.name}}</option>
        </select>
      </div>
    </div>

    <!-- COMPANY LOCATION -->
    <div class="col-12">
      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" name="role" id="role" [formControlName]="'role'">
      </div>
    </div>

    <!-- START DATE -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="startDate">Started (month / year)</label>
        <input type="month" id="startDate" class="form-control" [formControlName]="'startDate'"
               datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

      </div>
    </div>

    <!-- END DATE -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="endDate">Finished (month / year)</label>
        <input type="month" id="endDate" class="form-control" [formControlName]="'endDate'"
               datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      </div>
    </div>

    <!-- PART TIME / FULL TIME -->
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" [formControlName]="'fullTime'">
        <span class="slider round"></span>
      </label>
      <span>Part time / Full time</span>
    </div>

    <!-- VOLUNTEER / PAID -->
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" [formControlName]="'paid'">
        <span class="slider round"></span>
      </label>
      <span>Volunteer / Paid</span>
    </div>

    <!-- ROLE DESCRIPTION -->
    <div class="col-12">
      <div class="form-group">
        <label for="description">Describe what you did in this role</label>
        <textarea class="form-control" id="description" placeholder="" [formControlName]="'description'"></textarea>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-outline-primary"
              [disabled]="form.invalid || loading || saving"
              (click)="addMore()">
        Add Work Experience
      </button>
    </div>
  </form>

  <div>
    <h4>Work Experience Summary</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Location</th>
          <th scope="col">Role</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of candidateJobExperiences">
          <td>{{e.companyName}}</td>
          <td>{{e.country.name}}</td>
          <td>{{e.role}}</td>
          <td align="center">
            <button type="button" class="close" aria-label="Close" (click)="delete(e)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<app-registration-footer (backClicked)="back()" (nextClicked)="next()"></app-registration-footer>
