<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="h6 py-2 text-right">
  Date of mini intake: xxxx. Completed by xxxx.
</div>

<div *ngIf="!loading">

  <div class="card">
    <div class="card-header">
      Confirm General Information
    </div>
    <div class="card-body">
      <app-confirm-contact
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-confirm-contact>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="card-header">
      Interest in International Recruitment
    </div>
    <div class="card-body">
      <app-avail-immediate
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-avail-immediate>
    </div>
  </div>

  <hr/>

  <div class="card">
    <div class="card-header">
      Destinations
    </div>
    <div class="card-body">
      <app-destinations
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-destinations>
      <app-destination-limit
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-destination-limit>
      <app-destination-job
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-destination-job>
    </div>
  </div>

  <hr/>

  <app-citizenships
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData"
    [nationalities]="nationalities"
  >
  </app-citizenships>

  <hr/>

  <div class="card">
    <div class="card-header">
      Personal Status / Program Eligibility
    </div>
    <div class="card-body">
      <app-host-entry-year
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-host-entry-year>
      <app-asylum-year
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-asylum-year>
      <app-residence-status
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-residence-status>
      <app-crime
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-crime>
      <app-conflict
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-conflict>
      <app-family
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-family>
    </div>
  </div>

  <hr/>

  <app-exams
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData">
  </app-exams>

  <hr/>

  <div class="card">
    <div class="card-header">
      Registration
    </div>
    <div class="card-body">
      <div class="card-title h6">
        UNHCR
      </div>
      <app-registration-unhcr
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-registration-unhcr>
      <div class="card-title h6">
        UNRWA
      </div>
      <app-registration-unrwa
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData">
      </app-registration-unrwa>
    </div>
  </div>

</div>
