<div class="login wrapper">
<div>
<form class="text-center" [formGroup]="loginForm" (submit)="login()">
  <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

  <app-error [error]="error"></app-error>

  <div class="form-group">
    <label for="username">{{ 'LOGIN.LABEL.USERNAME' | translate }}</label>
    <input id="username" class="form-control" type="text" [formControlName]="'username'">
  </div>

  <div class="form-group">
    <label for="password">{{ 'LOGIN.LABEL.PASSWORD' | translate }}</label>
    <input id="password" class="form-control" type="password" [formControlName]="'password'">
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="loading || !loginForm.valid">
    {{ 'LOGIN.BUTTON.LOGIN' | translate }}
  </button>
</form>
</div>
<div class="reset">
   <a [routerLink]="'/reset-password'">{{ 'LOGIN.BUTTON.FORGOT' | translate }}</a>
</div>
</div>
