<div class="container">

  <h1 class="text-center">Work Experience</h1>

  <form class="row" [formGroup]="form">

    <!-- COMPANY NAME -->
    <div class="col-12">
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" name="companyName" id="companyName" [formControlName]="'companyName'">
      </div>
    </div>

    <!-- COMPANY LOCATION -->
    <div class="col-12">
      <div class="form-group">
        <label for="countryId">Location</label>
        <input type="text" class="form-control" name="countryId" id="countryId" [formControlName]="'countryId'">
      </div>
    </div>

    <!-- COMPANY LOCATION -->
    <div class="col-12">
      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" name="role" id="role" [formControlName]="'role'">
      </div>
    </div>

    <!-- START DATE -->
    <div class="col-12 col-md-6">
      <!-- TODO month picker -->
      <div class="form-group">
<!--        <mat-form-field>-->
<!--          <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker1></mat-datepicker>-->
<!--        </mat-form-field>-->

<!--        <input class="form-control" type="text" id="date" placeholder="yyyy-mm" name="dp" ngbDatepicker #d="ngbDatepicker" [navigation]="navigation" min-mode="'month'" max-mode="'year'" show-weeks="false" startView="0, month" [formControlName]="'startDate'" (click)="d.toggle()"><i class="form-icon icon icon-calendar calendar-icon" (click)="d.toggle()"></i><h6 class="text-gray mt-2">xxxxx</h6>-->
        <label for="startDate">Started (month / year)</label>
        <input type="month" id="startDate" class="form-control" [formControlName]="'startDate'"
               datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

      </div>
    </div>

    <!-- END DATE -->
    <div class="col-12 col-md-6">
      <!-- TODO month picker -->
      <div class="form-group">
        <label for="endDate">Finished (month / year)</label>
        <input type="month" id="endDate" class="form-control" [formControlName]="'endDate'"
               datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      </div>
    </div>

    <!-- PART TIME / FULL TIME -->
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" [formControlName]="'fullTime'">
        <span class="slider round"></span>
      </label>
      <span>Part time / Full time</span>
    </div>

    <!-- VOLUNTEER / PAID -->
    <div class="col-12">
      <label class="switch">
        <input type="checkbox" [formControlName]="'paid'">
        <span class="slider round"></span>
      </label>
      <span>Volunteer / Paid</span>
    </div>

    <!-- ROLE DESCRIPTION -->
    <div class="col-12">
      <div class="form-group">
        <label for="description">Describe what you did in this role</label>
        <textarea class="form-control" id="description" placeholder="" [formControlName]="'description'"></textarea>
      </div>
    </div>

  </form>

  <div>
    <button class="btn btn-outline-primary" [disabled]="form.invalid" (click)="addMore()">Add Work Experience</button>
  </div>

  <div>
    <h4>Work Experience Summary</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Location</th>
          <th scope="col">Role</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of experiences">
          <td>{{e.companyName}}</td>
          <td>{{e.country}}</td>
          <td>{{e.role}}</td>
          <td align="center">
            <button type="button" class="close" aria-label="Close" (click)="delete(e)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--  <pre>{{form.value | json}}</pre>-->

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="experiences.length == '0'"
            (click)="save()">
      Submit & Next
    </button>
  </div>

</div>
