<div>

</div>

<div>
  <div class="section">
    <div class="pull-right">
      <button class="btn btn-primary" [routerLink]="['create']">Add</button>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="search()">

      <div class="form-row d-flex justify-content-between align-items-end">

        <div class="form-group col-4">
          <input type="text" class="form-control" placeholder="Search..." aria-label="Search" formControlName="keyword"
                 id="keyword">
        </div>

      </div>
    </form>
  </div>

  <div class="text-muted mb-2 align-middle">

    <ngb-pagination class="pull-right"
                    [boundaryLinks]="true"
                    [pageSize]="pageSize"
                    [collectionSize]="results?.totalElements"
                    [(page)]="pageNumber"
                    (pageChange)="search()">
    </ngb-pagination>

    Found {{results?.totalElements}} users
  </div>

  <table class="table">

    <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of results?.content">
      <td> {{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.status}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
        </div>
      </td>
    </tr>

    <!-- loading -->
    <tr *ngIf="loading">
      <td colspan="42">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </td>
    </tr>

    <!-- no results -->
    <tr *ngIf="!loading && !results?.totalElements">
      <td colspan="42">
        <span class="text-muted">(no matching users)</span>
      </td>
    </tr>

    </tbody>

  </table>

</div>

