<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="form-group">
    <label for="visaJobEligible186">Eligible for 186?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="visaJobEligible186" [formControlName]="'visaJobEligible186'">
      <option *ngFor="let opt of visa186Options" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="hasNotes" class="form-group">
    <label for="visaJobEligible186Notes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaJobEligible186Notes" [formControlName]="'visaJobEligible186Notes'"
              placeholder="" [readOnly]="!editable"></textarea>
  </div>
</form>
