<div class="d-flex justify-content-around small">
  <span class="text-success font-weight-bold" [ngbTooltip]="this.completed?.length + ' completed'">{{this.completed?.length}}</span>
  <span class="text-alert font-weight-bold" [ngbTooltip]="this.abandoned?.length + ' abandoned'">{{this.abandoned?.length}}</span>
  <span class="font-weight-bold" [ngbTooltip]="this.outstandingNotOverdue?.length + ' outstanding not overdue'">{{this.outstandingNotOverdue?.length}}</span>
  <span class="text-danger font-weight-bold" [ngbTooltip]="this.outstandingOverdue?.length + ' outstanding overdue'">{{this.outstandingOverdue?.length}}</span>
</div>
