
<div class="page-header d-flex justify-content-between align-items-center mb-0">
  <img src="assets/tbbLogo.png" alt="TBB Logo">
  <button class="btn btn-secondary" (click)="print()">Print CV</button>
  <h4 class="light-text mb-0">#{{candidate.candidateNumber}} - {{candidate?.country?.name}}</h4>
</div>

<div class="page-footer">
  I'm The Footer
</div>

<div>
  <div class="row">
    <div class="page-header-space"></div>
  </div>
  <div class="page">

    <div class="row">
      <div class="col-12">
        <h4>Job Experience</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2" *ngFor="let experience of candidate?.candidateJobExperiences; let i = index;">
        <h5>{{experience.role}} - <span class="font-italic">{{experience.companyName}}, {{experience.country.name}}</span></h5>
        <h6>{{experience.startDate | date: 'customMonthYear' }} - {{experience.endDate | date: 'customMonthYear' }}</h6>

        <p>
          {{experience.description}}
        </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <h4>Education</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12" *ngFor="let education of candidate?.candidateEducations; let i = index;">
        <h5>{{education.educationType}} in {{education.educationMajor?.name}} : {{education.courseName}}</h5>
        <h6>{{education.yearCompleted}}<span *ngIf="education.incomplete">Candidate has not completed</span></h6>

        <p>
          {{education.institution}}, {{education.country.name}}
        </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <h4>Languages</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6" *ngFor="let language of candidate?.candidateLanguages; let i = index;">
        <h5>{{language.language.name}}</h5>
        <p class="mb-0">Written Level: {{language.writtenLevel.name}}</p>
        <p>Spoken Level: {{language.spokenLevel.name}}</p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <h4>Certifications</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6" *ngFor="let certification of candidate?.candidateCertifications; let i = index;">
        <h5>{{certification.name}} - <span class="font-italic">{{certification.institution}}</span></h5>
        <h6>{{certification.dateCompleted | date}}</h6>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="page-footer-space"></div>
  </div>
</div>

