<div class="container">

  <h1 class="text-center">Let's get started</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur cupiditate, doloremque fugiat quam quia sit suscipit totam! Beatae debitis, exercitationem incidunt ipsum numquam officiis ullam. Delectus enim necessitatibus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae blanditiis cupiditate, dolor dolorem ea eos exercitationem illum ipsum itaque iure, labore non perspiciatis porro quaerat quam quos sit veniam.
  </p>

  <div class="text-center">
    <button class="btn btn-primary" (click)="next()">
      Register now
    </button>
  </div>

</div>
