@import '../color-classes';
@import '../color-mixins';
@import '../support-colors';
@import '../typography-mixins';
@import '../typography-classes';

.tc-select.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
 border-color: color(primary, 500);
  box-shadow: 0 0 0 1px color(primary, 500);
  border-color: white;
}

.tc-select.ng-select.ng-select-opened > .ng-select-container {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  @include border-color-base;
}

.tc-select {
  width: 100%;

  &.ng-select-multiple {
    .ng-select-container .ng-value-container {
      padding-top: 3px;
      .ng-value {
        padding: 3px 0;
        margin-bottom: 3px;
      }
    }
  }

  .ng-select-container {
    @include border-color-base;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 0.11rem 0.1rem;
    transition: border-color 0.2s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &.ng-select-disabled {
      @include background-color-disabled;
      @include text-color-disabled;
      cursor: not-allowed;
    }

    &.ng-select-focused, &.ng-dirty {
      outline: none;
      @include border-color-info;
      box-shadow: 0 0 0 1px color(primary, 500);
    }

    &.ng-invalid {
      @include border-color-error;
    }

    &.ng-invalid.ng-select-focused {
      @include border-color-info;
      box-shadow: 0 0 0 1px color(primary, 500);
    }
  }

  // Dropdown panel
  .ng-dropdown-panel {
    @include border-color-base;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.10);
    margin: 0.15rem 0;

    .ng-dropdown-panel-items {
      border-radius: 8px;
    }

    // Option styles
    .ng-option {
      padding: 0.75rem;
      font-weight: 400;
      transition: background 0.2s;
      &.ng-option-marked {
        background-color: white !important;
      }

      &.ng-option-selected {
        background-color: color(primary, 50) !important;
        font-weight: 400;
        position: relative;
      }

      &.ng-option-selected::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%230084d1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20,6 9,17 4,12'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 16px;
        background-position-y: center;
        background-repeat: no-repeat;
      }

      &:hover {
        background: color(primary, 100) !important;
      }
    }

  }

  &.ng-select-multiple {
    .ng-value {
      background: color(primary, 100) !important;
      border-radius: 0.3rem !important;
    }
  }

  .ng-value-icon:hover {
    background: color(primary, 200) !important;
    border-radius: 0.3rem 0 0 0.3rem !important;
  }
}
