<h1>Welcome!</h1>

<ngb-tabset>

  <ngb-tab [title]="'Profession searches'">
    <ng-template ngbTabContent>
      <app-saved-searches [savedSearchType]="'profession'"></app-saved-searches>
    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'Job searches'">
    <ng-template ngbTabContent>
      <app-saved-searches [savedSearchType]="'job'"></app-saved-searches>
    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'Other searches'">
    <ng-template ngbTabContent>
      <app-saved-searches [savedSearchType]="'other'"></app-saved-searches>
    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'All'">
    <ng-template ngbTabContent>
      <app-saved-searches></app-saved-searches>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

