<p class="text-muted" *ngIf="!loading && !attachments.length">
  {{ 'REGISTRATION.ATTACHMENTS.EMPTYSTATE' | translate }}
</p>

<div class="attachments">
  <div class="mb-3" *ngFor="let attachment of attachments; let i = index;" [class.card]="!preview">

    <div class="text-right" *ngIf="!preview && attachment.createdBy.id == user?.id">
      <button class="btn btn-danger btn-card"
              [disabled]="deleting"
              (click)="deleteAttachment(attachment)">&times;</button>
    </div>

    <div class="row">

      <div class="col-12">

        <div class="form-group">
          <label>{{ 'REGISTRATION.ATTACHMENTS.LABEL.NAME' | translate }}
            <span *ngIf="downloading">
                ...
            </span>
          </label>
          <p>
            <!-- Non Google files - ie links and AWS files -
             we can just follow their urls-->
            <a *ngIf="attachment.type!==AttachmentType.googlefile"
               target="_blank" [href]="getAttachmentUrl(attachment)">
              {{attachment.name}}
            </a>
            <!-- With Google files we can't link to the Google Shared Drive
             because Google's security prevents that.
             So instead, we download a copy of the file to the browser computer
             and show that-->
            <a *ngIf="attachment.type===AttachmentType.googlefile"
               (click)="downloadCandidateAttachment(attachment)"
               target="_blank" class="is-link">
              {{attachment.name}}
            </a>
          </p>
        </div>

      </div>

      <div class="col-12 col-md-6">

        <div class="form-group m-md-0">
          <label>{{ 'REGISTRATION.ATTACHMENTS.LABEL.CREATEDBY' | translate }}</label>
          <p *ngIf="attachment.createdBy && attachment.createdBy.id == user?.id">{{attachment.createdBy.firstName}} {{attachment.createdBy.lastName}}</p>
          <p *ngIf="attachment.createdBy && attachment.createdBy.id !== user?.id">Admin</p>
          <p *ngIf="!attachment.createdBy">Unknown</p>
        </div>

      </div>

      <div class="col-12 col-md-6">

        <div class="form-group m-md-0">
          <label>{{ 'REGISTRATION.ATTACHMENTS.LABEL.CREATEDDATE' | translate }}</label>
          <p>{{attachment.createdDate | date}}</p>
        </div>

      </div>

    </div>

    <hr *ngIf="preview && i < attachments?.length - 1">

  </div>
</div>

<app-error [error]="error"></app-error>

<app-file-upload *ngIf="!preview && !loading" [uploading]="uploading" (uploadStarted)="startServerUpload($event)"></app-file-upload>



