<div class="row">
  <div class="col-sm-{{mainPanelColWidth}}">
    <app-show-candidates-with-chat
      [chatsRead$]="chatsRead$"
      (candidateSelection)="onCandidateSelected($event)"
    ></app-show-candidates-with-chat>
  </div>

  <div class="col-sm-{{sidePanelColWidth}}">
    <div *ngIf="canToggleSizes()" class="float-end">
      <button class="btn btn-sm btn-outline-secondary" (click)="resizeSidePanel()">
        <i class="fas fa-arrow-{{sidePanelIsMax ? 'right' : 'left'}}"></i>
      </button>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>
    <div class="detail-panel side-panel-color vh-100 d-flex flex-column"
         [ngClass]="selectedCandidate != null ?
            'justify-content-between':'justify-content-center'"
    >
      <div *ngIf="selectedCandidate; else noSelectedChat">
        <h5 class="text-center text-accent-1 mb-3">{{chatHeader}}</h5>
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <app-view-chat-posts
          [chat]="selectedCandidateChat"
        ></app-view-chat-posts>
      </div>
      <ng-template #noSelectedChat>
        <div class="text-muted py-4 fw-light text-center fs-5">
          Select candidate from table to chat
        </div>
      </ng-template>
    </div>
  </div>
</div>
