
<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="!loading">
  <div class="d-flex justify-content-between">
    <h5 class="mb-4">Job Opportunity Intake (JOI)</h5>
  </div>
  <!-- JOB DESTINATION -->


  <ngb-accordion #joi="ngbAccordion" [destroyOnHide]="false" activeIds="intake-confirm">

    <!-- GENERAL INFORMATION -->
    <ngb-panel id="intake-confirm" title="Employer Information">
      <ng-template ngbPanelContent>
        <div class="row row-cols-3">
          <div class="col">
            <label>Destination: </label>
            <span>{{job.country}}</span>
          </div>
          <div class="col">
            <label>Employer: </label>
            <span>{{job.employer}}</span>
          </div>
          <div class="col">
            <label>Company website: </label>
            <span>{{job.website}}</span>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="immigrationGen" [title]="'Immigration Considerations (Australia) *PREFILLED/PULLED FROM OTHER COMPLETED AUSTRALIAN JOI*'">
      <ng-template ngbPanelContent>
        <app-min-salary
          [entity]="job"
          [jobIntakeData]="jobIntakeData"
          [editable]="!loggedInUser.readOnly">
        </app-min-salary>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <hr/>

    <ngb-accordion #joi="ngbAccordion" [destroyOnHide]="false">
      <ngb-panel id="position-details" title="Position Details">
        <ng-template ngbPanelContent>
          <app-job-title
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-title>
          <app-job-description
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-description>
          <app-job-salary
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-salary>
          <app-job-location
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-location>
          <app-job-location-details
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-location-details>
          <app-job-benefits
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-benefits>
          <app-job-experience
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-experience>
          <app-job-education
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-education>
          <app-job-skills
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-job-skills>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="immigrationJob" title="Immigration Considerations (Job)">
        <ng-template ngbPanelContent>
          <app-occupation-code
            [entity]="job"
            [jobIntakeData]="jobIntakeData"
            [editable]="!loggedInUser.readOnly">
          </app-occupation-code>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>


</div>
