<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">

  <div class="container">

    <!-- LOGO -->
    <a [routerLink]="'/'">
      <img class="logo" src="../../../assets/images/logo.png" alt="Logo">
    </a>

    <!-- MOBILE NAV TOGGLE -->
    <button class="navbar-toggler hidden-sm-up" type="button"
            data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

      <!-- JUMP TO -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown" ngbDropdown>

          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            Jump to
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="'/'">Home</a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'landing'}">Register</a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'contact'}">
              Contact
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'personal'}">
              Personal
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'occupation'}">
              Occupation
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'experience'}">
              Experience
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'education'}">
              Education
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'language'}">
              Language
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'certifications'}">
              Certifications
            </a>
            <a class="dropdown-item alert-success" [routerLink]="'/register'" [queryParams]="{step: 'submit'}">
              Additional Info
            </a>
          </div>

        </li>
      </ul>

      <!-- TRANSLATION -->
      <ul class="navbar-nav">
        <div class="nav-item dropdown" ngbDropdown>
          <a class="dropdown-toggle translation-toggle" ngbDropdownToggle>
            {{selectedLanguage}}
          </a>

          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" *ngFor="let lang of languages" (click)="useLanguage(lang.language)">{{lang.label}}</a>
          </div>
        </div>
      </ul>

      <!-- ACCOUNT -->
      <ul class="navbar-nav" *ngIf="user">
        <li class="nav-item dropdown" ngbDropdown>

          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>

        </li>
      </ul>

      <!-- LOGIN -->
      <a class="btn btn-link" routerLink="/login" *ngIf="!user">Sign In</a>

    </div>

  </div>

</nav>
