<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'/'">
      <img class="logo" src="../../../assets/images/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler hidden-sm-up" type="button"
            data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

      <!-- JUMP TO -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown" ngbDropdown>

          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            Jump to
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="'/'">Home</a>
            <a class="dropdown-item" [routerLink]="'/register/contact'">Contact</a>
            <a class="dropdown-item" [routerLink]="'/register/contact/additional'">Alternative</a>
            <a class="dropdown-item" [routerLink]="'/register/personal'">Personal</a>
            <a class="dropdown-item" [routerLink]="'/register/nationality'">Nationality</a>
            <a class="dropdown-item" [routerLink]="'/register/experience'">Experience</a>
            <a class="dropdown-item" [routerLink]="'/register/language'">Language</a>
            <a class="dropdown-item" [routerLink]="'/register/certifications'">Certifications</a>
            <a class="dropdown-item" [routerLink]="'/register/additional-information'">Additional Info</a>
          </div>

        </li>
      </ul>

      <!-- TRANSLATION -->
      <ul class="navbar-nav">
        <div class="nav-item dropdown" ngbDropdown>
          <a class="dropdown-toggle translation-toggle" ngbDropdownToggle>
            {{languageService.getSelectedLanguage()}}
          </a>

          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" *ngFor="let lang of languages" (click)="useLanguage(lang.language)">{{lang.label}}</a>
          </div>
        </div>
      </ul>

      <!-- ACCOUNT -->
      <ul class="navbar-nav" *ngIf="user">
        <li class="nav-item dropdown" ngbDropdown>

          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            {{user?.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>

        </li>
      </ul>

      <!-- LOGIN -->
      <a class="btn btn-link" routerLink="/login" *ngIf="!user">Sign In</a>

    </div>
  </div>
</nav>
