<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="visaIssues" ngbTooltip="Tooltip on top">Is there anything about your background that could
      be of concern in the visa process?</label>
    <span *ngIf="saving">
      <i class="fas fa-spinner fa-spin"></i> saving...
    </span>
    <ng-multiselect-dropdown
      id="visaIssues"
      [settings]="dropdownSettings"
      [data]="visaIssueOptions"
      formControlName="visaIssues">
    </ng-multiselect-dropdown>
  </div>

  <div *ngIf="haveIssues">
    <div class="form-group">
      <label for="visaIssuesNotes">Please explain each issue</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="4"
                id="visaIssuesNotes" [formControlName]="'visaIssuesNotes'"
                placeholder="" ></textarea>
    </div>
  </div>
</form>



