<div *ngIf="isCandidateSelected && sourceType === 'searches' || sourceType === 'lists'">
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>

  <form [formGroup]="form">

    <div class="form-group">
      <label class="h6" for="contextNotes">
        <span *ngIf="typing">
          <i class="far fa-keyboard"></i>
        </span>
        <span *ngIf="saving">
          <i class="fas fa-spinner fa-spin"></i>
        </span>
        <span *ngIf="!typing && !saving">
          <i class="far fa-save"></i>
        </span>
        <span *ngIf="isSearch()">Notes for {{candidate.user.firstName}} in
          '{{candidateSource.name}}' search selection</span>
        <span *ngIf="!isSearch()">Notes for {{candidate.user.firstName}} in
          '{{candidateSource.name}}'</span>
      </label>


      <textarea id="contextNotes" class="md-textarea-auto form-control" rows="3"
                [formControlName]="'contextNote'"></textarea>
    </div>

  </form>
  <hr>
</div>
