<div class="container">

  <div class="alert alert-warning">Not yet brought over to new UX</div>

  <div class="d-flex justify-content-center" *ngIf="loading">
    Loading...
  </div>

  <form [formGroup]="form" *ngIf="!loading">

    <div class="form-group">
      <label for="name">CandidateCertification Name</label>
      <input type="text" class="form-control" id="name" placeholder="" [formControlName]="'name'">
    </div>

    <div class="form-group">
      <label for="institution">Institution Name</label>
      <input type="text" class="form-control" id="institution" placeholder="" [formControlName]="'institution'">
    </div>

    <div class="form-group">
      <label for="dateCompleted">Date of Receipt</label>
      <input type="date" id="dateCompleted" class="form-control" [formControlName]="'dateCompleted'" datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
    </div>

    <div class="text-right">
      <button class="btn btn-outline-primary"
              (click)="addMore()"
              [disabled]="form.invalid || loading || saving">
        Add CandidateCertification
      </button>
    </div>

  </form>


  <!-- CERTIFICATIONS SUMMARY -->
  <h4>Certifications Summary</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">CandidateCertification Field</th>
      <th scope="col">Institution Field</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of candidateCertifications">
      <td>{{c.name}}</td>
      <td>{{c.institution}}</td>
      <td>
        <button type="button" class="close" aria-label="Close"
                [disabled]="saving"
                (click)="delete(c)">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="alert alert-danger" *ngIf="error">
    {{error.error?.message || error.message || error}}
  </div>

<!--  <div class="text-right">-->
<!--    <button class="btn btn-primary"-->
<!--            [disabled]="candidateOccupations?.length === 0 || loading || saving"-->
<!--            (click)="next()">-->
<!--      Next-->
<!--    </button>-->
<!--  </div>-->


</div>

<app-registration-footer (backClicked)="registrationService.back()" (nextClicked)="registrationService.next()"></app-registration-footer>
