<div class="container">

  <div class="d-flex justify-content-center" *ngIf="loading">
    Loading...
  </div>

  <ng-container *ngIf="!loading">

    <div class="card" *ngFor="let certificate of candidateCertifications">
      <div class="text-right">
        <button class="btn btn-danger" [disabled]="saving" (click)="deleteCertificate(certificate)">&times;</button>
      </div>
      <pre>{{certificate | json}}</pre>
    </div>

    <form class="card" [formGroup]="form" *ngIf="addingCertification">

      <div class="form-group">
        <label for="name">{{ 'REGISTRATION.CERTIFICATIONS.LABEL.NAME' | translate }}</label>
        <input type="text" class="form-control" id="name" placeholder="" [formControlName]="'name'">
      </div>

      <div class="form-group">
        <label for="institution">{{ 'REGISTRATION.CERTIFICATIONS.LABEL.INSTITUTION' | translate }}</label>
        <input type="text" class="form-control" id="institution" placeholder="" [formControlName]="'institution'">
      </div>

      <div class="form-group">
        <label for="dateCompleted">{{ 'REGISTRATION.CERTIFICATIONS.LABEL.DATECOMPLETED' | translate }}</label>
        <input type="date" id="dateCompleted" class="form-control" [formControlName]="'dateCompleted'" datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      </div>

      <div class="text-center">
        <button class="btn btn-outline-primary"
                (click)="addCertificate()"
                [disabled]="form.invalid || loading || saving">
          {{ 'REGISTRATION.CERTIFICATIONS.BUTTON.ADD' | translate }}
        </button>
      </div>

    </form>

  </ng-container>

  <div class="alert alert-danger" *ngIf="error">
    {{error.error?.message || error.message || error}}
  </div>

  <div class="text-center mt-4" *ngIf="!addingCertification">
    <button class="btn btn-primary" (click)="addingCertification = true">
      {{ 'REGISTRATION.CERTIFICATIONS.BUTTON.ADD' | translate }}
    </button>
  </div>

</div>

<app-registration-footer [disabled]="loading || saving"
                         (backClicked)="registrationService.back()"
                         (nextClicked)="registrationService.next()">
</app-registration-footer>
