<div class="card">

  <div class="card-header">
    Candidate Job Opportunity Progress
    <div class="float-end" *ngIf="editable">
      <button class="btn btn-sm btn-outline-secondary" title="Update progress" (click)="editOppProgress()">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-solid fa-map-location-dot"></i>Stage</label>
        <div class="form-control-plaintext">
          {{getCandidateOpportunityStageName(opp.stage)}}
        </div>
      </div>

      <div class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-solid fa-circle-arrow-right"></i>Next Step</label>
        <div class="form-control-plaintext">
          {{opp.nextStep}}
        </div>
      </div>

      <div class="mb-3 col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa-regular fa-calendar-days"></i>Next Step Due Date</label>
        <div class="form-control-plaintext">
          {{opp.nextStepDueDate}}
        </div>
      </div>
    </div>
  </div>
</div>
