@import "../../../../scss/color-mixins";

.tc-table {
  @include background-color-white;
  // todo use a border mixin
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  padding: 32px 0 48px 0;
}

.table-name {
  font-size: 16px;
  font-weight: 600;
  padding-left: 24px;
}
