@import "../../../../scss/color-mixins";
@import "../../../../scss/typography-mixins";

.tc-table {
  @include background-color-white;
  border: 1px solid;
  @include border-color-base;
  border-radius: 12px;
  padding: 32px 0 48px 0;
}

.table-name {
  @include label-md;
  font-weight: 600;
  padding-left: 24px;
}
