@import "../../../../scss/color-mixins";
@import "../../../../scss/typography-mixins";

.tc-table {
  @include background-color-white;
  border: 1px solid;
  @include border-color-base;
  border-radius: 12px;
  padding: 32px 0 48px;

  .table-responsive table.table {
    tbody tr:nth-child(odd) {
      @include background-color-white;
    }

    tbody tr:nth-child(even) {
      background-color: color(gray, 50);
    }
  }

  .table-name {
    @include label-md;
    font-weight: 600;
    padding-left: 24px;
  }

  .table-responsive {
    table.table {
      width: 100%;
      @include paragraph-sm;

      th {
        border-bottom: 1px solid;
        @include border-color-base;
        padding: 10px;
        color: #71717A;
      }

      td {
        border-bottom: 1px solid;
        line-height: 25px;
        @include border-color-light;
        padding: 10px;
        @include text-color-body;
        tc-icon {
          // Add some margin to the icons in a table column to space them out
          margin-left: 3px;
        }
      }

      tr {
        vertical-align: middle;
      }

      &.clickable-rows {
        &.table-hover > tbody > tr:hover {
          @include background-color-soft;
          cursor: pointer;
          background-color: color(primary, 50) !important;
        }

        tr.current {
          background-color: color(primary, 100) !important;
        }

        tr.selected {
          background-color: color(primary, 100) !important;
        }

        tr.clickable:hover {
          cursor: pointer;
        }
      }

      tr a {
        @include paragraph-sm;
      }
    }
  }

  .table-hover tbody tr:hover {
    --bs-table-hover-bg:  color(primary, 50) !important;
  }

  .alert-warning {
    background-color: color(yellow, 50) !important;
    --bs-alert-bg:  color(yellow, 50);
  }

  .tc-icon {
    color: color(secondary, 500) !important;
  }

  .tc-icon > i {
    font-size: 1rem !important;
  }
}
