<div class="modal-header">

  <h4 class="modal-title">Add User</h4>

  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>

  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSave()"
          [disabled]="userForm.invalid || saving">
    <i class="fas fa-spinner fa-spin" *ngIf="saving"></i>
    Save
  </button>
</div>
