<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/candidates']">Candidates</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{savedSearch ? savedSearch.name : 'Search'}}</li>
  </ol>
</nav>

<div class="d-flex justify-content-between mb-4">
  <h3 class="m-0">Candidate Search</h3>
</div>

<div [hidden]="loading">
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
  <form class="form-row" [formGroup]="searchForm" (ngSubmit)="search()" #formWrapper>

    <!-- KEYWORD -->
    <div class="form-group col-12 col-md-3">
      <label for="keyword">Keyword</label>
      <input id="keyword" type="text" class="form-control" placeholder="Search..." aria-label="Search"
             formControlName="keyword">
    </div>

    <!-- STATUS -->
    <div class="form-group col-12 col-md-3">
      <label>Status</label>
      <ng-multiselect-dropdown
        name="statuses"
        [placeholder]="''"
        [data]="statuses"
        formControlName="statusesDisplay"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event, 'statuses')"
        (onDeSelect)="onItemDeSelect($event, 'statuses')"
        (onSelectAll)="onSelectAll($event, 'statuses')"
        (onDeSelectAll)="onDeSelectAll('statuses')">
      </ng-multiselect-dropdown>
    </div>

    <!-- OCCUPATION (VETTED) -->
    <div class="form-group col-12 col-md-3">
      <label class="m-0">
        <div>
          <span>Occupation</span>
        </div>
        <small class="text-muted">(TBB vetted)</small>
      </label>

      <div class="operator">
        <button class="btn btn-link" type="button"
                [class.active]="searchForm.value.verifiedOccupationSearchType === 'or'"
                (click)="handleSearchTypeChange('verifiedOccupationSearchType', 'or')">any
        </button>
        <button class="btn btn-link" type="button"
                [class.active]="searchForm.value.verifiedOccupationSearchType === 'not'"
                (click)="handleSearchTypeChange('verifiedOccupationSearchType', 'not')">not
        </button>
      </div>

      <ng-multiselect-dropdown
        name="verifiedOccupationIds"
        [placeholder]="''"
        [data]="verifiedOccupations"
        formControlName="verifiedOccupations"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event, 'verifiedOccupationIds')"
        (onDeSelect)="onItemDeSelect($event, 'verifiedOccupationIds')"
        (onSelectAll)="onSelectAll($event, 'verifiedOccupationIds')"
        (onDeSelectAll)="onDeSelectAll('verifiedOccupationIds')">
      </ng-multiselect-dropdown>
    </div>

    <!-- ENGLISH LANGUAGE -->
    <div class="form-group col-12 col-md-3">
      <label>English Proficiency</label>
      <app-language-level-form-control #englishLanguage
                                       [model]="englishLanguageModel"
                                       [languages]="languages"
                                       [languageLevels]="languageLevels"
                                       [languageDisabled]="true"
                                       (modelUpdated)="handleLanguageLevelChange($event, 'english')">
      </app-language-level-form-control>
    </div>

    <!-- TOGGLE FILTERS -->
    <div class="col-12">
      <div class="row">
        <div class="offset-3 col-6">
          <button type="button" class="btn btn-outline-primary w-100" (click)="moreFilters = !moreFilters">
            <span *ngIf="!moreFilters">More Filters</span>
            <span *ngIf="moreFilters">Less Filters</span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-row p-0 w-100" [hidden]="!moreFilters">

      <hr class="w-100">

      <!-- OCCUPATION + PROFILE GROUP -->
      <div class="col-12 col-md-4 filter-group">

        <div class="d-flex flex-wrap">

          <!-- OCCUPATION MULTISELECT -->
          <div class="form-group col-12">
            <label>Occupation (candidate specified)</label>
            <ng-multiselect-dropdown
              name="occupationIds"
              [placeholder]="''"
              [data]="candidateOccupations"
              formControlName="occupations"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event, 'occupationIds')"
              (onDeSelect)="onItemDeSelect($event, 'occupationIds')"
              (onSelectAll)="onSelectAll($event, 'occupationIds')"
              (onDeSelectAll)="onDeSelectAll('occupationIds')">
            </ng-multiselect-dropdown>
          </div>

          <!-- PROFILE KEYWORD -->
          <div class="form-group col-12">
            <label for="orProfileKeyword">Or profile has any of these words</label>
            <input id="orProfileKeyword" type="text" class="form-control" placeholder="Butcher, Meat, Beef"
                   aria-label="Search" formControlName="orProfileKeyword">
          </div>

        </div>

      </div>

      <div class="col-12 col-md-8">

        <div class="d-flex flex-wrap">

          <!-- AGE -->
          <div class="col-12 col-md-6">

            <div class="d-flex flex-wrap">

              <!-- MIN AGE -->
              <div class="form-group col-6 pl-0">
                <label for="minAge">Min Age</label>
                <input id="minAge" type="number" class="form-control" name="minAge" [formControlName]="'minAge'">
              </div>

              <!-- MAX AGE -->
              <div class="form-group col-6 pr-0">
                <label for="maxAge">Max Age</label>
                <input id="maxAge" type="number" class="form-control" name="maxAge" [formControlName]="'maxAge'">
              </div>
            </div>

          </div>

          <!-- MODIFIED BETWEEN -->
          <div class="form-group col-12 col-md-6">
            <label>Last Modified</label>
            <app-date-range-picker #modifiedDate (dateSelected)="handleDateSelected($event, 'lastModified')">
            </app-date-range-picker>
          </div>

          <!-- COUNTRIES  -->
          <div class="form-group col-12 col-md-4">
            <label>Country</label>
            <ng-multiselect-dropdown
              name="country"
              [data]="countries"
              formControlName="countries"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event, 'countryIds')"
              (onDeSelect)="onItemDeSelect($event, 'countryIds')"
              (onSelectAll)="onSelectAll($event, 'countryIds')"
              (onDeSelectAll)="onDeSelectAll('countryIds')">
            </ng-multiselect-dropdown>
          </div>

          <!-- EDUCATION LEVEL -->
          <div class="form-group col-12 col-md-4">
            <label for="minEducationLevel">Education Level (minimum)</label>
            <select class="form-control" id="minEducationLevel" name="minEducationLevel"
                    [formControlName]="'minEducationLevel'">
              <option value=""></option>
              <option *ngFor="let level of educationLevels" [value]="level.level">
                {{level.name}}
              </option>
            </select>
          </div>

          <!-- EDUCATION MAJOR -->
          <div class="form-group col-12 col-md-4">
            <label>Education major</label>
            <ng-multiselect-dropdown
              name="educationMajorIds"
              [data]="educationMajors"
              formControlName="educationMajors"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event, 'educationMajorIds')"
              (onDeSelect)="onItemDeSelect($event, 'educationMajorIds')"
              (onSelectAll)="onSelectAll($event, 'educationMajorIds')"
              (onDeSelectAll)="onDeSelectAll('educationMajorIds')">
            </ng-multiselect-dropdown>
          </div>

        </div>

      </div>

      <!-- OTHER LANGUAGE -->
      <div class="form-group col-12 col-md-4">
        <label>Other Language</label>
        <app-language-level-form-control #otherLanguage
                                         [languages]="languages"
                                         [languageLevels]="languageLevels"
                                         [model]="otherLanguageModel"
                                         (modelUpdated)="handleLanguageLevelChange($event, 'other')">
        </app-language-level-form-control>
      </div>

      <!-- NATIONALITY -->
      <div class="form-group col-12 col-md-4">
        <label>Nationality</label>

        <div class="operator">
          <button class="btn btn-link" type="button"
                  [class.active]="searchForm.value.nationalitySearchType === 'or'"
                  (click)="handleSearchTypeChange('nationalitySearchType', 'or')">any
          </button>
          <button class="btn btn-link" type="button"
                  [class.active]="searchForm.value.nationalitySearchType === 'not'"
                  (click)="handleSearchTypeChange('nationalitySearchType', 'not')">not
          </button>
        </div>

        <ng-multiselect-dropdown
          name="selectedNationalities"
          [placeholder]="'Select Nationalities'"
          [data]="nationalities"
          formControlName="nationalities"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event, 'nationalityIds')"
          (onDeSelect)="onItemDeSelect($event, 'nationalityIds')"
          (onSelectAll)="onSelectAll($event, 'nationalityIds')"
          (onDeSelectAll)="onDeSelectAll('nationalityIds')">
        </ng-multiselect-dropdown>
      </div>

      <!-- GENDER -->
      <div class="form-group col-12 col-md-4">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender" [formControlName]="'gender'">
          <option [ngValue]="null"></option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="other">Other</option>
        </select>
      </div>

      <!-- UN REGISTERED - removed for now -->
      <!--      <div class="form-group col-12 col-md-3">-->
      <!--        <label for="unRegistered">UN Registered</label>-->
      <!--        <select class="form-control" name="unRegistered" id="unRegistered" [formControlName]="'unRegistered'">-->
      <!--          <option value=""></option>-->
      <!--          <option [value]="true">Yes</option>-->
      <!--          <option [value]="false">No</option>-->
      <!--        </select>-->
      <!--      </div>-->

      <hr class="w-100">

      <div class="form-group col-12">
        <span>Joined Searches</span>
        <div class="pull-right">
          <button class="btn btn-primary" (click)="addSavedSearchJoin()">Add</button>
        </div>
      </div>

      <!-- SEARCH JOINS -->
      <ng-container *ngFor="let join of searchForm.value.searchJoinRequests">
        <div class="form-group col-2">
          <div class="form-control">
            {{join.searchType}}
          </div>
        </div>
        <div class="form-group col-5 offset-4">
          <div class="form-control">
            {{join.name}}
          </div>
        </div>
        <div class="form-group col-1">
          <button class="btn btn-danger" (click)="deleteSavedSearchJoin(join)"><i class="fa fa-trash"></i></button>
        </div>
      </ng-container>


    </div>

    <hr class="w-100">

    <!-- LOAD SAVED SEARCH  -->
    <div class="form-group col-4">
      <button type="button" class="btn btn-outline-dark w-100" (click)="showSavedSearches()">Load Saved Search</button>
    </div>

    <!-- SAVE SEARCH  -->
    <div class="form-group col-4">
      <button type="button" class="btn btn-outline-primary w-100" (click)="openSavedSearchModal()">Save Search</button>
    </div>

    <div class="form-group col-4">
      <button class="btn btn-outline-primary w-100" (click)="exportCandidates()">
        <i class="fa fa-spinner fa-spin" *ngIf=exporting></i>
        Download
      </button>
    </div>
    <!-- SHORT LIST STATUS FILTER -->
    <div class="form-group col-12" *ngIf="savedSearch">
      <label for="shortlistStatus">Candidate review status</label>
      <select class="form-control" id="shortlistStatus"  [formControlName]="'shortListStatusField'" (change)="setSortListStatus($event.target.value)">
        <option value="valid">New And Verified</option>
        <option value="pending">New</option>
        <option value="verified">Verified</option>
        <option value="rejected">Rejected</option>
      </select>
    </div>

    <!-- CLEAR FORM -->
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark mr-2"
                [disabled]="loading"
                (click)="clearForm()">Clear
        </button>

        <button type="submit" class="btn btn-primary" [disabled]="loading">Apply</button>
      </div>
    </div>


  </form>

  <div class="filter-results text-muted">
    <span>Found {{results?.totalElements}} candidates</span>

    <ngb-pagination [boundaryLinks]="true"
                    [pageSize]="pageSize"
                    [collectionSize]="results?.totalElements"
                    [(page)]="pageNumber"
                    [maxSize]="5"
                    [boundaryLinks]="true"
                    (pageChange)="search()">
    </ngb-pagination>
  </div>

  <div class="split-view" [class.show]="!!selectedCandidate">

    <div class="table-wrapper">
      <table class="table">

        <thead>
        <tr>
          <th class="w-25" (click)="toggleSort('id')">
            <app-sorted-by [column]="'id'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
            Candidate #
          </th>
          <th (click)="toggleSort('user.firstName')">
            <app-sorted-by [column]="'user.firstName'" [sortColumn]="sortField"
                           [sortDirection]="sortDirection"></app-sorted-by>
            First Name
          </th>
          <th (click)="toggleSort('user.lastName')">
            <app-sorted-by [column]="'user.lastName'" [sortColumn]="sortField"
                           [sortDirection]="sortDirection"></app-sorted-by>
            Last Name
          </th>
          <th *ngIf="savedSearch">Reviewed</th>
          <th (click)="toggleSort('nationality.name')">
            <app-sorted-by [column]="'nationality.name'" [sortColumn]="sortField"
                           [sortDirection]="sortDirection"></app-sorted-by>
            Nationality
          </th>
          <th (click)="toggleSort('country.name')">
            <app-sorted-by [column]="'country.name'" [sortColumn]="sortField"
                           [sortDirection]="sortDirection"></app-sorted-by>
            Location
          </th>
          <th (click)="toggleSort('gender')">
            <app-sorted-by [column]="'gender'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
            Gender
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let candidate of results?.content" (click)="viewCandidate(candidate)" [ngClass]="{'selected': selectedCandidate?.id == candidate.id}">
          <td><a class="btn btn-sm" target="_blank"  [routerLink]="['/candidates', candidate.id]" title="Open in new window"><i class="fa fa-external-link"></i></a>
            {{candidate.candidateNumber}}
          </td>
          <td>{{candidate.user.firstName}}</td>
          <td>{{candidate.user.lastName}}</td>
          <td *ngIf="savedSearch">
            <app-candidate-shortlist-item [candidateId]="candidate.id"
                                          [candidateShortlistItems]="candidate.candidateShortlistItems"
                                          [savedSearch]="savedSearch"
                                          (shortlistItemSaved)="handleCandidateShortlistSaved($event)"></app-candidate-shortlist-item>
          </td>
          <td>{{candidate.nationality?.name}}</td>
          <td>{{candidate.country?.name}}</td>
          <td>{{candidate.gender | titlecase}}</td>

        </tr>

        <!-- loading -->
        <tr *ngIf="searching">
          <td colspan="42">
            <i class="fa fa-spinner fa-spin"></i> Loading...
          </td>
        </tr>

        <!-- no results -->
        <tr *ngIf="!searching && !results?.totalElements">
          <td colspan="42">
            <span class="text-muted">(no matching candidates)</span>
          </td>
        </tr>

        </tbody>

      </table>
    </div>

    <app-candidate-search-card class="profile"
                               [candidate]="selectedCandidate"
                               (onClose)="selectedCandidate = null">
    </app-candidate-search-card>

  </div>
</div>

<!-- Modals -->
<ng-template #downloadCsvErrorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">CSV download failed</h4>

    <button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Oops! Something went wrong</strong></p>

    <p>
      It looks like an error occurred while we were trying to export your spend:
      <strong>{{error.message}}.</strong>
    </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d(false)">Close</button>
  </div>
</ng-template>

