:host {
  ::ng-deep .dropdown-btn {
    background-color: #fff;
  }
}

label {
  font-size: 14px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #efefef;
  padding: 1em;
}

.selected {
  background-color: rgba(0, 0, 0, 0.03);
}


.filter-group {
  background: #CCCCCC;
  padding-top: 1rem;
}

.filter-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  ::ng-deep ul.pagination {
    margin-bottom: 0;
  }
}

.candidate-number {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

$candidate-card-width: 375px;

.split-view {
  display: flex;
  justify-content: space-between;

  .table-wrapper {
    flex: 1 1 auto;
    overflow-x: auto;
  }

  &.show {
    .table-wrapper {
      // Remove 20px to simulate padding between the card and the table
      flex: 0 1 calc(100% - #{$candidate-card-width} - 20px);
    }

    .profile {
      flex: 0 0 $candidate-card-width;
      display: flex;
    }
  }
}

.operator {
  display: inline-flex;

  .btn {
    padding: 0 8px;
    line-height: 1;
    border-radius: 0;
    font-size: 12px;
  }

  .btn + .btn {
    border-left: 1px solid black;
    margin: 0;
  }

  .active {
    color: black;
    font-weight: bold;
  }
}
