<div>
  <div class="pull-right">
    <button class="btn btn-primary" [routerLink]="['create']">Add</button>
  </div>
  <h1>Candidates</h1>
</div>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="search()">

    <div class="form-row d-flex justify-content-between align-items-end">

      <div class="form-group col-4">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" formControlName="keyword" id="keyword">
      </div>

      <div class="form-group col-2">
        <label>Status</label>
        <ng-multiselect-dropdown
          name="status"
          [placeholder]="''"
          [data]="status"
          formControlName="selectedStatus"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event, 'status')"
          (onDeSelect)="onItemDeSelect($event, 'status')"
          (onSelectAll)="onSelectAll($event, 'status')"
          (onDeSelectAll)="onDeSelectAll($event, 'status')">
        </ng-multiselect-dropdown>
      </div>

      <div class="form-group">
        <label>Occupation</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>List Status</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group more-filter">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="moreFilters = !moreFilters"
                [attr.aria-expanded]="!moreFilters" aria-controls="collapseExample">
          <span *ngIf="!moreFilters">More</span><span *ngIf="moreFilters">Less</span> Filters
        </button>
      </div>

    </div>

    <div id="collapseExample" [ngbCollapse]="!moreFilters">

      <div class="form-row d-flex justify-content-between align-items-end">

        <div class="form-group">
          <label for="">Shortlistings</label>
          <select class="form-control" name="" id="">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label for="countryId">Country</label>
          <select class="form-control" name="countryId" id="countryId" [formControlName]="'countryId'">
            <option value=""></option>
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Nationalities</label>
          <ng-multiselect-dropdown
            name="selectedNationalities"
            [placeholder]="'Select Nationalities'"
            [data]="nationalities"
            formControlName="selectedNationalities"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event, 'nationality')"
            (onDeSelect)="onItemDeSelect($event, 'nationality')"
            (onSelectAll)="onSelectAll($event, 'nationality')"
            (onDeSelectAll)="onDeSelectAll($event, 'nationality')">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
          <label for="registeredWithUN">Registered With UN?</label>
          <select class="form-control" name="registeredWithUN" id="registeredWithUN" [formControlName]="'registeredWithUN'">
            <option value=""></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

      </div>

      <div class="form-row d-flex justify-content-between align-items-end">

        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" name="gender" id="gender" [formControlName]="'gender'">
            <option value=""></option>
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </div>

        <div class="form-group">
          <label for="educationLevel">Education Level</label>
          <select class="form-control" id="educationLevel" name="educationLevel" [formControlName]="'educationLevel'">
            <option value=""></option>
            <option *ngFor="let candidateEducation of educationLevels" [value]="candidateEducation.id">{{candidateEducation.label}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="candidateLanguageId">Language</label>
          <select class="form-control" id="candidateLanguageId" name="candidateLanguageId" [formControlName]="'candidateLanguageId'">
            <option value=""></option>
            <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <select class="form-control" id="age" name="age" [formControlName]="'age'">
            <option value=""></option>
            <option *ngFor="let age of ages" [value]="age.id">{{age.name}}</option>
          </select>
        </div>

      </div>
    </div>

  </form>
  <div>
     <a (click)="showSavedSearches()">Load Saved Search</a>
  </div>

  <div class="text-muted mb-2 align-middle">

    <ngb-pagination class="pull-right"
                    [boundaryLinks]="true"
                    [pageSize]="pageSize"
                    [collectionSize]="results?.totalElements"
                    [(page)]="pageNumber"
                    (pageChange)="search()">
    </ngb-pagination>

    Found {{results?.totalElements}} candidates
  </div>

  <table class="table">

    <thead>
    <tr>
      <th class="candidate-num-col-head">Candidate #</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let candidate of results?.content">
      <td>
        <a [routerLink]="[candidate.id]">
          {{candidate.candidateNumber}}
        </a>
      </td>
      <td>{{candidate.user.firstName}}</td>
      <td>{{candidate.user.lastName}}</td>
    </tr>

    <!-- loading -->
    <tr *ngIf="loading">
      <td colspan="42">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </td>
    </tr>

    <!-- no results -->
    <tr *ngIf="!loading && !results?.totalElements">
      <td colspan="42">
        <span class="text-muted">(no matching candidates)</span>
      </td>
    </tr>

    </tbody>

  </table>

</div>

