// Extend bootstrap style to override default layout type of form row
:host {
  ::ng-deep .dropdown-btn {
    background-color: #fff;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #efefef;
  padding: 1em;
}

.filter-group {
  border: 1px solid grey;
  padding-top: 1rem;
}

.candidate-num-col-head {
  width: 12rem;
}

label {
  font-size: 14px;
}
