<div>
  <div class="pull-right">
    <button class="btn btn-primary" [routerLink]="['create']">Add</button>
  </div>
  <h1>Candidates</h1>
</div>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="form-row">
      <div class="col-7 form-group">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" formControlName="keyword" id="keyword">
      </div>

      <div class="col-auto form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status" id="status" [formControlName]="'status'">
          <option value=""></option>
          <option value="active">Active</option>
          <option value="inactive">Not Active</option>
        </select>
      </div>

      <div class="col-auto form-group">
        <label for="registeredWithUN">Registered With UN?</label>
        <select class="form-control" name="registeredWithUN" id="registeredWithUN" [formControlName]="'registeredWithUN'">
          <option value=""></option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
  </form>

  <div class="text-muted mb-2 align-middle">

    <ngb-pagination class="pull-right"
                    [boundaryLinks]="true"
                    [pageSize]="pageSize"
                    [collectionSize]="results?.totalElements"
                    [(page)]="pageNumber"
                    (pageChange)="search()">
    </ngb-pagination>

    Found {{results?.totalElements}} candidates
  </div>

  <table class="table">

    <thead>
    <tr>
      <th class="candidate-num-col-head">Candidate #</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let candidate of results?.content">
      <td>
        <a [routerLink]="[candidate.id]">
          {{candidate.candidateNumber}}
        </a>
      </td>
      <td>{{candidate.firstName}}</td>
      <td>{{candidate.lastName}}</td>
    </tr>

    <!-- loading -->
    <tr *ngIf="loading">
      <td colspan="42">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </td>
    </tr>

    <!-- no results -->
    <tr *ngIf="!loading && !results?.totalElements">
      <td colspan="42">
        <span class="text-muted">(no matching candidates)</span>
      </td>
    </tr>

    </tbody>

  </table>

</div>

