<div class="container">

  <app-error [error]="error"></app-error>

  <app-loading [loading]="loading"></app-loading>

  <ng-container *ngIf="!loading">

    <div class="text-center">
      <h5>TBB-{{candidate?.candidateNumber}}</h5>
    </div>

    <!-- CONTACT -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.CONTACT.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'contact']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.CONTACT.EMAIL' | translate }}</label>
              <p>
                {{candidate?.user?.email || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.CONTACT.PHONE' | translate }}</label>
              <p>
                {{candidate?.phone || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.CONTACT.WHATSAPP' | translate }}</label>
              <p>
                {{candidate?.whatsapp || ''}}
              </p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- PERSONAL -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.PERSONAL.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'personal']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <div class="row">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.FIRSTNAME' | translate }}</label>
              <p>
                {{candidate?.user?.firstName || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.LASTNAME' | translate }}</label>
              <p>
                {{candidate?.user?.lastName || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.GENDER' | translate }}</label>
              <p>
                {{candidate?.gender || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.DOB' | translate }}</label>
              <p>
                {{(candidate?.dob | date) || ''}}
              </p>
            </div>
          </div>

          <hr class="w-100 mx-5">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.COUNTRY' | translate }}</label>
              <p *ngIf="candidate?.country">
                {{candidate?.country | translation : 'country'}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.CITY' | translate }}</label>
              <p>
                {{candidate?.city || ''}}
              </p>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.YEAROFARRIVAL' | translate }}</label>
              <p>
                {{candidate?.yearOfArrival || ''}}
              </p>
            </div>
          </div>

          <hr class="w-100 mx-5">

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.PERSONAL.NATIONALITY' | translate }}</label>
              <p>
                {{candidate?.nationality | translation : 'nationality'}}
              </p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- OCCUPATION -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.OCCUPATIONS.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'occupations']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <ng-container *ngFor="let occupation of candidate.candidateOccupations; let i = index;">

          <app-candidate-occupation-card [candidateOccupation]="occupation"
                                         [preview]="true">
          </app-candidate-occupation-card>

          <div class="text-center" *ngIf="i < candidate?.candidateOccupations?.length - 1">
            <hr class="w-75 my-4">
          </div>
        </ng-container>

      </div>

    </section>

    <!-- EXPERIENCE -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.EXPERIENCE.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'experience']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <ng-container *ngFor="let experience of candidate.candidateJobExperiences; let i = index;">
          <app-candidate-job-experience-card [experience]="experience"
                                             [preview]="true">
          </app-candidate-job-experience-card>

          <div class="text-center" *ngIf="i < candidate?.candidateJobExperiences?.length - 1">
            <hr class="w-75 my-4">
          </div>
        </ng-container>

      </div>

    </section>

    <!-- EDUCATION -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.EDUCATION.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'education']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <ng-container *ngFor="let education of candidate.candidateEducations; let i = index;">
          <app-candidate-education-card [candidateEducation]="education"
                                        [preview]="true">
          </app-candidate-education-card>

          <div class="text-center" *ngIf="i < candidate?.candidateEducations?.length - 1">
            <hr class="w-75 my-4">
          </div>
        </ng-container>

      </div>

    </section>

    <!-- CERTIFICATIONS -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.CERTIFICATIONS.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'certifications']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">
        <ng-container *ngFor="let certification of candidate.candidateCertifications; let i = index;">
          <app-candidate-certification-card [certificate]="certification"
                                            [preview]="true">
          </app-candidate-certification-card>

          <div class="text-center" *ngIf="i < candidate?.candidateCertifications?.length - 1">
            <hr class="w-75 my-4">
          </div>
        </ng-container>
      </div>

    </section>

    <!-- LANGUAGES -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.LANGUAGES.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'languages']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <ng-container *ngFor="let language of candidate.candidateLanguages; let i = index;">
          <app-candidate-language-card [language]="language"
                                       [preview]="true">
          </app-candidate-language-card>

          <div class="text-center" *ngIf="i < candidate?.candidateLanguages?.length - 1">
            <hr class="w-75 my-4">
          </div>
        </ng-container>

      </div>

    </section>

    <!-- OTHER -->
    <section>

      <div class="section-heading">

        <h5>{{ 'PROFILE.OTHER.TITLE' | translate }}</h5>

        <a class="btn btn-outline-primary" [routerLink]="['edit', 'other']">
          {{ 'PROFILE.BUTTON.EDIT' | translate }}
        </a>

      </div>

      <div class="card">

        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <label>{{ 'PROFILE.OTHER.ADDITIONALINFO' | translate }}</label>
              <p>
                {{candidate?.additionalInfo || ''}}
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.OTHER.ADDITIONALINFO' | translate }}</label>
              <p>
                {{candidate?.surveyType?.name || ''}}
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>{{ 'PROFILE.OTHER.ADDITIONALINFO' | translate }}</label>
              <p>
                {{candidate?.surveyComment || ''}}
              </p>
            </div>
          </div>

        </div>

        <!-- UPLOADS -->
        <app-candidate-attachments class="mt-3" [preview]="true"></app-candidate-attachments>

      </div>

    </section>

  </ng-container>

</div>
