:host {
  display: block;
  padding: 20px 0;
}

section {
  margin-bottom: 40px;

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1em 0;

    h5 {
      margin: 0;
    }
  }
}
