<div class="container">

  <app-error [error]="error"></app-error>

  <app-loading [loading]="loading"></app-loading>

  <ng-container *ngIf="!loading">

    <!-- TABS -->
    <nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

      <!-- PROFILE -->
      <ng-container ngbNavItem="Profile">
        <a ngbNavLink>{{ 'PROFILE.TAB.PROFILE' | translate }}</a>
        <ng-template ngbNavContent>
          <app-candidate-profile
            [candidate]="candidate">
          </app-candidate-profile>
        </ng-template>
      </ng-container>

      <!-- TASKS -->
      <ng-container ngbNavItem="Tasks">
        <a ngbNavLink>{{ 'PROFILE.TAB.TASKS' | translate }}</a>
        <ng-template ngbNavContent>
          <app-candidate-tasks
            [candidate]="candidate"
            (refresh)="fetchCandidate()">
          </app-candidate-tasks>
        </ng-template>
      </ng-container>

      <!-- Candidate Opportunities (Jobs) -->
      <ng-container ngbNavItem="Opps">
        <a ngbNavLink>{{ 'PROFILE.TAB.OPPS' | translate }}
          <app-chat-read-status
            [chats]="chatsForAllJobs"
          ></app-chat-read-status>
        </a>
        <ng-template ngbNavContent>
          <app-candidate-opps
            [candidate]="candidate">
          </app-candidate-opps>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>
</div>
