<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New Chat Posts Notification</title>
</head>
<body>
<div>
    <p>Dear <span th:text="${displayName}"></span>,</p>

    <p>
        In the last 24 hours the Talent Catalog has detected that new posts have been added to
        chats that you are subscribed to and have not marked as read.
    </p>
    <p>
        Log in to the Talent Catalog to see the new posts.
    </p>
    <p>
        You can log in by clicking <a th:href="${loginUrl}">here</a>
        or by going to <span th:text="${loginUrl}"></span> in your browser.
    </p>
    <p>
        Your Talent Catalog username is <span th:text="${username}"></span>.
    </p>
    <p>
        If you forget your password, click on "Forgot password" on the Talent Catalog login screen.
    </p>
</div>
</body>
</html>
