<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Talent Catalog Portal</title>
</head>
<body>
<div>
    <p>Dear <span th:text="${displayName}"></span>,</p>
    <p>
        <strong>Thank you for registering on the <a href="https://tctalent.org/">Talent Catalog</a></strong>
    </p>
    <p>
        Your local Talent Catalog partner is
        <span th:text="${partner.getAbbreviation()} + ${partner.getWebsiteUrl()}"></span>
    </p>

    <p>Our team has reviewed your profile and determined that it is incomplete.
        This means your profile cannot currently be considered for international employment
        opportunities until you have added the missing information.
        Please look back through your profile and add additional information.
        Remember to "submit" your profile at the end.</p>

    <p th:text="${candidateMessage}"></p>


    <p>
        Please log in again and update your application
        by clicking <a th:href="${loginUrl}">here</a>
        or by going to <span th:text="${loginUrl}"></span> in your browser.
    </p>
    <p>
        Your Talent Catalog username is <span th:text="${username}"></span>.
    </p>
    <p>
        If you forget your password, click on "Forgot password" on the Talent Catalog login screen.
    </p>

    <p>
        For the best chance of attracting an employer’s attention, continue to update your profile
        as you gain additional experience, education, or skills.
    </p>

    <p>
        Please keep in mind that - while we want to help everyone -
        <strong>only a very small proportion of people listed in our Talent Catalog will ever be
            offered international employment</strong>.
        Thus you should not completely rely on this solution, and should continue to pursue other
        opportunities if/when they are available to you.
    </p>

    <p>
        <strong>We will only contact you if an employer expresses interest in your profile</strong>.
    </p>

    <p><strong>Privacy Policy:</strong></p>

    <p>
        Your contact information will not be shared with any other party without your permission.
    </p>
    <p><strong>Notes:</strong></p>
    <p>
        Please do not share your username or password.
    </p>
    <p>
        Partners using the Talent Catalog will never ask you for any form of payment for
        registering or to receive a job offer. We do not charge any money for our services.
        If anyone asks you for money, that is a scam.
        You should ignore the request and notify <span th:text="${partner.getAbbreviation()}"></span> immediately.
    <p>
    Please contact your local partner, <span th:text="${partner.getAbbreviation()}"></span>,
    if you would like to delete your profile.
    </p>
</div>
</body>
</html>
