<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Password Reset</title>
</head>
<body>
   <div class="password-reset">
       <p>Dear <span th:text="${displayName}"></span>,</p>

       <p>We have received a request to reset your password on the Talent Catalog. </p>

       <p>Please follow the link below to reset your password:</p>

       <p>
          <a th:href="${resetUrl}">click here to reset</a>
       </p>

       <p>If you did not request a new password, please ignore this email</p>
   </div>
</body>
</html>
