<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Watcher Notification</title>
</head>
<body>
<div class="password-reset">
    <p>Dear <span th:text="${displayName}"></span>,</p>

    <p>
        In the last 24 hours new candidates have registered who match the
        saved searches below. Click on any link to see the details. 
    </p>
    
    <ul>
        <li th:each="search : ${searches}"> 
            <a th:href="'https://tbbtalent.org/admin-portal/candidates/search/'+ ${search.getId()}" 
               th:text="${search.getName()}">Search name</a> 
        </li>
    </ul>

    <p><b><i>Sincerely,<br/>
        Talent Beyond Boundaries</i></b></p>
</div>
</body>
</html>
