<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="workLegally">If you are currently working, are you working legally?</label>
    <span *ngIf="saving">
      <i class="fas fa-spinner fa-spin"></i> saving...
    </span>
    <select class="form-control"
            id="workLegally" [formControlName]="'workLegally'">
      <option *ngFor="let opt of workLegallyOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
</form>


