<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="workPermit">Do you have a valid work permit?</label>
    <span *ngIf="saving">
      <i class="fas fa-spinner fa-spin"></i> saving...
    </span>
    <select class="form-control"
            id="workPermit" [formControlName]="'workPermit'">
      <option *ngFor="let opt of workPermitOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="workPermit === 'YesNotDesired' || workPermit === 'No'">
    <div class="form-group">
      <label for="workPermitDesired">Are you legally able to obtain a work permit in your desired field?</label>
      <select class="form-control"
              id="workPermitDesired" [formControlName]="'workPermitDesired'">
        <option *ngFor="let opt of workPermitDesiredOptions" [value]="opt.value">
          {{opt.displayText}}
        </option>
      </select>
    </div>
  </div>
</form>


