@import 'src/scss/typography-mixins';
@import 'src/scss/color-mixins';
@import 'src/scss/support-colors';

.tc-accordion-item {
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  @include shadow-lg;
  margin-bottom: 1rem;
  background-color: white;
  overflow: hidden;

  .tc-accordion-header {
    @include label-lg;
    @include text-color-body;
    min-height: 3.25rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include background-color-light;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    transition: border 0.1s ease, border-radius 0.1s ease;
    text-decoration: none;
    color: inherit;
    &:hover {
      background-color: color(gray,300);
    }
  }

  .tc-accordion-body {
    @include paragraph-md;
    padding: 1rem;
    border-top: none;
  }

  &.open {
    overflow: visible;

    .tc-accordion-header {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

/* Remove border on the last accordion item */
:host:last-of-type {
  .tc-accordion-item {
    border-bottom: none;
    overflow: visible;
  }
}
