@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss';

@import "~src/scss/common";
@import "~src/scss/page";


body {
  padding-top: 6rem;
}

.nav-link {
  cursor: pointer;
}

h1 {
  margin-bottom: 2rem;
}

.link,
.link:not([href]):not([tabindex]){
  color: $link-color;
  cursor: pointer;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #ced4da !important;

}

.multiselect-dropdown .dropdown-btn .dropdown-down{
  border-top: 6px solid #999 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up{
  border-bottom: 6px solid #999 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
}

.multiselect-dropdown .dropdown-btn {
  border: 1px solid #cccccc!important;
}

.dropdown-btn > span {
  color: #6C757C;
}

ng-multiselect-dropdown div.dropdown-list {
  font-size: 12px !important;
}

ng-multiselect-dropdown div.multiselect-dropdown {
  color: red !important;
}

/* FONT AWESOME */
label > i.fas,i.fab {
  margin-right: 8px;
}

