@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.nav-link {
  cursor: pointer;
}

h1 {
  margin-bottom: 2rem;
}
