<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="form-group">
    <label for="travelDocument">Has valid travel document?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="travelDocument" formControlName="travelDocument">
      <option *ngFor="let opt of travelDocumentOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
</form>
