<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="intRecruitReasons">
      Why are you interested in international recruitment?
    </label>
    <span *ngIf="saving">
      <i class="fas fa-spinner fa-spin"></i> saving...
    </span>
    <ng-multiselect-dropdown
      id="intRecruitReasons"
      [settings]="dropdownSettings"
      [data]="intRecruitReasonOptions"
      formControlName="intRecruitReasons">
    </ng-multiselect-dropdown>
  </div>
</form>

