<!-- EXISTING RECORDS -->
<div class="card">
  <div class="card-header">
    Citizenships
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="updateRecord()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let citizenship of existingRecords; let i = index;" class="citizenship-card">
      <app-candidate-citizenship-card
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData"
        [myRecordIndex]="i"
        [nationalities]="nationalities"
        [existingRecords]="existingRecords"
        (delete)="deleteRecord(i)">
      </app-candidate-citizenship-card>
      <hr/>
    </div>
  </div>
</div>
