@import "src/scss/color-mixins";

// Apply desired font size (this may be able to be removed once we globally set the font size)
.tc-pagination {
  font-size: 14px;
  padding: 0 10px;
}

.custom-ngb-pagination {
  display: flex;
  width: 100%;
  ngb-pagination {
    width: 100%;
    .pagination {
      > .page-item {
        &.disabled .page-link {
          @include text-color-caption;
        }
        .page-link {
          background-color: transparent;
          @include text-color-secondary;
        }
      }
    }
    .select-pages {
      display: flex;
      flex: 1 1 auto !important;
    }
  }
}

// Align the results total to the center
.results-total {
  display: flex;
  justify-content: center;
}
