<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="visaReject">
      Have you ever been rejected for a visa?
    </label>
    <div *ngIf="editable" class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="visaReject" [formControlName]="'visaReject'" [class.not-editable]="!editable">
      <option *ngFor="let opt of visaRejectOptions" [value]="opt.value" [disabled]="!editable">
        {{opt.displayText}}
      </option>
    </select>
  </div>

</form>

