<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {{getBreadCrumb()}}
    </li>
  </ol>
</nav>

<div class="d-flex mb-3">
  <div class="me-4">
    <h5>Add a salesforce job link to begin</h5>
    <p>If a valid link, click displayed button to create the following:</p>
      <ul>
        <li>Create a job on the Talent Catalog</li>
        <li>Create submission list and exclusion list associated with job and connect with Salesforce joblink</li>
        <li>Create google folders associated with list and connect to Salesforce joblink</li>
      </ul>
  </div>

  <div class="d-flex flex-column flex-grow-1">
    <app-joblink
      (updateError)="onJoblinkError($event)"
      (joblinkValidation)="onJoblinkValidation($event)">
    </app-joblink>
    <div class="alert alert-danger" *ngIf="errorFindingJob">
      {{errorFindingJob}}
    </div>
  </div>
</div>

<div *ngIf="jobName" class="card">
  <div class="card-header d-flex align-items-baseline justify-content-between">
    <h5>{{jobName}}</h5>
      <ng-container>
        <button *ngIf="jobName && progressPercent != 100" type="button"
                class="btn btn-primary float-end" (click)="doPreparation()">
          Create Job
        </button>
        <button *ngIf="jobName && progressPercent == 100" type="button"
                class="btn btn-primary float-end" (click)="doShowJob()">
          Show Job
        </button>
      </ng-container>
  </div>
  <div class="card-body">
    <div class="progress">
      <div class="tbb-primary" [ngClass]=
        "{'progress-bar-animated progress-bar-striped': progressPercent != 100 }"
           role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{'width': progressPercent + '%'}"></div>
    </div>

    <div class="d-flex flex-column pt-4">
      <div [ngSwitch]="creatingJob">
        <ul class="fa-ul">
          <li *ngSwitchCase="Progress.NotStarted"><span class="fa-li text-secondary"><i class="far fa-square"></i></span>
            Create job, submission list and exclusion list
          </li>
          <li *ngSwitchCase="Progress.Started"><span class="fa-li text-primary"><i class="fas fa-spinner fa-spin"></i></span>
            Creating job, submission list and exclusion list
          </li>
          <li *ngSwitchCase="Progress.Finished"><span class="fa-li text-success"><i class="fas fa-check-square"></i></span>
            List <a [href]="listLink" target="_blank>">{{listLink}}</a> is the list that should be populated with job candidates.
          </li>
        </ul>
        <div class="alert alert-danger" *ngIf="errorCreatingJob">
          {{errorCreatingJob}}
        </div>
      </div>

      <div [ngSwitch]="creatingFolders">
        <ul class="fa-ul">
          <li *ngSwitchCase="Progress.NotStarted"><span class="fa-li text-secondary"><i class="far fa-square"></i></span>
            Create folders associated with job's submission list
          </li>
          <li *ngSwitchCase="Progress.Started"><span class="fa-li text-primary"><i class="fas fa-spinner fa-spin"></i></span>
            Creating folders
          </li>
          <li *ngSwitchCase="Progress.Finished"><span class="fa-li text-success"><i class="fas fa-check-square"></i></span>
            The folder on Google Drive <a href="{{savedList.folderlink}}" target="_blank">here</a>
            is associated with this list and job.
            When you publish a list, a Google Sheet containing the list data, including links to CVs,
            is created in this folder which can be shared with employers.
            There is also a <a href="{{savedList.folderjdlink}}" target="_blank">
              subfolder for Job Descriptions</a>, which contains a Job Opportunity Intake document
            to be filled out.
          </li>
        </ul>
        <div class="alert alert-danger" *ngIf="errorCreatingFolders">
          {{errorCreatingFolders}}
        </div>
      </div>

      <div [ngSwitch]="creatingSFLinks">
        <ul class="fa-ul">
          <li *ngSwitchCase="Progress.NotStarted"><span class="fa-li text-secondary"><i class="far fa-square"></i></span>
            Add links to Salesforce Job Opportunity back to submission list and list folders
          </li>
          <li *ngSwitchCase="Progress.Started"><span class="fa-li text-primary"><i class="fas fa-spinner fa-spin"></i></span>
            Creating Salesforce links
          </li>
          <li *ngSwitchCase="Progress.Finished"><span class="fa-li text-success"><i class="fas fa-check-square"></i></span>
            The Salesforce job opportunity
            <a href="{{salesforceService.joblink(savedList)}}" target="_blank">{{jobName}}</a> has links to the
            above Talent catalog list and the list folders. This provides easy access to all relevant data
            directly from Salesforce.
          </li>
        </ul>
        <div class="alert alert-danger" *ngIf="errorCreatingSFLinks">
          {{errorCreatingSFLinks}}
        </div>
      </div>
  </div>
  </div>
</div>
