:host {
  display: block;
  width: 100%;
}

.navbar {
  background-color: white;
  width: 100%;

  .logo {
    max-height: 60px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    .navbar-collapse {
      display: flex;
      justify-content: flex-end;
    }
  }
}
