<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="destLimit">
      Do you have any other destination limitations?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="destLimit" [formControlName]="'destLimit'">
      <option *ngFor="let opt of destLimitOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="destLimit === 'Yes'" class="form-group">
    <label for="destLimitNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="destLimitNotes" [formControlName]="'destLimitNotes'"
              placeholder="" ></textarea>
  </div>
</form>

