<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="form-group">
    <label for="riskAssessment">Overall risk assessment? (health/character/security)</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="riskAssessment" formControlName="riskAssessment">
      <option *ngFor="let opt of riskAssessmentOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
</form>
