@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

$font-lato: 'Lato', sans-serif;

@mixin font-style($size, $weight, $line-height, $family) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: $family;
}

// =====================
// Paragraph
// =====================

@mixin paragraph-lg { @include font-style(18px, 400, 1.125rem,  $font-lato); }
@mixin paragraph-md { @include font-style(16px, 400, 1rem,  $font-lato); }
@mixin paragraph-sm { @include font-style(14px, 400, 0.875rem,  $font-lato); }
@mixin paragraph-xs { @include font-style(12px, 400, 0.75rem,  $font-lato); }

// =====================
// Display
// =====================

@mixin display-xl { @include font-style(128px, 800, 8rem, $font-lato); }
@mixin display-lg { @include font-style(96px, 800, 6rem, $font-lato); }
@mixin display-md { @include font-style(72px, 800, 4.5rem, $font-lato); }
@mixin display-sm { @include font-style(60px, 800, 3.75rem, $font-lato); }
@mixin display-xs { @include font-style(48px, 800, 3rem, $font-lato); }

// =====================
// Headings
// =====================

@mixin heading-lg { @include font-style(40px, 700, 2.25rem, $font-lato); }
@mixin heading-md { @include font-style(30px, 700, 1.875rem, $font-lato); }
@mixin heading-sm { @include font-style(24px, 500, 1.5rem, $font-lato); }
@mixin heading-xs { @include font-style(20px, 500, 1.25rem, $font-lato); }

// =====================
// Labels
// =====================

@mixin label-lg { @include font-style(18px, 500, 1.125rem, $font-lato); }
@mixin label-md { @include font-style(16px, 500, 1rem, $font-lato); }
@mixin label-sm { @include font-style(14px, 500, 0.875rem, $font-lato); }
@mixin label-xs { @include font-style(12px, 500, 0.75rem, $font-lato); }
