$color-primary-lightest: #e9f7fc;
$color-primary-lighter: #a7e2f4;
$color-primary-light: #0cd5e4;
$color-primary: #13b1dd;
$color-primary-dark: #0b81a6;
$color-primary-darker: #075168;

$color-accent-lightest: #fcf9eb;
$color-accent-lighter: #f0e39d;
$color-accent-light: #e7d362;
$color-accent: #dec328;
$color-accent-dark: #a28e1e;
$color-accent-darker: #655913;

$color-text-primary: #272b2b;
$color-text-secondary: #888888;
$color-text-inactive: #dedede;

$color-border: #d7d8d8;
$color-background: #f2f2f2;
