<div class="container">

  <div *ngIf="loading">
    <span>Loading...</span>
  </div>

  <ng-container *ngIf="!loading">

    <div class="alert alert-danger" *ngIf="error">
      {{error.error?.message || error.message || error}}
    </div>

    <form [formGroup]="form">

      <!-- MAX EDUCATION LEVEL -->
      <div class="form-group">
        <label for="maxEducationLevelId" translate dir="auto">REGISTRATION.EDUCATION.LABEL.MAXEDUCATIONLEVELID</label>
        <select class="form-control" id="maxEducationLevelId" [formControlName]="'maxEducationLevelId'">
          <option value=""></option>
          <option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id">{{educationLevel.name}}</option>
        </select>
      </div>

    </form>

    <ng-container *ngIf="form.valid || candidateEducationItems.length">
      <h3>Education</h3>


    </ng-container>

  </ng-container>

</div>

<app-registration-footer (backClicked)="back()" (nextClicked)="next()"></app-registration-footer>
