<!-- ERROR -->
<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>

<ngb-accordion *ngIf="selectedJobCheck" #visaJobUk="ngbAccordion" [destroyOnHide]="false">

  <ngb-panel id="family-assessment" title="Family Assessment">
    <ng-template ngbPanelContent>
      <div>
        <app-relocating-dependants
          [visaJobCheck]="selectedJobCheck"
          [entity]="visaCheckRecord"
          [dependants]="candidateIntakeData.candidateDependants">
        </app-relocating-dependants>
      </div>
      <div class="card card-body intake-data">
        <div class="mb-3 h6">Dependant Family</div>
        <app-dependants
          [candidateIntakeData]="candidateIntakeData"
          [candidate]="candidate"
          [editable]="false">
        </app-dependants>`
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
