@import 'src/scss/color-mixins';
@import 'src/scss/support-colors';

.nav.nav-tabs {
  border-bottom: 1px solid #E5E5E5;
  .nav-link {
    @include text-color-secondary;
    font-size: 14px;
    cursor: pointer;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    &:hover {
      border-bottom: 2px solid #737373;
    }
  }
  .nav-link.active {
    border-bottom: 2px solid #0084d1;
    //todo add a text-color-primary mixin
    color: #0084d1
  }
}




  //.nav-link {
  //  color: $light;
  //  background-color: $accent1;
  //  border-color: $light;
  //  font-size: 14px;
  //
  //  &:hover {
  //    background-color: $accent2;
  //    color: $light;
  //  }
  //
  //  &.disabled {
  //    color: $nav-link-disabled-color;
  //    background-color: transparent;
  //    border-color: transparent;
  //  }
  //}
  //
  //.nav-link.active,
  //.nav-item.show .nav-link {
  //  color: $light;
  //  background-color: $primary;
  //  border-color: $nav-tabs-link-active-border-color;
  //}
