<div class="container">

  <h5>{{ 'PROFILE.TITLE.PERSONAL' | translate }}</h5>

  <div class="card">
    TODO
  </div>

  <h5>{{ 'PROFILE.TITLE.EXPERIENCE' | translate }}</h5>

  <div class="card">
    TODO
  </div>

  <h5>{{ 'PROFILE.TITLE.EDUCATION' | translate }}</h5>

  <div class="card">
    TODO
  </div>

  <h5>{{ 'PROFILE.TITLE.CERTIFICATIONS' | translate }}</h5>

  <div class="card">
    TODO
  </div>

  <h5>{{ 'PROFILE.TITLE.LANGUAGES' | translate }}</h5>

  <div class="card">
    TODO
  </div>

  <h5>{{ 'PROFILE.TITLE.OTHER' | translate }}</h5>

  <div class="card">
    TODO
  </div>

</div>
