<div class="container">

  <app-error [error]="error"></app-error>

  <app-loading [loading]="loading"></app-loading>

  <ng-container *ngIf="!loading">

    <h5>{{ 'PROFILE.CONTACT.TITLE' | translate }}</h5>

    <div class="card">

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.CONTACT.EMAIL' | translate }}</label>
            <p>
              {{candidate?.user?.email || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.CONTACT.PHONE' | translate }}</label>
            <p>
              {{candidate?.phone || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.CONTACT.WHATSAPP' | translate }}</label>
            <p>
              {{candidate?.whatsapp || ''}}
            </p>
          </div>
        </div>

      </div>

    </div>

    <h5>{{ 'PROFILE.PERSONAL.TITLE' | translate }}</h5>

    <div class="card">

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.FIRSTNAME' | translate }}</label>
            <p>
              {{candidate?.user?.firstName || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.LASTNAME' | translate }}</label>
            <p>
              {{candidate?.user?.lastName || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.GENDER' | translate }}</label>
            <p>
              {{candidate?.gender || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.DOB' | translate }}</label>
            <p>
              {{(candidate?.dob | date) || ''}}
            </p>
          </div>
        </div>

        <hr class="w-100 mx-5">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.COUNTRY' | translate }}</label>
            <p>
              {{candidate?.country?.name || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.CITY' | translate }}</label>
            <p>
              {{candidate?.city || ''}}
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.YEAROFARRIVAL' | translate }}</label>
            <p>
              {{candidate?.yearOfArrival || ''}}
            </p>
          </div>
        </div>

        <hr class="w-100 mx-5">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{ 'PROFILE.PERSONAL.NATIONALITY' | translate }}</label>
            <p>
              {{candidate?.nationality?.name || ''}}
            </p>
          </div>
        </div>

      </div>

    </div>

    <h5>{{ 'PROFILE.EXPERIENCE.TITLE' | translate }}</h5>

    <div class="card">

      <ng-container *ngFor="let experience of candidate.candidateJobExperiences; let i = index;">
        <app-candidate-job-experience-card [experience]="experience" [preview]="true"></app-candidate-job-experience-card>

        <div class="text-center" *ngIf="i < candidate?.candidateJobExperiences?.length - 1">
          <hr class="w-75 my-5">
        </div>
      </ng-container>

    </div>

    <h5>{{ 'PROFILE.EDUCATION.TITLE' | translate }}</h5>

    <div class="card">

      <!-- TODO -->
      <ng-container *ngFor="let education of candidate.candidateEducations; let i = index;">
        <pre>{{education | json}}</pre>

        <div class="text-center" *ngIf="i < candidate?.candidateEducations?.length - 1">
          <hr class="w-75 my-5">
        </div>
      </ng-container>

    </div>

    <h5>{{ 'PROFILE.CERTIFICATIONS.TITLE' | translate }}</h5>

    <div class="card">
      <ng-container *ngFor="let certification of candidate.candidateCertifications; let i = index;">
        <app-candidate-certification-card [certificate]="certification" [preview]="true">
        </app-candidate-certification-card>

        <div class="text-center" *ngIf="i < candidate?.candidateCertifications?.length - 1">
          <hr class="w-75 my-5">
        </div>
      </ng-container>
    </div>

    <h5>{{ 'PROFILE.LANGUAGES.TITLE' | translate }}</h5>

    <div class="card">

      <!-- TODO -->
      <ng-container *ngFor="let language of candidate.candidateLanguages; let i = index;">
        <pre>{{language | json}}</pre>

        <div class="text-center" *ngIf="i < candidate?.candidateLanguages?.length - 1">
          <hr class="w-75 my-5">
        </div>
      </ng-container>

    </div>

    <h5>{{ 'PROFILE.OTHER.TITLE' | translate }}</h5>

    <div class="card">

      <div class="row">

        <div class="col-12">
          <div class="form-group">
            <label>{{ 'PROFILE.OTHER.ADDITIONALINFO' | translate }}</label>
            <p>
              {{candidate?.additionalInfo || ''}}
            </p>
          </div>
        </div>

      </div>

    </div>

  </ng-container>

</div>
