<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="form-group">
    <label for="visaValidTravelDocs">Has valid travel document?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaValidTravelDocs" [formControlName]="'visaValidTravelDocs'" (clear)="setNoResponse('visaValidTravelDocs')"
               [items]="travelDocumentOptions" [closeOnSelect]="true" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="displayText" bindValue="value"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="form-group">
    <label for="visaValidTravelDocsNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaValidTravelDocsNotes" [formControlName]="'visaValidTravelDocsNotes'"
              placeholder="" ></textarea>
  </div>
</form>
