<div class="container">

  <form class="row" [formGroup]="form">

    <!-- FIRST NAME -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="firstName" translate dir="auto">REGISTRATION.PERSONAL.LABEL.FIRSTNAME</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" [formControlName]="'firstName'">
      </div>
    </div>

    <!-- LAST NAME -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="lastName" translate dir="auto">REGISTRATION.PERSONAL.LABEL.LASTNAME</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" [formControlName]="'lastName'">
      </div>
    </div>

    <!-- GENDER -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="gender" translate dir="auto">REGISTRATION.PERSONAL.LABEL.GENDER</label>

        <select class="form-control" name="gender" id="gender" [formControlName]="'gender'">
          <option value=""></option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>

    <!-- DOB -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="dob" translate dir="auto">REGISTRATION.PERSONAL.LABEL.DOB</label>
        <input type="date" id="dob" class="form-control" [formControlName]="'dob'" datepicker-popup
               is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      </div>
    </div>



    <hr class="col-12">



    <!-- COUNTRY -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="countryId" translate dir="auto">REGISTRATION.PERSONAL.LABEL.COUNTRYID</label>
        <select class="form-control" name="countryId" id="countryId" [formControlName]="'countryId'">
          <option value=""></option>
          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
    </div>

    <!-- CITY -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="city" translate dir="auto">REGISTRATION.PERSONAL.LABEL.CITY</label>
        <input type="text" class="form-control" id="city" placeholder="" [formControlName]="'city'">
      </div>
    </div>

    <!-- YEAR OF ARRIVAL -->
    <div class="col-12">
      <div class="form-group">
        <label for="yearOfArrival" translate dir="auto">REGISTRATION.PERSONAL.LABEL.YEAROFARRIVAL</label>
        <select class="form-control" name="yearOfArrival" id="yearOfArrival" [formControlName]="'yearOfArrival'">
          <option value=""></option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

    <hr class="col-12">

    <!-- NATIONALITY -->
    <div class="col-12">
      <div class="form-group">
        <label for="nationality" translate dir="auto">REGISTRATION.PERSONAL.LABEL.NATIONALITY</label>
        <select class="form-control" name="nationality" id="nationality" [formControlName]="'nationality'">
          <option value=""></option>
          <option *ngFor="let nationality of nationalities" [value]="nationality.id">{{nationality.name}}</option>
        </select>
      </div>
    </div>

    <!-- UN REGISTRATION - removed for now -->
    <!--    <div class="form-group">-->
    <!--      <label for="registeredWithUN" translate dir="auto">REGISTRATION.PERSONAL.LABEL.REGISTEREDWITHUN</label>-->
    <!--      <select class="form-control" name="nationality" id="registeredWithUN" [formControlName]="'registeredWithUN'">-->
    <!--        <option value=""></option>-->
    <!--        <option [value]="true">Yes</option>-->
    <!--        <option [value]="false">No</option>-->
    <!--      </select>-->

    <!--      <p class="text-muted">-->
    <!--        You do not need to be registered with the UN to be eligible for TBB.-->
    <!--      </p>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; REGISTRATION NUMBER &ndash;&gt;-->
    <!--    <div class="form-group" *ngIf="form.value.registeredWithUN === 'true'">-->
    <!--      <label for="registrationId" translate dir="auto">REGISTRATION.PERSONAL.LABEL.REGISTRATIONID</label>-->
    <!--      <input type="text" class="form-control" id="registrationId" placeholder="" [formControlName]="'registrationId'">-->
    <!--    </div>-->

  </form>

</div>

<app-registration-footer (backClicked)="back()"
                         (nextClicked)="next()">
</app-registration-footer>
