<div class="modal-header">

  <h4 class="modal-title">{{title}}</h4>

  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>

  <form [formGroup]="form">
    <div class="form-group" >
      <label for="name">Name *</label>
      <input class="form-control" id="name" formControlName="name">
<!--      <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)"-->
<!--           class="alert alert-danger">-->
<!--        <div *ngIf="nameControl.errors.required">-->
<!--          Name is required.-->
<!--        </div>-->
<!--      </div>-->
      <div class="form-inline">
        <label>Status? *</label>
        <ng-select
          id="status"
          [items]="statuses"
          [multiple]="false"
          [closeOnSelect]="true"
          [searchable]="false"
          bindLabel="stringValue"
          bindValue="key"
          [formControlName]="'status'">
        </ng-select>
      </div>

      <label for="name">Abbreviated name *</label>
      <input class="form-control" id="abbreviation" formControlName="abbreviation">

      <label for="sflink">Salesforce account link</label>
      <input class="form-control" id="sflink" formControlName="sflink">
      <div *ngIf="isInvalid(form.controls.sflink)" class="alert alert-danger">
        This doesn't look like a Salesforce link to me!
        <br/>
        Copy and paste from Salesforce.
      </div>

      <label for="notificationEmail">Email</label>
      <input class="form-control" id="notificationEmail" formControlName="notificationEmail">

      <label for="logo">Logo</label>
      <input class="form-control" id="logo" formControlName="logo">

      <label for="registrationLandingPage">Registration Landing Page (url)</label>
      <input class="form-control" id="registrationLandingPage" formControlName="registrationLandingPage">

      <label for="websiteUrl">Website Url</label>
      <input class="form-control" id="websiteUrl" formControlName="websiteUrl">

      <label for="defaultPartnerRef">Default partner ref?</label>
      <input type="checkbox" formControlName="defaultPartnerRef" id="defaultPartnerRef">

    </div>
    <!-- SOURCE COUNTRIES  -->
    <div class="form-group">
      <label>Source Country</label>
      <ng-select
        id="sourceCountry"
        [items]="countries"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="true"
        placeholder="Select or type..."
        bindLabel="name"
        [formControlName]="'sourceCountries'">
      </ng-select>
      <p class="text-muted">Leave blank if there are no restrictions, otherwise add one or more countries to which admin is restricted.</p>
    </div>

    <hr/>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()"
          [disabled]="form?.invalid || working">
    <i class="fas fa-spinner fa-spin" *ngIf="working"></i>
    Save
  </button>
</div>
