<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="maritalStatus">
      Are you engaged or married?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="maritalStatus" [formControlName]="'maritalStatus'">
      <option *ngFor="let opt of maritalStatusOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
    <p class="small">
      Note: If you are planning on immigrating with your spouse, his or her professional information is also critical
      to your application. If you are eligible and decide to move forward with this process,
      we will also discuss in further detail the process related to family.</p>
  </div>

  <div *ngIf="hasPartner">
    <div class="form-group">
      <label for="partnerRegistered">
        Is your partner registered with TBB?
      </label>
      <select class="form-control"
              id="partnerRegistered" [formControlName]="'partnerRegistered'">
        <option *ngFor="let opt of partnerRegisteredOptions" [value]="opt.value">
          {{opt.displayText}}
        </option>
      </select>
    </div>
    <div *ngIf="partnerRegistered === 'Yes'">
      <div class="form-group">
        <label>
          What is your partner's candidate number?
        </label>
        <app-candidate-name-num-search
          [handleSelect]="'displayOnly'"
          [displayValue]="partnerCandidate ?
          partnerCandidate?.candidateNumber + ': ' + partnerCandidate?.user?.firstName + ' ' + partnerCandidate?.user?.lastName
          : null"
          (candChange)="updatePartnerCand($event)">
        </app-candidate-name-num-search>
      </div>
    </div>
    <div class="form-group">
      <label for="partnerEduLevelId">
        What is your partner’s highest level of education?
      </label>
      <select class="form-control"
              id="partnerEduLevelId" [formControlName]="'partnerEduLevelId'">
        <option *ngFor="let opt of educationLevels" [value]="opt.id">
          {{opt.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="partnerProfessionId">
        What is your partner’s profession?
      </label>
      <select class="form-control"
              id="partnerProfessionId" [formControlName]="'partnerProfessionId'">
        <option *ngFor="let opt of occupations" [value]="opt.id">
          {{opt.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="partnerEnglish">
        Does your spouse speak English?
      </label>
      <select class="form-control"
              id="partnerEnglish" [formControlName]="'partnerEnglish'">
        <option *ngFor="let opt of partnerEnglishOptions" [value]="opt.value">
          {{opt.displayText}}
        </option>
      </select>
    </div>
    <div *ngIf="partnerEnglish === 'Yes'">
      <div class="form-group">
        <label for="partnerEnglishLevelId">
          What level of English does your spouse speak?
        </label>
        <select class="form-control"
                id="partnerEnglishLevelId" [formControlName]="'partnerEnglishLevelId'">
          <option *ngFor="let opt of languageLevels" [value]="opt.id">
            {{opt.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="partnerIelts">
          Has he/she completed IELTS?
        </label>
        <select class="form-control"
                id="partnerIelts" [formControlName]="'partnerIelts'">
          <option *ngFor="let opt of partnerIeltsOptions" [value]="opt.value">
            {{opt.displayText}}
          </option>
        </select>
      </div>
      <div *ngIf="partnerIelts === 'Yes'">
        <div class="form-group">
          <label for="partnerIeltsScore">
            What was his/her score?
          </label>
          <select class="form-control"
                  id="partnerIeltsScore" [formControlName]="'partnerIeltsScore'">
            <option *ngFor="let opt of partnerIeltsScoreOptions" [value]="opt.value">
              {{opt.displayText}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="partnerCitizenshipId">
        What is your partners current citizenship?
      </label>
      <select class="form-control"
              id="partnerCitizenshipId" [formControlName]="'partnerCitizenshipId'">
        <option *ngFor="let opt of nationalities" [value]="opt.id">
          {{opt.name}}
        </option>
      </select>
    </div>

  </div>

</form>

