<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="form-group">
    <label for="jobInterest">Candidate genuinely interested in the role and would move to accept offer?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="jobInterest" [formControlName]="'jobInterest'">
      <option *ngFor="let opt of jobInterestOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
</form>
