# This is only for documantion purposes
# Each developer copies:
#  .env.e2e.example inside .env.e2e.local and replace the values with real values
# Candidate portal URL.
# Will replace this for staging in CI
# Local example:
E2E_BASE_URL=http://127.0.0.1:4200

# Dedicated GRN candidate used for local Playwright runs.
E2E_CANDIDATE_USERNAME=replace-with-grn-candidate-username
E2E_CANDIDATE_PASSWORD=replace-with-grn-candidate-password
