<tc-modal heading="Edit Max Education Level"
          [showCancel]="true"
          [showClose]="true"
          actionText="Save"
          (onAction)="save()"
          [disableAction]="form.invalid || loading"
>
  <tc-loading [loading]="loading"></tc-loading>

  <div *ngIf="!loading">

    <tc-alert type="danger" *ngIf="error">
      <div><strong>{{error}}</strong></div>
    </tc-alert>

    <form [formGroup]="form">

      <ng-select class="tc-select"
                 [items]="educationLevels"
                 id="educationLevelId"
                 [formControlName]="'educationLevelId'"
                 bindValue="id"
                 bindLabel="name"
      ></ng-select>

    </form>

  </div>

</tc-modal>
