<div class="card">
  <div class="card-header">
    Employer Eligibility {{selectedJobCheck?.name}}
  </div>
  <div class="card-body">
    <app-job-occupation
      [candidate]="candidate"
      [occupations]="occupations"
      [candidateIntakeData]="candidateIntakeData"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-job-occupation>
    <app-salary-tsmit
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-salary-tsmit>
    <app-regional-area
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-regional-area>
  </div>
</div>
<hr/>
<div class="card">
  <div class="card-header">
    TBB Eligibility
  </div>
  <div class="card-body">
    <app-job-interest
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-job-interest>
    <app-job-family-aus
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-job-family-aus>
    <hr/>
    <app-job-eligibility-assessment
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-job-eligibility-assessment>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Candidate Visa Eligibility
  </div>
  <div class="card-body intake-data">
    <!-- Display Age   -->
    <app-fixed-input
      [question]="'Age: '"
      [answer]="currentYear - birthYear">
    </app-fixed-input>
    <div class="form-group">
      <small>50 year cutoff for 494; 55 for 186.</small>
    </div>

    <!--  Display Estimated IELTS Assessment   -->
    <app-fixed-input
      *ngIf="this.candidateIntakeData?.langAssessmentScore"
      [question]="'Estimated IELTS Assessment: '"
      [answer]="this.candidateIntakeData?.langAssessmentScore">
    </app-fixed-input>

    <!--  Display English Exams  -->
      <div *ngFor="let e of this.candidateIntakeData?.candidateExams">
        <app-fixed-input
          [question]="e.exam"
          [answer]="e.score">
        </app-fixed-input>
      </div>
    <div *ngIf="experiences">
      <app-fixed-input
        [question]="'Years relevant experience'"
        [answer]="experiences">
      </app-fixed-input>
    </div>
  </div>
  <div class="card-body">
    <app-years-relevant-exp
      [candidate]="candidate"
      [selectedIndex]="jobIndex">
    </app-years-relevant-exp>
    <app-qualification-relevant
      [candidate]="candidate"
      [selectedIndex]="jobIndex">
    </app-qualification-relevant>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Final Assessment
  </div>
  <div class="card-body">
    <app-visa-four-nine-four
      [candidate]="candidate"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-visa-four-nine-four>
    <app-visa-one-eight-six
      [candidate]="candidate"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-visa-one-eight-six>
    <app-visa-other-options
      [candidate]="candidate"
      [selectedIndex]="jobIndex"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-visa-other-options>
    <app-visa-job-put-forward
      [candidate]="candidate"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-visa-job-put-forward>
    <app-visa-job-notes
      [candidate]="candidate"
      [visaCheckRecord]="visaRecord"
      [selectedJobCheck]="selectedJobCheck">
    </app-visa-job-notes>
  </div>
</div>
