<div class="row my-4">
  <div class="col-6">
    <h5>Section 2: Job Specific Assessment</h5>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col text-end">
        <button (click)="visaJobCanada.collapseAll()" class="btn btn-outline-primary btn-sm me-2">Close All Tabs</button>
        <button (click)="visaJobCanada.expandAll()" class="btn btn-outline-primary btn-sm">Open All Tabs</button>
      </div>
    </div>
  </div>

  <div class="col mt-3">
    <app-candidate-visa-job
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [visaCheckRecord]="visaCheckRecord"
      (selectedJobIndex)="updateSelectedJob($event)">
    </app-candidate-visa-job>
  </div>
</div>

<ngb-accordion #visaJobCanada="ngbAccordion" [destroyOnHide]="false">

  <ngb-panel id="occupation-eligibility" title="Occupation Eligibility">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="pathway-eligibility" title="Pathway Eligibility">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="candidate-qualifications" title="Candidate Qualifications">
    <ng-template ngbPanelContent>

      <div>
        <app-english-threshold
          [entity]="candidate"
          [candidateIntakeData]="candidateIntakeData"
          [visaCheckRecord]="visaCheckRecord">
        </app-english-threshold>
      </div>
      <hr>
      <div class="card card-body intake-data">
        <div>
          <div class="card-title">Education</div>
          <!-- Display All Candidate Qualifications   -->
          <div *ngIf="candQualifications?.length > 0">
            <ul>
              <li class="display" *ngFor="let edu of candQualifications">
                <app-fixed-input
                  *ngIf="edu.educationMajor"
                  [question]="edu.educationMajor?.name + ' ' + edu.courseName"
                  [answer]="edu.educationType">
                </app-fixed-input>
                <app-fixed-input
                  *ngIf="edu.educationMajor == null && edu.courseName"
                  [question]="edu.courseName"
                  [answer]="edu.educationType">
                </app-fixed-input>
              </li>
            </ul>
          </div>
          <div *ngIf="candQualifications?.length == 0">
            <p>No qualifications entered</p>
          </div>
        </div>
        <div>
          <div class="card-title">Experience</div>
          <!-- Display All Candidate Experience   -->
          <div *ngIf="candOccupations?.length > 0">
            <ul>
              <li class="display" *ngFor="let co of candOccupations" >
                <app-fixed-input
                  *ngIf="co.occupation"
                  [question]="co.occupation?.name"
                  [answer]="co.yearsExperience.toString()">
                </app-fixed-input>
                <app-fixed-input
                  *ngIf="co.occupation == null && co.migrationOccupation"
                  [question]="co.migrationOccupation"
                  [answer]="co.yearsExperience.toString()">
                </app-fixed-input>
              </li>
            </ul>
          </div>
          <div *ngIf="candOccupations?.length == 0">
            <p>No experience entered</p>
          </div>
        </div>

        <div class="card-title">Language exams</div>
        <div *ngIf="candidateIntakeData.candidateExams.length == 0">
          <p>No exams entered</p>
        </div>
        <ul>
          <li *ngFor="let ce of candidateIntakeData.candidateExams; let i = index;">
            <p class="mb-0">{{ce?.exam}}<span *ngIf="ce.otherExam">, </span>{{ce.otherExam}}: {{ce?.score}}<span *ngIf="ce.year"> ({{ce?.year}})</span>
            </p>
          </li>
        </ul>
        <div class="card-title">Estimated IELTS Score: <span>{{candidateIntakeData.langAssessmentScore}}</span></div>
        <div class="card-title">Partner IELTS Score: <span>{{candidateIntakeData.partnerIeltsScore}}</span></div>
      </div>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="tbb-eligibility" title="TBB Eligibility">
    <ng-template ngbPanelContent>
      <div>
        <app-job-interest
          [entity]="candidate"
          [candidateIntakeData]="candidateIntakeData"
          [visaCheckRecord]="visaCheckRecord"
          [selectedJobCheck]="selectedJobCheck">
        </app-job-interest>

        <app-job-eligibility-assessment
          [entity]="candidate"
          [candidateIntakeData]="candidateIntakeData"
          [visaCheckRecord]="visaCheckRecord"
          [selectedJobCheck]="selectedJobCheck">
        </app-job-eligibility-assessment>
      </div>
      <hr>
      <div class="card card-body intake-data">
        <app-fixed-input
          [question]="'Family in Canada that may impact offer'"
          [answer]="familyInCanada">
        </app-fixed-input>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="family-assessment" title="Family Assessment">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

</ngb-accordion>
