<div class="row my-4">
  <div class="col-6">
    <h5>Section 2: Job Specific Assessment</h5>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col text-end">
        <button (click)="visaJobCanada.collapseAll()" class="btn btn-outline-primary btn-sm me-2">Close All Tabs</button>
        <button (click)="visaJobCanada.expandAll()" class="btn btn-outline-primary btn-sm">Open All Tabs</button>
      </div>
    </div>
  </div>

  <div class="col mt-3">
    <app-candidate-visa-job
      [candidate]="candidate"
      [candidateIntakeData]="candidateIntakeData"
      [visaRecord]="visaRecord"
      (selectedJobIndex)="updateSelectedJob($event)">
    </app-candidate-visa-job>
  </div>
</div>

{{this.selectedJob?.jobOpp ? this.selectedJob?.jobOpp?.name : this.selectedJob?.name}}

<ngb-accordion #visaJobCanada="ngbAccordion" [destroyOnHide]="false">

  <ngb-panel id="occupation-eligibility" title="Occupation Eligibility">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="pathway-eligibility" title="Pathway Eligibility">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="candidate-qualifications" title="Candidate Qualifications">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="tbb-eligibility" title="TBB Eligibility">
    <ng-template ngbPanelContent>
      <div>
        <app-job-interest
          [entity]="candidate"
          [candidateIntakeData]="candidateIntakeData"
          [selectedIndex]="jobIndex"
          [visaCheckRecord]="visaRecord"
          [selectedJobCheck]="selectedJobCheck">
        </app-job-interest>

        <app-job-eligibility-assessment
          [entity]="candidate"
          [candidateIntakeData]="candidateIntakeData"
          [selectedIndex]="jobIndex"
          [visaCheckRecord]="visaRecord"
          [selectedJobCheck]="selectedJobCheck">
        </app-job-eligibility-assessment>
      </div>
      <hr>
      <div class="card card-body intake-data">
        <app-fixed-input
          [question]="'Family in Canada that may impact offer'"
          [answer]="familyInAus">
        </app-fixed-input>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="family-assessment" title="Family Assessment">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>

</ngb-accordion>
