<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="hostEntryLegally">
      Did you enter legally?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="hostEntryLegally" [formControlName]="'hostEntryLegally'">
      <option *ngFor="let opt of hostEntryLegallyOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="enterLegally === 'No'" class="form-group">
    <label for="hostEntryLegallyNotes">Notes?</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="hostEntryLegallyNotes" [formControlName]="'hostEntryLegallyNotes'"
              placeholder="" ></textarea>
  </div>
</form>

