.tc-description-list {
  display: grid;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: 0.75rem;

  // If direction = column, make the description items stack responsively in columns (min width 250px)
  // If direction = row, the description items are just stacked vertically
  &.grid-column {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
