<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="unhcrStatus">
      Are you registered with UNHCR?
    </label>
    <span *ngIf="saving">
      <i class="fas fa-spinner fa-spin"></i> saving...
    </span>
    <select class="form-control"
            id="unhcrStatus" [formControlName]="'unhcrStatus'">
      <option *ngFor="let opt of unhcrStatusOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
    <p class="small">Note: Not for Palestinians.</p>
  </div>
  <div  *ngIf="showUnhcrNumber()">
    <div class="form-group">
      <label for="unhcrNumber">What is your UNHCR ID number?</label>
      <input type="text" class="form-control"
                id="unhcrNumber" [formControlName]="'unhcrNumber'">
    </div>
    <div class="form-group">
      <label for="unhcrFile">How many people are included on your UNHCR file?</label>
      <input type="number" class="form-control"
             id="unhcrFile" [formControlName]="'unhcrFile'">
    </div>
    <div class="form-group">
      <label for="unhcrPermission">
        Permission to share with UNHCR?
      </label>
      <select class="form-control"
              id="unhcrPermission" [formControlName]="'unhcrPermission'">
        <option *ngFor="let opt of unhcrPermissionOptions" [value]="opt.value">
          {{opt.displayText}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="unhcrNotes">Notes</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="3"
                id="unhcrNotes" [formControlName]="'unhcrNotes'"
                placeholder="" ></textarea>
    </div>
  </div>

</form>

