@import "src/scss/_variables.scss";

.field {
  background-color: $accent3;
  list-style: none;
  padding: 8px;
  color: $dark;
  margin-bottom: 0.5em;
  border-radius: 3px;
  text-align: center;
  &:active,&:focus {
    background-color: $accent2;
  }
}

.container:not(:last-child) {
  margin-right: 4em;
}

.gu-mirror {
  background-color: $info;
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.width-100 {
  width: 100%;
}

label {
  font-weight: 300;
}

.dragula-container {
  height: 100%;
}

.modal-body {
  height: 100vh;
}
