<div class="container">

  <h1 class="text-center">Tell us about your University Degree</h1>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="courseName">What was your Degree in?</label>
      <input type="text" class="form-control" placeholder="" id="courseName" [formControlName]="'courseName'">
    </div>

    <div class="form-group">
      <label for="countryId">Country you studied in:</label>
      <select class="form-control" name="countryId" id="countryId" [formControlName]="'countryId'">
        <option value=""></option>
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="institution">Name of your University/Institution</label>
      <input type="text" class="form-control" placeholder="" id="institution" [formControlName]="'institution'">
    </div>

    <div class="form-group">
      <label for="lengthOfCourseYears">What was your Major/Specialisation?</label>
      <input type="text" class="form-control" placeholder="" id="lengthOfCourseYears" [formControlName]="'lengthOfCourseYears'">
    </div>

    <div class="form-group">
      <label for="dateCompleted">Year of graduation:</label>
      <select class="form-control" name="dateCompleted" id="dateCompleted" [formControlName]="'dateCompleted'">
        <option value=""></option>
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>

  </form>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="save()">
      Next
    </button>
  </div>

</div>
