<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="mb-3">
    <label for="visaJobFamilyAus">Do they have family in another part of Australia that may impact this?</label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobFamilyAus" [formControlName]="'visaJobFamilyAus'" [items]="jobFamilyAusOptions"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
</form>
