<div class="modal-header">

  <h4 class="modal-title">Edit Language</h4>

  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">

  <div *ngIf="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="!loading">
    <div class="alert alert-danger" *ngIf="error">
      {{error}}
    </div>

    <form [formGroup]="candidateForm">

      <!-- LANGUAGE TYPE -->
      <div class="form-group">
        <label for="languageId">Language:</label>
        <select class="form-control" name="languageId" id="languageId" [formControlName]="'languageId'">
          <option value=""></option>
          <option *ngFor="let language of languages" [value]="language.id">{{language.name}}</option>
        </select>
      </div>

      <!-- SPOKEN LEVEL -->
      <div class="form-group">
        <label for="spokenLevelId">Speaking:</label>
        <select class="form-control" name="spokenLevelId" id="spokenLevelId" [formControlName]="'spokenLevelId'">
          <option value=""></option>
          <option *ngFor="let level of languageLevels" [value]="level.id">{{level.name}}</option>
        </select>
      </div>

      <!-- SPOKEN LEVEL -->
      <div class="form-group">
        <label for="writtenLevelId">Reading and Writing:</label>
        <select class="form-control" name="writtenLevelId" id="writtenLevelId" [formControlName]="'writtenLevelId'">
          <option value=""></option>
          <option *ngFor="let level of languageLevels" [value]="level.id">{{level.name}}</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()"
                [disabled]="candidateForm.invalid || loading || saving">
          <i class="fas fa-spinner fa-spin" *ngIf="saving"></i>
          Save
        </button>
      </div>
    </form>

  </div>
</div>
