<div class="container-fluid step-footer">

  <div class="container" [class.justify-content-end]="hideBack">

    <button class="btn btn-outline-primary" translate dir="auto" [hidden]="hideBack"
            [disabled]="registrationService.currentStepIndex == 0 || disabled"
            (click)="back()">
      REGISTRATION.FOOTER.BACK
    </button>

    <button class="btn btn-primary" translate dir="auto" [hidden]="hideNext"
            [disabled]="registrationService.currentStepIndex >= registrationService.steps.length - 1 || disabled"
            (click)="next()">
      REGISTRATION.FOOTER.NEXT
    </button>

  </div>

</div>
