<div class="container-fluid step-footer">

  <div class="container">

    <button class="btn btn-outline-primary" translate dir="auto"
            [disabled]="registrationService.currentStepIndex == 0"
            (click)="back()">
      REGISTRATION.FOOTER.BACK
    </button>

    <button class="btn btn-primary" translate dir="auto"
            [disabled]="registrationService.currentStepIndex >= registrationService.steps.length - 1"
            (click)="next()">
      REGISTRATION.FOOTER.NEXT
    </button>

  </div>

</div>
