<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="card" *ngIf="!loading">

  <div class="card-header">
    Education
    <div class="pull-right" *ngIf="editable">
      <button type="button" class="btn btn-primary" (click)="createCandidateEducation()">Add</button>
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="!candidateEducations || candidateEducations.length == 0">
      <div class="row">
        <div class="col-sm-12">
          No education entered
        </div>
      </div>
    </div>
    <div *ngFor="let candidateEducation of candidateEducations">
      <div class="row">
        <div class="col-6">
          <h6 class="card-title">{{candidateEducation.educationType}}: {{candidateEducation.courseName}}</h6>
        </div>
        <div class="col-6">
          <div class="pull-right" *ngIf="editable">
            <button type="button" class="btn btn-default" (click)="editCandidateEducation(candidateEducation)"><i
              class="fa fa-edit"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label class="col-form-label card-subtitle text-muted">{{candidateEducation.institution}}, {{candidateEducation.country.name}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label class="col-form-label mb-2 text-muted">{{candidateEducation.yearCompleted}}</label>
        </div>
      </div>
      <hr/>
    </div>

  </div>

</div>
