<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="card" *ngIf="!loading">

  <div class="card-header">
    Education
    <span *ngIf="candidate.maxEducationLevel">(Max Level: {{candidate.maxEducationLevel?.name}})</span>

    <div class="pull-right" *ngIf="editable">
      <button type="button" class="btn btn-primary" (click)="createCandidateEducation()">Add</button>
    </div>
  </div>

  <div class="card-body">
    <!-- EMPTY STATE -->
    <p class="m-0" *ngIf="!candidateEducations || candidateEducations.length == 0">
      No education data has been entered by this candidate.
    </p>

    <!-- EDUCATION CARDS -->
    <div *ngFor="let candidateEducation of candidateEducations">

      <div class="row">

        <div class="col-11">
          <h6 class="card-title">{{candidateEducation.educationType}} in {{candidateEducation.educationMajor?.name}}
            : {{candidateEducation.courseName}}</h6>
        </div>

        <div class="col-1">
          <button type="button" class="btn btn-default" (click)="editCandidateEducation(candidateEducation)">
            <i class="fa fa-edit"></i>
          </button>
        </div>

        <div class="col-12">
          <span class="text-muted">{{candidateEducation.institution}}, {{candidateEducation.country.name}}</span>
        </div>

        <div class="col-12">
          <span class="text-muted" [ngSwitch]="">
            {{candidateEducation.yearCompleted}}
            <span *ngIf="candidateEducation.incomplete"></span>
            <ng-container *ngSwitchCase="true"></ng-container>
            <ng-container *ngSwitchCase="false"></ng-container>
          </span>
        </div>

      </div>

      <hr/>

    </div>

  </div>
  <div *ngIf="candidate.migrationEducationMajor" class="card-footer">
      <span class="text-muted">Migrated Major: {{candidate.migrationEducationMajor.name}}</span>
  </div>

</div>
