<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="form-group">
    <label for="visaJobSalaryTsmit">Salary in line with <a href="https://immi.homeaffairs.gov.au/visas/employing-and-sponsoring-someone/sponsoring-workers/nominating-a-position/salary-requirements" target="_blank">TSMIT?</a> (minimum threshold: AUD53,900)</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobSalaryTsmit" [formControlName]="'visaJobSalaryTsmit'" [items]="salaryRequirementOptions"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
</form>
