<div class="tc-modal" [ngClass]="icon ? 'has-icon' : 'no-icon'">
  <!-- Optional close (X) button -->
  <tc-icon
    *ngIf="showClose"
    [type]="'button'"
    (click)="dismiss()"
    [color]="'gray'"
    [size]="'md'"
    style="position: absolute; top: 1.5rem; right: 2rem; cursor: pointer"
  >
    <i class="fa-solid fa-xmark"></i>
  </tc-icon>

  <tc-icon *ngIf="icon" [color]="isError ? 'error' : 'primary'">
    <i [class]="icon"></i>
  </tc-icon>

  <div class="tc-modal-header" [ngClass]="{'text-danger': isError}">
    {{heading}}
  </div>

  <div class="tc-modal-body">
    <span *ngIf="message">{{ message }}</span>
    <ng-content></ng-content>
  </div>

  <div class="tc-modal-footer">
    <tc-button *ngIf="showCancel" [type]="'outline'" [size]="'lg'" (click)="dismiss()">
      {{cancelText}}
    </tc-button>
    <tc-button [type]="'primary'"
               [size]="'lg'"
               (click)="action()"
               [disabled]="disableAction">
      {{actionText}}
    </tc-button>
  </div>
</div>
