<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label" for="visaHealthAssessment">Meets health requirement? (e.g. no major health issues)</label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaHealthAssessment" [formControlName]="'visaHealthAssessment'" (clear)="setNoResponse('visaHealthAssessment')"
               [items]="healthAssessmentOptions" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="mb-3">
    <label class="form-label" for="visaHealthAssessmentNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaHealthAssessmentNotes" [formControlName]="'visaHealthAssessmentNotes'"
              placeholder="" ></textarea>
  </div>
</form>
