<app-error [error]="error"></app-error>
<section>
  <div class="section-heading d-flex justify-content-between">
    <h5>{{ 'TASKS.UPLOAD.HEADER' | translate }}</h5>

    <button class="btn btn-sm btn-outline-secondary mb-2" [routerLink]="['edit', 'upload']">
      {{ 'TASKS.UPLOAD.VIEW' | translate }} <fa-icon icon="folder-open" class="ms-1"></fa-icon>
    </button>
  </div>
  <div class="card">
    <div>
      <app-file-upload [uploading]="uploading" (uploadStarted)="completeUploadTask($event)"></app-file-upload>
      <div *ngIf="uploading">
        {{ 'TASKS.UPLOAD.LOADING' | translate }} <fa-icon  [spin]="true" icon="spinner"></fa-icon>
      </div>
      <div *ngFor="let file of filesUploaded; let i = index;">
        <p>{{ 'TASKS.UPLOAD.SUCCESS' | translate }} {{getFileName(file.name)}}!</p>
      </div>
    </div>
  </div>
</section>
