<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div *ngIf="editable" class="form-group">
    <label for="visaJobEligibleOther">Other Visa Options?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobEligibleOther" [formControlName]="'visaJobEligibleOther'" (clear)="setNoResponse('visaJobEligibleOther')"
               [items]="visaOtherOptions" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="form-group">
    <label for="visaJobEligibleOtherNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaJobEligibleOtherNotes" [formControlName]="'visaJobEligibleOtherNotes'"
              placeholder=""></textarea>
  </div>
</form>
