<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="mb-3">
    <label for="visaOverallRisk">Overall risk assessment? (health/character/security)</label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaOverallRisk" [formControlName]="'visaOverallRisk'" [items]="riskLevelOptions"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="mb-3">
    <label for="visaOverallRiskNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="visaOverallRiskNotes" [formControlName]="'visaOverallRiskNotes'"
              placeholder="" ></textarea>
  </div>
</form>
