/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f3f3f7;
}
