<section [formGroup]="form">
  <div class="section-heading">
    <h5>{{ 'TASKS.YESNOQUESTION.HEADER' | translate }}</h5>
  </div>
  <div class="card">
    <div class="form-group">
      <label for="response">
        {{ 'TASKS.YESNOQUESTION.LABEL' | translate }}
      </label>
      <ng-select  id="response" [formControlName]="'response'"
                  [clearable]="false" placeholder="Select...">
        <ng-option [value]="'Yes'">Yes</ng-option>
        <ng-option [value]="'No'">No</ng-option>
      </ng-select>
    </div>
  </div>
</section>
