<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="visaJobInterest">Candidate genuinely interested in the role and would move to accept offer?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobInterest" [formControlName]="'visaJobInterest'" (clear)="setNoResponse('visaJobInterest')"
               [items]="jobInterestOptions" [closeOnSelect]="true" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="displayText" bindValue="value"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="form-group">
    <label for="visaJobInterestNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="2"
              id="visaJobInterestNotes" formControlName="visaJobInterestNotes"
              placeholder="" ></textarea>
  </div>
</form>
