<div class="reset-password container">

  <!-- CONFIRMATION -->
  <p class="alert alert-success" *ngIf="updated">
    We have sent you an email with reset instructions.
  </p>

  <form [formGroup]="resetPasswordForm" *ngIf="!updated">

    <h2>Forgot Password</h2>

    <p>We will send you an email with instructions on how to reset your password.</p>

    <!-- Password -->
    <div class="mb-3">
      <input id="email" class="form-control" type="email" [formControlName]="'email'" placeholder="name@example.com"
             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
      <div *ngIf="resetPasswordForm.get('email').touched || resetPasswordForm.get('email').dirty" class="text-danger">
        <small *ngIf="resetPasswordForm.get('email').errors?.['pattern']">
          This field must contain a valid email address
        </small>
      </div>
    </div>

    <div class="text-center">
      <!-- SUBMIT -->
      <button class="btn btn-primary mb-4"
              [disabled]="loading || resetPasswordForm.invalid || resetPasswordForm.pristine"
              (click)="sendResetEmail()">
        Email Me
      </button>
    </div>

  </form>

</div>
