<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

      <h6>Email? </h6><p>{{candidate.user.email}}</p>
      <h6>Phone? </h6><p>{{candidate.phone}}</p>
      <h6>Whatsapp? </h6><p>{{candidate.whatsapp}}</p>

      <span *ngIf="saving">
        <i class="fas fa-spinner fa-spin"></i> saving...
      </span>
<!--      <p>Are the details above confirmed?</p>-->
<!--      <div class="radio">-->
<!--        <div class="form-group">-->
<!--          <label for="confirmed">Yes</label>-->
<!--          <input type="radio" id="confirmed" [value]=true [formControlName]="'confirmEmail'">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="notConfirmed">No</label>-->
<!--          <input type="radio" id="notConfirmed" [value]="false" [formControlName]="'confirmEmail'">-->
<!--        </div>-->
<!--        <p *ngIf="confirmWarning === false" class="text-danger">-->
<!--          If not confirmed, please update email on the TC going to the Candidate's General tab and updating their contact details.-->
<!--        </p>-->
<!--      </div>-->
      <p class="text-danger">
        * If not correct, please update through Candidate's General tab and clicking on the Edit button next to to their Contact Details.
      </p>
</form>


