<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label" [title]="componentTooltipKey | translate">
      {{componentLabelKey | translate}}
      <sup *ngIf="required" class="text-danger fw-light">* required</sup>
    </label>
    <div *ngIf="editable" class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ngx-wig *ngIf="richText" [formControlName]="formFieldName"
    ></ngx-wig>
    <input *ngIf="!richText" [type]="inputType" class="form-control" [formControlName]="formFieldName">
  </div>
</form>
