<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-sm-{{mainPanelColWidth}}">

      <app-jobs
        [searchBy]="searchBy"
        (oppSelection)="onJobSelected($event)"
      >
      </app-jobs>

    </div>

    <div class="col-sm-{{sidePanelColWidth}} admin-panel detail-panel">
      <div class="w-100">
        <div *ngIf="canToggleSizes()" class="float-end">
          <button class="btn btn-sm btn-outline-secondary" (click)="resizeSidePanel()"><i
            class="fas fa-arrow-{{sidePanelIsMax ? 'right' : 'left'}}"></i></button>
        </div>

        <div *ngIf="selectedJob">
          <div class="d-flex align-items-center mb-3 text-accent-1">
            <span class="fs-5 fw-bold">{{selectedJob.name + ' (' + selectedJob.id + ')'}}</span>
            <button class="btn" (click)="doOpenJob()"><i class="fa-solid fa-briefcase link-info" title="Job"></i></button>
            <button class="btn" (click)="doToggleStarred()">
              <i *ngIf="isStarred()" class="fas fa-star starred" title="Unstar"></i>
              <i *ngIf="!isStarred()" class="far fa-star notstarred" title="Star"></i>
            </button>

            <div class="alert alert-danger" *ngIf="error">
              {{error}}
            </div>
          </div>

          <app-view-job-summary
            [job]="selectedJob"
          >
          </app-view-job-summary>


          <div class="mt-4">
            <h6>Submission List - <small class="fst-italic">Candidate opportunities ("cases") going for this job</small></h6>
          </div>

          <app-candidate-source-results *ngIf= "selectedJob.submissionList"
                                        [candidateSource]="selectedJob.submissionList" >
            <!--                                    (toggleStarred)="onToggleStarred($event)"-->
            <!--                                    (toggleWatch)="onToggleWatch($event)"-->
            <!--                                    (deleteSource)="onDeleteSource($event)"-->
            <!--                                    (editSource)="onEditSource($event)"-->
            <!--                                    (copySource)="onCopySource($event)"-->
            >

          </app-candidate-source-results>
        </div>

      </div>
    </div>
  </div>
</div>

