@import "~src/scss/variables";

.starred {
  color: $warning;
}

.admin-panel {
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
  //max-width: 700px;
}

.admin-panel.left-panel {
  padding: 0 1em 1em 0;
}

.searches {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  //width: 25em;
}

.searches .form-control {
  margin-top: 1em;
}

.searches .form-control.top {
  margin-top: 0;
}

.searches li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: $accent3;
  color: $dark;
  margin: .5em;
  margin-left: 0;
  padding: 0.1em .4em;
  border-radius: 4px;
}
.searches li:hover {;
  background-color: $accent1;
  color: $light;
  left: .1em;
}
.searches li.selected {
  background-color: $accent1;
  color: white;
}
.searches li.selected:hover {
  background-color: $accent1;
  color: $light;
}
.floating-col {
  position: sticky;
  top: 100px;
  z-index: 1050;
}
