<form [formGroup]="form">
  <div class="d-flex justify-content-between">
    <div class="form-group col-6 pl-0">
      <label for="intakeMiniCheckedDate">
        Date of Completion:
      </label>
      <div class="input-group">
        <input id="intakeMiniCheckedDate" type="text" class="form-control" placeholder="YYYY-MM-DD"
               ngbDatepicker #picker="ngbDatepicker"
               [formControlName]="'intakeMiniCheckedDate'"
               (dateSelect)="dateSelection($event)"
               [autoClose]="true"
               [outsideDays]="'hidden'"
               [container]="'#intakeMiniCheckedDate'">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="picker.toggle()">
            <i class="fas fa-calendar-alt"></i>
          </button>
          <button class="btn btn-outline-secondary calendar"
                  (click)="clearDate()">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="checkedDate != null" class="form-group col-6 pr-0">
      <label for="intakeMiniCheckedById">
        Completed By:
      </label>
      <input id="intakeMiniCheckedById"
             type="text" class="form-control" #input
             [ngbTypeahead]="doNameSearch"
             [resultTemplate]="rt"
             [inputFormatter]="renderCandidateRow"
             [value]="userDisplay"
             [editable]="false"
             (selectItem)="selectSearchResult($event, input)"/>
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="renderCandidateRow(r)" [term]="t"></ngb-highlight>
      </ng-template>
    </div>
  </div>
</form>

