<!-- EXISTING RECORDS -->
<div class="card">
  <div class="card-header">
    Job Specific Assessment
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="addRecord()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div *ngIf="error">
      {{error}}
    </div>
    <div *ngIf="visaRecord?.candidateVisaJobChecks">
        <form [formGroup]="form">
          <div *ngFor="let jobOpportunity of visaRecord.candidateVisaJobChecks; let i = index;">
            <div class="form-group align-items-center">
              <input type="radio" [value]="i"
                     name="jobIndex" formControlName="jobIndex"
                     (change)="changeJobOpp($event)">
              {{jobOpportunity.name}}
              <button class="float-right btn" (click)="deleteRecord(i)">
              <span class="align-top">
                <i class="fas fa-trash"></i>
              </span>
              </button>
            </div>
          </div>
        </form>
    </div>

    <hr/>

    <div [ngSwitch]="selectedCountry" *ngIf="selectedCountry != undefined">

      <app-visa-job-assessment-au [candidate]="candidate"
                                  [selectedJobCheck]="selectedJobCheck"
                                  [visaRecord]="visaRecord">
      </app-visa-job-assessment-au>



      <app-visa-job-assessment-ca *ngSwitchCase="'Canada'"
                                  [candidate]="candidate"
                                  [jobIndex]="jobIndex"
                                  [visaRecord]="visaRecord"
      >
      </app-visa-job-assessment-ca>

      <div *ngSwitchDefault>
        //todo error!
        {{selectedCountry}}
      </div>
    </div>

  </div>
</div>
