<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<div *ngIf="job" class="card">
  <div class="card-header d-flex align-items-baseline justify-content-between">
    <h5>Selected job preparation items</h5>
  </div>
  <div class="card-body">
    <div>
      Clicking on each item will show you how you can complete it. A tick appears
      next to items which have been completed.
    </div>
<!-- Loop through job preparation items -->
    <div class="d-flex flex-column pt-4">
      <ul class="fa-ul">
        <li *ngFor="let item of jobPrepItems" (click)="onItemSelected(item)"
            [ngClass]="{'selected': isSelected(item)}"
        >
          <span class="fa-li text-secondary">
             <i [ngClass]="item.isCompleted() ? 'far fa-check-square' : 'far fa-square'"></i>
          </span>
          {{item.description}}
        </li>
      </ul>
    </div>
  </div>
</div>
