<div class="text-parts-input">
  <div>
    <label>Original</label>
    <input
      class="form-control"
      type="text"
      [disabled]="disabled"
      [value]="parts.original"
      (input)="updateOriginal($event)"
      (blur)="onBlur()"
    />
  </div>

  <div>
    <label>Tidied</label>
    <input
      class="form-control"
      type="text"
      [disabled]="disabled"
      [value]="parts.tidied ?? ''"
      (input)="updateTidied($event)"
      (blur)="onBlur()"
    />
  </div>

  <div>
    <label>Keywords</label>
    <input
      class="form-control"
      type="text"
      [disabled]="disabled"
      [value]="keywordsText()"
      (input)="updateKeywords($event)"
      (blur)="onBlur()"
      placeholder="comma separated"
    />
  </div>
</div>
