 <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div *ngIf="state === 'idle'">
                  <i class="fa-regular fa-envelope fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>{{ 'HOME.EMAIL_VERIFICATION.IDLE.TITLE' | translate }}</h2>
                    <p>{{ 'HOME.EMAIL_VERIFICATION.IDLE.DESCRIPTION' | translate }}  <b>{{ userEmail }}</b>.</p>
                    <p [innerHTML]="'HOME.EMAIL_VERIFICATION.IDLE.UPDATE_EMAIL' | translate"></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'idle'"
                            (click)="sendVerifyEmail()">{{ 'HOME.EMAIL_VERIFICATION.IDLE.SEND_BUTTON' | translate }}
                    </button>
                </div>

                <div *ngIf="state === 'loading'">
                    <div class="spinner-border text-info" role="status">
                    </div>
                    <h2>{{ "HOME.EMAIL_VERIFICATION.LOADING.TITLE" | translate }}  .</h2>
                    <p>{{ "HOME.EMAIL_VERIFICATION.LOADING.DESCRIPTION" | translate }} </p>
                </div>

                <div *ngIf="state === 'emailSent'">
                  <i class="fa-solid fa-envelope-open-text fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>{{ "HOME.EMAIL_VERIFICATION.EMAIL_SENT.TITLE" | translate }} </h2>
                    <p [innerHTML]='"HOME.EMAIL_VERIFICATION.EMAIL_SENT.DESCRIPTION" | translate:{ email: userEmail }'></p>
                    <p [innerHTML]='"HOME.EMAIL_VERIFICATION.EMAIL_SENT.SPAM" | translate'></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'emailSent' || state === 'error'"
                            (click)="sendVerifyEmail()">{{ "HOME.EMAIL_VERIFICATION.EMAIL_SENT.BUTTON" | translate }}
                    </button>
                </div>

                <div *ngIf="state === 'error'">
                  <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>{{ error }}</h2>
                    <button
                            class="btn btn-primary"
                            (click)="sendVerifyEmail()">{{ "HOME.EMAIL_VERIFICATION.ERROR.BUTTON" | translate }}
                    </button>
                    <p></p>
                </div>
            </div>
        </div>
