 <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div *ngIf="state === 'idle'">
                    <!-- SVG icon -->
                    <svg width="40" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.5 3.25V13.75C20.5 14.9926 19.4926 16 18.25 16H3.25C2.00736 16 1 14.9926 1 13.75V3.25M20.5 3.25C20.5 2.00736 19.4926 1 18.25 1H3.25C2.00736 1 1 2.00736 1 3.25M20.5 3.25V3.49271C20.5 4.27405 20.0947 4.99945 19.4292 5.40894L11.9292 10.0243C11.2061 10.4694 10.2939 10.4694 9.57078 10.0243L2.07078 5.40894C1.40535 4.99945 1 4.27405 1 3.49271V3.25"
                              stroke="#10B0E3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h2>{{ 'HOME.EMAIL_VERIFICATION.IDLE.TITLE' | translate }}</h2>
                    <p>{{ 'HOME.EMAIL_VERIFICATION.IDLE.DESCRIPTION' | translate }}  <b>{{ userEmail }}</b>.</p>
                    <p [innerHTML]="'HOME.EMAIL_VERIFICATION.IDLE.UPDATE_EMAIL' | translate"></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'idle'"
                            (click)="sendVerifyEmail()">{{ 'HOME.EMAIL_VERIFICATION.IDLE.SEND_BUTTON' | translate }}
                    </button>
                </div>

                <div *ngIf="state === 'loading'">
                    <div class="spinner-border text-info" role="status">

                    </div>
                    <h2>{{ "HOME.EMAIL_VERIFICATION.LOADING.TITLE" | translate }}  .</h2>
                    <p>{{ "HOME.EMAIL_VERIFICATION.LOADING.DESCRIPTION" | translate }} </p>
                </div>

                <div *ngIf="state === 'emailSent'">
                    <!-- SVG icon -->
                    <svg width="70" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.75 13V13.9061C21.75 14.7338 21.2955 15.4947 20.5667 15.8871L14.0893 19.375M2.25 13V13.9061C2.25 14.7338 2.70448 15.4947 3.43328 15.8871L9.91074 19.375M18.75 21.8846L14.0893 19.375M14.0893 19.375L13.0667 18.8244C12.4008 18.4658 11.5992 18.4658 10.9333 18.8244L9.91074 19.375M9.91074 19.375L5.25 21.8846M21.75 23.5C21.75 24.7426 20.7426 25.75 19.5 25.75H4.5C3.25736 25.75 2.25 24.7426 2.25 23.5L2.25 12.8439C2.25 12.0161 2.70448 11.2553 3.43328 10.8628L10.9333 6.82436C11.5992 6.46577 12.4008 6.46577 13.0667 6.82436L20.5667 10.8628C21.2955 11.2553 21.75 12.0161 21.75 12.8439V23.5Z"
                              stroke="#10B0E3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="11" y="7.08704" width="11.4743" height="10.7993" rx="5.39966"
                              transform="rotate(-30 11 7.08704)" fill="white"/>
                        <path d="M19.6841 8.69808L16.3513 5.55627C19.5857 4.78576 22.8973 4.60319 26.1438 4.96845C24.8369 7.96263 23.023 10.7393 20.7386 13.1551L19.6841 8.69808ZM19.6841 8.69808L22.8128 6.89175"
                              stroke="#10B0E3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.7913 9.40095L14.5764 11.2571" stroke="#10B0E3" stroke-linecap="round"/>
                        <path d="M16.7792 7.64731L15.6101 8.32227" stroke="#10B0E3" stroke-linecap="round"/>
                        <path d="M18.8041 11.1546L17.635 11.8295" stroke="#10B0E3" stroke-linecap="round"/>
                    </svg>

                    <h2>{{ "HOME.EMAIL_VERIFICATION.EMAIL_SENT.TITLE" | translate }} </h2>
                    <p [innerHTML]='"HOME.EMAIL_VERIFICATION.EMAIL_SENT.DESCRIPTION" | translate:{ email: userEmail }'></p>
                    <p [innerHTML]='"HOME.EMAIL_VERIFICATION.EMAIL_SENT.SPAM" | translate'></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'emailSent' || state === 'error'"
                            (click)="sendVerifyEmail()">{{ "HOME.EMAIL_VERIFICATION.EMAIL_SENT.BUTTON" | translate }}
                    </button>
                </div>

                <div *ngIf="state === 'error'">
                    <svg width="60" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9998 9.00006V12.7501M2.69653 16.1257C1.83114 17.6257 2.91371 19.5001 4.64544 19.5001H19.3541C21.0858 19.5001 22.1684 17.6257 21.303 16.1257L13.9487 3.37819C13.0828 1.87736 10.9167 1.87736 10.0509 3.37819L2.69653 16.1257ZM11.9998 15.7501H12.0073V15.7576H11.9998V15.7501Z"
                              stroke="#10B0E3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <h2>{{ this.error }}</h2>
                    <button
                            class="btn btn-primary"
                            (click)="sendVerifyEmail()">{{ "HOME.EMAIL_VERIFICATION.ERROR.BUTTON" | translate }}
                    </button>
                    <p></p>
                </div>
            </div>
        </div>
