<app-error [error]="error"></app-error>
<div>
  <p>
    Your Talent Catalog partner is {{partnerName}}.
  </p>
  <div *ngIf="requestAcceptance">
    <div *ngIf="!termsRead">
      <p>
        The Privacy Policy has changed. Please read and approve this new policy.
      </p>
      <p>
        We cannot continue to support you until you do this.
      </p>
      <p>
        Scroll to bottom of terms to show that you have read it.
      </p>
    </div>
  </div>

  <app-show-terms
    [requestTermsRead] = "requestAcceptance"
    (termsRead)="setTermsRead()"
  >
    <div [innerHtml]=content></div>
  </app-show-terms>

  <div *ngIf="!requestAcceptance">
    Thank you for accepting this privacy policy with {{partnerName}}.
  </div>
  <div *ngIf="requestAcceptance">
    <div *ngIf="termsRead">

      <button class="btn btn-primary" (click)="acceptTerms()"
      >
        <!--  todo new text-->
        {{ 'REGISTRATION.SUBMIT.POLICY_ACCEPTANCE_TEXT' | translate }}
      </button>
    </div>
  </div>
</div>
