<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="familyHealthConcern">
      Do you or any of your dependents/spouse have any serious health concerns?
    </label>
    <div *ngIf="editable" class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="familyHealthConcern" [formControlName]="'familyHealthConcern'" [class.not-editable]="!editable">
      <option *ngFor="let opt of familyHealthConcernOptions" [value]="opt.value" [disabled]="!editable">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="familyHealthConcern === 'Yes'" class="form-group">
    <label for="familyHealthConcernNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="familyHealthConcernNotes" [formControlName]="'familyHealthConcernNotes'"
              placeholder="" [readOnly]="!editable"></textarea>
  </div>
</form>

