<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="mb-3 flex-fill">
    <label class="form-label" for="jobSummary">
    <span class="me-2 font-weight-normal" [ngClass]="{'alert alert-danger': highlight}">
      Job Summary
      <span *ngIf="saving">
         <i class="fas fa-spinner fa-spin"></i>
      </span>
      <span *ngIf="jobSummaryControl.dirty">
        <button class="btn btn-sm btn-secondary" (click)="saveChanges()">
          <i class="far fa-save"></i>
        </button>
        <button class="btn btn-sm btn-secondary" (click)="cancelChanges()">x</button>
      </span>
    </span>
    </label>

    <textarea id="jobSummary" class="md-textarea-auto form-control" rows="{{nRows}}"
              [readOnly]="!editable"
              placeholder="Enter short summary of job..."
              [formControlName]="'jobSummary'">{{job.jobSummary}}</textarea>
  </div>
</form>
