@import "~src/scss/variables";

.form-steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-top: 32px;
}

.step-bubble {
  padding: 8px;
  border: 2px solid $color-primary-dark;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-primary-dark;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

.step-divider {
  border: 1px solid $color-primary-dark;
  flex: 1;
}

.step-current, .step-complete {
  background: $color-primary-dark;
  color: white;
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}
