<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="card" *ngIf="!loading">
  <div class="card-header">
    {{candidateOccupation.occupation.name}} ({{candidateOccupation.yearsExperience}} years)
    <i *ngIf="candidateOccupation.verified" class="fa fa-check" title="Verified by TBB"></i>
    <i *ngIf="!candidateOccupation.verified" class="fa fa-question" title="Candidate specified, not verified"></i>
    <div class="button-group pull-right" *ngIf="editable">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="verifyOccupation()">Verify Occupation</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="createCandidateJobExperience()">Add Experience</button>
    </div>
    <div *ngIf="candidateOccupation.migrationOccupation" class="col-sm-12">
      Migrated Language: {{candidateOccupation.migrationOccupation}}
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="!experiences || experiences.length == 0">
      <div class="row">
        <div class="col-sm-12">
          No job experience entered
        </div>
      </div>
    </div>
    <div *ngFor="let candidateJobExperience of experiences">
      <div class="row">
        <div class="col-11">
          <h6 class="card-title">{{candidateJobExperience.role}}</h6>
        </div>
        <div class="col-1">
          <div class="pull-right" *ngIf="editable">
            <button type="button" class="btn btn-default" (click)="editCandidateJobExperience(candidateJobExperience)"><i
              class="fa fa-edit"></i></button>
          </div>
        </div>
      </div>
      <div class="row">
          <div *ngIf="candidateJobExperience.description">
            <div *ngIf="!expanded">
              {{ (candidateJobExperience.description | slice:0:50) + (candidateJobExperience.description.length > 50 ? ' ...' : '')}}
              <button *ngIf="candidateJobExperience.description.length > 50" type="button" class="btn btn-sm btn-default" (click)="expanded = true"><i class="fa fa-toggle-down"></i></button>
            </div>
            <div *ngIf="expanded">
              {{ candidateJobExperience.description }}
              <button type="button" class="btn btn-sm btn-default" (click)="expanded = false"><i class="fa fa-toggle-up"></i></button>
            </div>
          </div>
      </div>
      <div class="row">
          <label class="col-form-label">{{candidateJobExperience.companyName}}, {{candidateJobExperience.country.name}}</label>
      </div>
      <div class="row">
          <label class="col-form-label mb-2 text-muted small">{{candidateJobExperience.startDate | date }} - {{candidateJobExperience.endDate | date }}</label>
      </div>
      <hr/>
    </div>
    <div class="pull-right" *ngIf="hasMore">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="loadMore()">Load More</button>
    </div>
  </div>

</div>
