<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>

<div *ngIf="error">
  {{error}}
</div>

<div class="card" *ngIf="!loading">

  <div class="card-header">
    {{candidateOccupation.occupation.name}} ({{candidateOccupation.yearsExperience}} years)
    <i *ngIf="candidateOccupation.verified" class="fa fa-check" title="Verified by TBB"></i>
    <i *ngIf="!candidateOccupation.verified" class="fa fa-question" title="Candidate specified, not verified"></i>

    <div class="button-group pull-right" *ngIf="editable">
      <button class="btn btn-sm btn-outline-dark mr-2" (click)="verifyOccupation()">
        <i class="fa fa-check"></i>
      </button>

      <button class="btn btn-sm btn-primary" (click)="createCandidateJobExperience()">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div *ngIf="candidateOccupation.migrationOccupation" class="col-sm-12">
      Migrated Language: {{candidateOccupation.migrationOccupation}}
    </div>
  </div>

  <div class="card-body">

    <!-- EMPTY STATE -->
    <p *ngIf="!experiences?.length">
      No job experience data has been entered by this candidate.
    </p>

    <!-- JOB EXPERIENCE CARDS -->
    <ng-container *ngFor="let experience of experiences; let i = index">

      <div class="row">

        <div class="col-11">
          <h6 class="card-title">{{experience.role}}</h6>
        </div>

        <div class="col-1">
          <button class="btn btn-default" *ngIf="editable" (click)="editCandidateJobExperience(experience)">
            <i class="fa fa-edit"></i>
          </button>
        </div>

        <div class="col-12" *ngIf="experience.description">

          <div *ngIf="!expanded">
            {{ (experience.description | slice:0:50) + (experience.description.length > 50 ? ' ...' : '')}}
            <button class="btn btn-sm btn-default"
                    *ngIf="experience.description.length > 50"
                    (click)="expanded = true">
              <i class="fa fa-toggle-down"></i>
            </button>
          </div>

          <div *ngIf="expanded">
            {{ experience.description }}
            <button type="button" class="btn btn-sm btn-default" (click)="expanded = false">
              <i class="fa fa-toggle-up"></i>
            </button>
          </div>

        </div>

        <div class="col-12">
          <span>{{experience.companyName}}, {{experience.country.name}}</span>
        </div>

        <div class="col-12">
          <small class="text-muted">
            {{experience.startDate | date }} - {{experience.endDate | date }}
          </small>
        </div>

      </div>

      <hr *ngIf="i < experiences?.length - 1">

    </ng-container>

    <div class="pull-right" *ngIf="hasMore">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="loadMore()">Load More</button>
    </div>

  </div>

</div>
