<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="healthIssues">
      Do you have any health issues?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="healthIssues" [formControlName]="'healthIssues'">
      <option *ngFor="let opt of healthIssuesOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>

  <div *ngIf="hasNotes" class="form-group">
    <label for="healthIssuesNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="healthIssuesNotes" [formControlName]="'healthIssuesNotes'"
              placeholder="" [readOnly]="!editable"></textarea>
  </div>

</form>
