<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="healthIssues">
      Do you have any health issues?
    </label>
    <div *ngIf="editable" class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="healthIssues" [formControlName]="'healthIssues'" (clear)="setNoResponse('healthIssues')"
               [items]="healthIssuesOptions" [closeOnSelect]="true" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="displayText" bindValue="value">
    </ng-select>
  </div>

  <div *ngIf="hasNotes" class="form-group">
    <label for="healthIssuesNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="healthIssuesNotes" [formControlName]="'healthIssuesNotes'"
              placeholder=""></textarea>
  </div>

</form>
