<div class="container">

  <h1 class="text-center">Where are you living now?</h1>

  <form class="row" [formGroup]="form">

    <!-- COUNTRY -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" name="country" id="country" [formControlName]="'country'">
          <option value=""></option>
          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
      </div>
    </div>

    <!-- CITY -->
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="" [formControlName]="'city'">
      </div>
    </div>

    <!-- YEAR OF ARRIVAL -->
    <div class="col-12">
      <div class="form-group">
        <label for="yearOfArrival">What year did you arrive in this country?</label>
        <select class="form-control" name="yearOfArrival" id="yearOfArrival" [formControlName]="'yearOfArrival'">
          <option value=""></option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

  </form>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="save()">
      Next
    </button>
  </div>

</div>
