@import "~src/scss/variables";

.nav-link {
  font-size: 12px;
  background-color: $accent2;
  &:hover {
    background-color: fade-out($accent1, 0.1);
    color: $light;
  }
  &.active {
    background-color: $info;
  }
}

.nav-link {
  margin-bottom: 5px;
}
