<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>

<div *ngIf="error">
  {{error}}
</div>

<div class="card">

  <!-- HEADER -->
  <div class="card-header justify-content-between">

    <span>Attachments</span>

    <div class="pull-right" *ngIf="editable">
      <button type="button" class="btn btn-sm btn-primary" (click)="createCandidateAttachment()">
        <i class="fa fa-plus"></i></button>
    </div>

  </div>

  <!-- BODY -->
  <div class="card-body">

    <!-- EMPTY STATE -->
    <p *ngIf="!attachments || attachments.length == 0"></p>

    <!-- ATTACHMENTS -->
    <div class="row" *ngFor="let attachment of attachments; let i = index">

      <!-- NAME -->
      <div class="col-12">

        <a target="_blank" [href]="getAttachmentUrl(attachment)">
          {{attachment.name}}
        </a>

      </div>

      <!-- AUDIT DATA -->
      <div class="col-12">
        <app-updated-by *ngIf="attachment"
                        [createdBy]="attachment.createdBy"
                        [createdDate]="attachment.createdDate"
                        [updatedBy]="attachment.updatedBy"
                        [updatedDate]="attachment.updatedDate">
        </app-updated-by>
      </div>

      <div class="col-2">
        <div class="pull-right" *ngIf="editable">
          <button type="button" class="btn btn-sm btn-default" (click)="editCandidateAttachment(attachment)">
            <i
              class="fa fa-edit"></i></button>
        </div>
      </div>
    </div>

    <!-- LOAD MORE -->
    <div class="text-center" *ngIf="hasMore">
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="loadMore()">Load More</button>
    </div>

  </div>

</div>




