<div>
  <ul>
    <li>
      Candidate has verbally confirmed he/she is aware engagement with Talent Beyond Boundaries does not guarantee a secured opportunity internationally.
    </li>
    <li>
      Candidate has verbally given TBB permission to share the candidate’s full profile with employers and anonymous information to third party partners.
    </li>
    <li>
      Sent collaboration agreement to candidate
    </li>
    <li>
      Sent Coursera invite
    </li>
    <li>
      Sent ReallyEnglish invite
    </li>
    <li>
      Sent Forage link
    </li>
  </ul>
  <label for="final-agreement">Please check the box to confirm the above.</label>
  <input id="final-agreement" type="checkbox">
</div>
