<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cancel()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div class="my-2">
      <label class="form-label" for="placeholder">Display text:</label>
      <input type="text"
             class="form-control"
             id="placeholder"
             [formControlName]="'placeholder'"
             (keydown.enter)="onKeydownEnter()"
      >
    </div>
    <div class="my-2">
      <label class="form-label" for="url">Link to:</label>
      <input #urlInput
             type="text"
             class="form-control"
             id="url"
             [formControlName]="'url'"
             (keydown.enter)="onKeydownEnter()"
             pattern="{{urlRegex}}"
      >
      <div *ngIf="form.get('url').touched || form.get('url').dirty" class="my-2">
        <small *ngIf="form.get('url').errors?.['pattern']" class="text-danger">
          Please enter a valid URL including the prefix<br>
          (e.g. 'https://tctalent.org/' or 'mailto:name@email.com')
        </small>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-accent-2" (click)="cancel()">
    Cancel
  </button>

  <button [disabled]="form.invalid"
          type="button"
          class="btn btn-success"
          (click)="save()"
  >
    Save
  </button>
</div>
