<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<!--Note: using use tr to pick scss style-->
<div class="table-responsive">
  <table class="table table-hover">

    <tbody>
    <tr *ngFor="let chat of chats" (click)="selectCurrent(chat)"
        [ngClass]="{'current': currentChat?.id == chat.id}">
      <td>
        <app-view-chat
            [chat]="chat"
        >
        </app-view-chat>
      </td>
    </tr>
    </tbody>
  </table>
</div>
