<div class="container">

  <div class="row">

    <div class="col-12 col-md-6 mb-4">

      <h1>{{ 'LANDING.TITLE' | translate }}</h1>

      <p>
        {{ 'LANDING.PARA1' | translate }}
      </p>

      <h5>{{ 'LANDING.HEADING2' | translate }}</h5>

      <p>
        {{ 'LANDING.PARA2' | translate }}
      </p>

    </div>

    <div class="col-12 col-md-6 mb-4">

      <div class="card">

        <app-login></app-login>

        <hr>

        <div class="text-center">
          <a class="btn btn-outline-primary w-75" [routerLink]="'/register'">{{ 'LANDING.REGISTER' | translate }}</a>
        </div>

      </div>

    </div>

  </div>

  <h5>{{ 'LANDING.HEADING3' | translate }}</h5>

  <p>{{ 'LANDING.PARA3' | translate }}</p>

<!--  <h5>{{ 'LANDING.HEADING4' | translate }}</h5>-->

<!--  <p>{{ 'LANDING.PARA4' | translate }}</p>-->

</div>
