<app-error [error]="error"></app-error>
<app-loading [loading]="loading"></app-loading>

<div *ngIf="!isOnIssueReportList; else issueReported">
  <h4>Success!</h4>
  <p>Your LinkedIn Premium upgrade coupon was redeemed</p>
  <h5>Coupon didn't work?</h5>
  <p>
    Try visiting LinkedIn again to activate your offer by clicking
    <a [href]="assignment.resource.resourceCode" target="_blank">here</a>.
  </p>
  <h5>Still not working?</h5>
  <tc-button [color]="'error'" (onClick)="reportIssue()">
    Report an Issue
  </tc-button>
</div>

<ng-template #issueReported>
  <p>Thanks for reporting an issue with your coupon!</p>
  <p>A member of our team will be in touch.</p>
</ng-template>
