<div *ngIf="opp">

  <nav aria-label="breadcrumb" [hidden]="!showBreadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li *ngIf="opp.name" class="breadcrumb-item active" aria-current="page">Case / {{opp.name}}</li>
    </ol>

  </nav>

  <div class="d-flex justify-content-between align-items-center">
    <h1>{{opp.name}}
      <span class="small text-muted">
        <a [routerLink]="['/opp',opp.id]">
          <i class="fas fa-expand" title="Open"></i>
        </a>
        <a *ngIf="opp.sfId && canAccessSalesforce()" [href]="getOppSfLink(opp.sfId)" target="_blank">
          <i class="fab fa-salesforce" title="Show opp in Salesforce"></i>
        </a>
        <a [routerLink]="['/candidate',opp.candidate?.candidateNumber]">
          <i class="fas fa-user" title="Candidate"></i>
        </a>
        <a [routerLink]="['/job',opp.jobOpp.id]">
          <i class="fa-solid fa-briefcase" title="Job"></i>
        </a>
      </span>
    </h1>
  </div>

  <div>
    Candidate Opportunity Case Number {{opp.id}}
  </div>
  <hr/>


  <div>
    <!-- TABS -->
    <nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

      <!-- GENERAL -->
      <ng-container ngbNavItem="General">
        <a ngbNavLink>General</a>
        <ng-template ngbNavContent>
          <div class="card">

            <div class="card-header">
              Case details
              <div class="float-end" *ngIf="editable">
                <i class="fas fa-spinner fa-spin" *ngIf=updating></i>
                <button class="btn btn-sm btn-outline-secondary" title="Update progress" (click)="editOppProgress()">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </div>

            <div class="card-body">
              <div class="row">

                <div class="mb-3 col-sm-12 col-md-4">
                  <label class="col-form-label"><i class="fas fa-globe"></i>Destination Country</label>
                  <div class="form-control-plaintext">
                    {{opp.jobOpp.country}}
                  </div>
                </div>

                <div class="mb-3 col-sm-12 col-md-8">
                  <label title="Potential candidates should be added to this list" class="col-form-label">
                    <i class="fas fa-list"></i>Submission List</label>

                  <div *ngIf="opp.jobOpp.submissionList" class="form-control-plaintext">
            <span><a [routerLink]="['/list',opp.jobOpp.submissionList.id]">
              {{displaySavedList(opp.jobOpp.submissionList)}}</a></span>
                  </div>
                </div>

                <div class="mb-3 col-sm-12 col-md-4">
                  <label class="col-form-label"><i class="fa-regular fa-calendar-days"></i>Created</label>
                  <div class="form-control-plaintext">
                    <app-created-by [object]="opp"></app-created-by>
                  </div>
                </div>

                <div class="mb-3 col-sm-12 col-md-4">
                  <label class="col-form-label"><i class="fa-regular fa-calendar-days"></i>Last updated</label>
                  <div class="form-control-plaintext">
                    <app-updated-by [object]="opp"></app-updated-by>
                  </div>
                </div>
                <hr/>
                <div>
                  <label class="form-label" for="closingComments">
                    Closing comments:
                  </label>
                  <div class="col-12" id="closingComments" [innerHtml]="opp.closingComments">
                  </div>
                </div>
                <hr/>
                <div>
                  <label class="form-label" for="closingCommentsForCandidate">
                    Closing comments for candidate:
                  </label>
                  <div class="col-12" id="closingCommentsForCandidate" [innerHtml]="opp.closingCommentsForCandidate">
                  </div>
                </div>
                <hr/>
                <div>
                  <label class="form-label" for="employerFeedback">
                    Employer feedback:
                  </label>
                  <div class="col-12" id="employerFeedback" [innerHtml]="opp.employerFeedback">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

      <!-- PROGRESS -->
      <ng-container ngbNavItem="Progress">
        <a ngbNavLink>Progress</a>
        <ng-template ngbNavContent>
          <app-opportunity-stage-next-step
            [opp]="opp"
            (oppProgressUpdated)="onOppProgressUpdated($event)"
          >
          </app-opportunity-stage-next-step>
        </ng-template>
      </ng-container>

      <!-- Chat with source partner-->
      <ng-container ngbNavItem="Chat1">
        <a ngbNavLink>Chat Candidate/Source</a>
        <ng-template ngbNavContent>
          <app-view-chat-posts
            [candidateOpp]="opp"
            [jobChatType]="JobChatType.CandidateProspect"
          >
          </app-view-chat-posts>
        </ng-template>
      </ng-container>

      <!-- Chat including source partner and job creator-->
      <ng-container ngbNavItem="Chat2">
        <a ngbNavLink>Chat Candidate/Job creator/Source</a>
        <ng-template ngbNavContent>
          <app-view-chat-posts
            [candidateOpp]="opp"
            [jobChatType]="JobChatType.CandidateRecruiting"
          >
          </app-view-chat-posts>
        </ng-template>
      </ng-container>

    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>

</div>
