<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()" ></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div *ngIf="state === 'idle'">
                  <i class="fa-regular fa-envelope fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>Verify your Email</h2>
                    <p>Click the button below to send a verification email to: <b>{{this.userEmail}}</b>.</p>
                    <p>If you would like to update your email please click<a [routerLink]="['/settings']"> here</a></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'idle'"
                            (click)="sendVerifyEmail()">Send Email
                    </button>
                </div>

                <div *ngIf="state === 'loading'">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                    <h2>Sending Email..</h2>
                    <p>Please wait while we send the verification email.</p>
                </div>

                <div *ngIf="state === 'emailSent'">
                  <i class="fa-solid fa-envelope-open-text fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>Email Sent"</h2>
                    <p>We've sent a verification email to your inbox <b>{{this.userEmail}}</b>. Please check your email and click the link to verify your account.</p>
                    <p>If you don't see it, check your <b>spam folder</b>. <br> If you would like to update your email please click <a href="/profile/edit/contact"></a></p>
                    <button
                            class="btn btn-primary"
                            *ngIf="state === 'emailSent' || state === 'error'"
                            (click)="sendVerifyEmail()">Resend Email
                    </button>
                </div>

                <div *ngIf="state === 'error'">
                  <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #10B0E3; margin-bottom: 2rem;"></i>
                    <h2>{{ this.error }}</h2>
                    <button
                            class="btn btn-primary"
                            (click)="sendVerifyEmail()">Resend Email
                    </button>
                </div>
            </div>
        </div>
