<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <div class="form-group">
      <label for="homeLocation">Where specifically in your home country are you from?</label>
      <div class="float-right">
        <app-autosave-status
          [saving]="saving"
          [typing]="typing">
        </app-autosave-status>
      </div>
      <input type="text" class="form-control"
             id="homeLocation" [formControlName]="'homeLocation'">
    </div>
  </div>
</form>


