<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="me-3">
      <h3>Mini Intake</h3>
      <p class="text-muted">As part of the recruitment process, more information may be needed. Please provide your information below.
        If you have already entered your information you can update if you are up for another job opportunity.</p>
    </div>
    <div class="flex-shrink-0">
      <a class="btn btn-sm btn-primary" target="_blank" href="https://www.talentbeyondboundaries.org/talentcatalog/tasks/overview">
        {{ 'TASKS.VIEWHELP' | translate }} <fa-icon class="ms-1" icon="question-circle"></fa-icon>
      </a>
    </div>
  </div>
</div>
