<div class="container-fluid">
  <div class="d-md-flex align-items-center">
    <div class="mb-3 mb-md-0 me-md-3">
      <h3>Mini Intake</h3>
      <p class="text-muted">As part of the recruitment process, more information may be needed. Please provide your information below.
        If you have already entered your information you can update if you are up for another job opportunity.</p>
    </div>
    <div class="flex-shrink-0 text-center">
      <a class="btn btn-sm btn-primary" target="_blank" href="https://www.talentbeyondboundaries.org/talentcatalog/tasks/overview">
        {{ 'TASKS.VIEWHELP' | translate }} <fa-icon class="ms-1" icon="question-circle"></fa-icon>
      </a>
    </div>
  </div>
  <div class="form-page-container">
    <app-steps></app-steps>
    <div class="step-page-container">
      <div class="form-step">
        <ng-container [ngSwitch]="(currentStep | async)?.section">
          <ng-container *ngSwitchCase="1">
            <app-step-template [step]="(currentStep | async)"></app-step-template>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <app-step-template [step]="(currentStep | async)"></app-step-template>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <app-step-template [step]="(currentStep | async)"></app-step-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <button (click)="onNextStep()" [disabled]="!(currentStep | async)?.isComplete" class="form-continue-btn">
      {{ showButtonLabel() }}
    </button>
  </div>
</div>
