<div *ngIf="error">
  {{error}}
</div>

<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label" for="visaJobEnglishThreshold">Meets English threshold for role?</label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaJobEnglishThreshold" [formControlName]="'visaJobEnglishThreshold'" (clear)="setNoResponse('visaJobEnglishThreshold')"
               [items]="englishThresholdOptions" [clearOnBackspace]="false"
               placeholder="Select" bindLabel="stringValue" bindValue="key"></ng-select>
  </div>
  <div *ngIf="hasNotes" class="mb-3">
    <label class="form-label" for="visaJobEnglishThresholdNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="2"
              id="visaJobEnglishThresholdNotes" [formControlName]="'visaJobEnglishThresholdNotes'"
              placeholder="" ></textarea>
  </div>
</form>
