<form [formGroup]="phoneForm">
  <div class="d-flex">
    <!-- Country code selector -->
<!--    <select formControlName="country" class="form-select">-->
<!--      <option *ngFor="let country of countries" [value]="country.isoCode">-->
<!--        {{ country.isoCode }} {{ get }}-->
<!--      </option>-->
<!--    </select>-->
    <ng-select
      id="isoCodeSelect"
      [items]="countries"
      class="input-group-select"
      bindLabel="name"
      [formControlName]="'country'"
      [placeholder]="'Country (code)'"
      [clearable]="false">
      <ng-template ng-label-tmp let-item="item">
        {{ item.isoCode ? getFlag(item.isoCode) : item.name}} {{ getDialCodeFromIso(item.isoCode) }}
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        {{ item.isoCode ? getFlag(item.isoCode) : item.name}} {{ getDialCodeFromIso(item.isoCode) }}
      </ng-template>
    </ng-select>

    <!-- Phone number input -->
    <input
      type="tel"
      class="form-control"
      formControlName="phone"
      placeholder="Enter phone number"
      (blur)="validatePhone()"
    />
  </div>

  <!-- Validation message -->
  <div *ngIf="isValidNumber === false" class="text-danger mt-1">
    Invalid phone number for selected country.
  </div>

  <div *ngIf="isValidNumber && formattedNumber" class="text-success mt-1">
    Valid: {{ formattedNumber }}
  </div>

  <button class="btn btn-primary mt-3" (click)="validatePhone()">
    Submit
  </button>
</form>
