@import '../../../../scss/color-mixins';

.tc-card {
  border-radius: 1rem;
  @include shadow-lg;
  margin-bottom: 1rem;

  .tc-card-body {
    padding: 1rem;
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.tc-card.no-header {
  .tc-card-body {
    border-radius: 1rem;
    border: 1px solid color(gray, 100);
  }
}
