<div class="modal-header">
  <h4 class="modal-title">Update Existing Saved Search</h4>
  <button type="button" class="close" aria-label="Close"
          [disabled]="updating" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to update this search?</p>
<!--  <app-saved-search [savedSearch]="savedSearch" [showAll]="true" [showMore]="false" [showOpen]="false"></app-saved-search>-->
</div>
<div class="modal-footer">
  <span *ngIf="updating"><i class="fa fa-spinner fa-spin"></i> updating...</span>
  <button type="button" class="btn btn-danger"
          [disabled]="updating"
          (click)="confirm()">Yes</button>
  <button type="button" class="btn btn-secondary"
          [disabled]="updating"
          (click)="cancel()">No</button>
</div>
