<div class="text-right">

  <div class="btn btn-danger btn-card" (click)="delete()">&times;</div>

  <div class="btn btn-primary btn-card" (click)="edit()">&copy;</div>

</div>

<p class="job-title">{{experience?.role}}</p>

<p>{{experience?.companyName}}</p>

<div class="row">

  <div class="col-12 col-md-4">
    <span class="icon"></span>
    {{experience?.country?.name}}
  </div>
  <div class="col-12 col-md-4">
    <span class="icon"></span>
    {{experience?.fullTime ? 'Full time' : 'Part time'}}, {{experience?.paid ? 'Paid' : 'Volunteer' }} employee
  </div>
  <div class="col-12 col-md-4">
    <span class="icon"></span>
    {{experience?.startDate ? (experience?.startDate | date: 'yyyy') : '*'}} - {{experience?.endDate ? (experience?.endDate | date: 'yyyy') : '*'}}
  </div>

</div>

<p class="text-muted">
  {{experience?.description}}
</p>

