<h4 class="mb-3">Import LinkedIn Premium Coupons</h4>

<div class="text-muted mb-2 align-middle">
  Available Coupons: {{ availableCouponsCount }}
</div>

<div class="w-50">
  <tc-alert [type]="'info'">
      Coupons are provided as spreadsheets via email from our LinkedIn contact.
      You may need to convert the file to CSV, which is the required format for TC import.
  </tc-alert>
</div>

<tc-alert *ngIf="error" type="warning">{{ error }}</tc-alert>

<div class="my-3">
  <label for="fileInput" class="form-label">Upload CSV File</label>
  <input
    type="file"
    id="fileInput"
    class="form-control w-75"
    (change)="onFileChange($event)"
    accept=".csv"
  />
</div>

<div class="my-3">
  <tc-button [loading]="working"
             (onClick)="importCSV()"
             [disabled]="!csvData.length || working"
  >
    Import
  </tc-button>
</div>

<div *ngIf="csvData.length">
  <tc-table [results]="csvData" [loading]="working">
    <thead>
    <tr>
      <th *ngFor="let header of csvHeaders">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of paginatedData">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
    </tbody>
  </tc-table>
</div>

<tc-pagination [totalElements]="csvData?.length || 0"
               [pageSize]="30"
               (pageChange)="onPageChange($event)"
               [pageNumber]="currentPage"
               *ngIf="csvData.length"
></tc-pagination>
