<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="intRecruitRural">
      Are you willing to consider roles in rural areas?
      <span *ngIf="saving">
        <i class="fas fa-spinner fa-spin"></i> saving...
      </span>
    </label>
    <select class="form-control"
            id="intRecruitRural" [formControlName]="'intRecruitRural'">
      <option *ngFor="let opt of intRecruitRuralOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>

</form>

