<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="intRecruitRural">
      Are you willing to consider roles in rural areas?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="intRecruitRural" [formControlName]="'intRecruitRural'">
      <option *ngFor="let opt of intRecruitRuralOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="ruralInterest">
    <div class="form-group">
      <label for="intRecruitRuralNotes">Any specific terms or conditions for rural roles?</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="4"
                id="intRecruitRuralNotes" [formControlName]="'intRecruitRuralNotes'"
                placeholder="" ></textarea>
    </div>
  </div>

</form>

