---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 88rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #14B1DD;
  background-image: linear-gradient(120deg, #075168, #14B1DD);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #075168;
}

.main-content ul, .main-content ol {
  margin-top: 0;
  margin-bottom: 50px;
}

.main-content img {
  max-width: 90%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.card {
  width: calc(50% - 16px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #14B1DD;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-no-border {
  width: calc(50% - 16px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  text-decoration: none;
  color: #14B1DD;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.35em;
  font-weight: normal;
  margin-bottom: 8px;
}

.card-image {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card-description {
  font-size: 1em;
  color: #555;
  flex-grow: 1;
}

.site-footer-owner a {
  color: #14B1DD;
}
