---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 88rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

body {
  background-color: #FFFFFF;
  color:  #101828;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.page-header {
  background-color: #D9D9D9;
  text-align: center;
  color: #64748B;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 6rem;
    flex-direction: row;
  }
}

.project-name {
  font-size: 1.75rem;
  font-family: "Source Serif 4", serif;
}

.project-tagline {
  font-size: 1.25rem;
  font-family: sans-serif;
  margin-bottom: 0;
  text-align: right;
}

.btn {
  background-color: #49B6BD;
  color: #FFFFFF;
  padding: 10px 18px;
  border-radius: 8px;
}

.btn.btn-sm {
  padding: 4px 10px;
  background-color: #D9D9D9;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #101828;
  font-weight: 500;
  font-family: "Source Serif 4", serif;
}

.main-content ul, .main-content ol {
  margin-top: 0;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.card {
  width: calc(50% - 16px);
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #49B6BD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 16px 0;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border-bottom: 3px solid #49b6bd;
  }

  .btn.btn-sm {
    background-color: #49B6BD;
  }
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-bottom: 3px solid #49b6bd;
}

a:hover .card-description {
  text-decoration: none;
}

a:hover .btn-sm {
    background-color: #49B6BD;
}

a {
  color: #4DB6C1;
  text-decoration: none;
}

// For cards with links (and therefore should have a 'learn more' footer) remove the margin bottom.
// This means cards with footers and without will be aligned the same.
a .card-description {
  margin-bottom: 0;
}

.card-no-border {
  width: calc(50% - 16px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  text-decoration: none;
  color: #49B6BD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-full-width {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  text-decoration: none;
  color: #49B6BD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card-no-border {
    width: 100%;
    margin: 16px 0;
  }
}

.card-title {
  font-size: 1.35em;
  margin-bottom: 8px;
  font-family: sans-serif;
}

.card-image {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card-image-container {
  text-align: center;
}

.card-image-container .card-image {
  max-width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 12px;
}

.card-image-container-narrow {
  text-align: center;
}

.card-image-container-narrow .card-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 0;
  max-width: calc(50% - 16px);
}

@media screen and (max-width: 768px) {
  .card-image-container-narrow {
    max-width: 100%;
    margin: 16px 0;
  }
}

.card-description {
  font-size: 1em;
  color: #101828;;
  flex-grow: 1;
  margin-bottom: 2em;
}

.card-image-caption {
  font-size: 0.75em;
  margin-top: 0;
}

.card-footer {
  font-size: 0.75em;
  text-align: center;
  align-items: end;
  color: #49B6BD;
  flex-grow: 1;
  height: 35px;
}

.site-footer-owner a {
  color: #49B6BD;
}
