<ngb-tabset [activeId]="activeTabId" (tabChange)="onTabChanged($event)">

  <ng-container *ngFor="let typeInfo of savedSearchTypeInfos">
    <ngb-tab [id]="'type:' + SavedSearchType[typeInfo.savedSearchType]" [title]="typeInfo.title">
      <ng-template ngbTabContent>
        <div *ngIf="savedSearchTypeSubInfos">
          <form [formGroup]="categoryForm" class="col-sm-4">
            <label for="savedSearchSubtype">Category</label>
            <select class="form-control" id="savedSearchSubtype" formControlName="savedSearchSubtype"
                    (change)="onSavedSearchSubtypeChange($event)">
              <option *ngFor="let subtypeInfo of savedSearchTypeSubInfos" [value]="subtypeInfo.savedSearchSubtype">{{subtypeInfo.title}}</option>
            </select>
          </form>
          <app-browse-saved-searches
            [savedSearchType]="typeInfo.savedSearchType"
            [savedSearchSubtype]="selectedSavedSearchSubtype"
          >
          </app-browse-saved-searches>
        </div>
        <div *ngIf="!savedSearchTypeSubInfos">
          <app-browse-saved-searches
            [savedSearchType]="typeInfo.savedSearchType"
            [savedSearchSubtype]="null"
          >
          </app-browse-saved-searches>
        </div>
      </ng-template>
    </ngb-tab>
  </ng-container>

  <ngb-tab id="All" title="All">
    <ng-template ngbTabContent>
      <app-browse-saved-searches [searchBy]="SearchBy.all">
      </app-browse-saved-searches>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="MySearches" title="My Searches">
    <ng-template ngbTabContent>
      <app-browse-saved-searches [searchBy]="SearchBy.mySearches">
      </app-browse-saved-searches>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="SharedWithMe" title="SharedWithMe">
    <ng-template ngbTabContent>
        <app-browse-saved-searches [searchBy]="SearchBy.sharedWithMe">
        </app-browse-saved-searches>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

