<span #top></span>

<app-error [error]="error"></app-error>

<form class="row" [formGroup]="form" *ngIf="!loading && !error">

  <!-- OCCUPATION -->
  <div class="col-12" *ngIf="!candidateOccupation">
    <div class="form-group">
      <label for="candidateOccupationId">Occupation</label>
      <select class="form-control" name="candidateOccupationId" id="candidateOccupationId" [formControlName]="'candidateOccupationId'">
        <option value=""></option>
        <option *ngFor="let candidateOccupation of candidateOccupations" [value]="candidateOccupation.id">{{candidateOccupation.occupation.name}}</option>
      </select>
    </div>
  </div>

  <!-- COMPANY NAME -->
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" name="companyName" id="companyName" [formControlName]="'companyName'">
    </div>
  </div>

  <!-- COMPANY LOCATION -->
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="country">Location</label>
      <select class="form-control" name="country" id="country" [formControlName]="'country'">
        <option value=""></option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
    </div>
  </div>

  <!-- START DATE -->
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="startDate">Started (dd/month / year)</label>
      <input type="date" id="startDate" class="form-control" [formControlName]="'startDate'"
             datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
             datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

    </div>
  </div>

  <!-- END DATE -->
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="endDate">Finished (dd/ month / year)</label>
      <input type="date" id="endDate" class="form-control" [formControlName]="'endDate'"
             datepicker-popup is-open="status.opened" min-date="minDate" max-date="maxDate"
             datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
    </div>
  </div>

  <div class="col-12">
    <p>
      If possible please provide this response in English so it can be more easily reviewed by our team. If you feel
      more comfortable using your native language please do so and we will have a translator convert it for our team.
    </p>
  </div>

  <!-- JOB TITLE -->
  <div class="col-12">
    <div class="form-group">
      <label for="role">Job Title</label>
      <input type="text" class="form-control" name="role" id="role" [formControlName]="'role'">
    </div>
  </div>

  <!-- ROLE DESCRIPTION -->
  <div class="col-12">
    <div class="form-group">
      <label for="description">Describe what you did in this role</label>
      <textarea class="form-control" id="description" placeholder="" rows="5" [formControlName]="'description'"></textarea>
    </div>
  </div>

  <!-- FULLTIME? -->
  <div class="col-12">
    <div class="form-group">
      <label>Type of contract</label>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="fullTime" [value]="true" [formControlName]="'fullTime'">
        <label class="form-check-label" for="fullTime">
          Full time
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="partTime" [value]="false" [formControlName]="'fullTime'">
        <label class="form-check-label" for="partTime">
          Part Time
        </label>
      </div>
    </div>
  </div>

  <!-- VOLUNTEER / PAID -->
  <div class="col-12">
    <div class="form-group">
      <label>Type of employment</label>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="paid" [value]="true" [formControlName]="'paid'">
        <label class="form-check-label" for="paid">
          Paid
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="voluntary" [value]="false" [formControlName]="'paid'">
        <label class="form-check-label" for="voluntary">
          Voluntary
        </label>
      </div>
    </div>
  </div>

  <div class="col-12 text-right">
    <button class="btn btn-outline-primary"
            [disabled]="loading || saving"
            (click)="cancel()">
      {{ 'FORM.JOBEXPERIENCE.BUTTON.CANCEL' | translate }}
    </button>

    <button class="btn btn-primary"
            [disabled]="form.invalid || loading || saving"
            (click)="save()">
      <span *ngIf="!candidateJobExperience">{{ 'FORM.JOBEXPERIENCE.BUTTON.ADD' | translate }}</span>
      <span *ngIf="candidateJobExperience">{{ 'FORM.JOBEXPERIENCE.BUTTON.SAVE' | translate }}</span>
    </button>
  </div>
</form>
