@import '../../../../scss/typography-mixins';
@import "../../../../scss/color-mixins";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 8px;
  border: none;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  gap: 0.5rem;

  &[disabled] {
    @include background-color-light;
    @include text-color-secondary;
    pointer-events: none;
    cursor: not-allowed;
    border: none;
  }

}

:host(.disabled) {
  pointer-events: none;
}

.btn-xs {
  @include paragraph-xs;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
}

.btn-sm {
  @include paragraph-sm;
  height: 1.75rem;
  padding: 0.25rem 0.5rem;
}

.btn-default {
  @include paragraph-md;
  height: 2rem;
  padding: 0.375rem 0.625rem;
}

.btn-lg {
  @include paragraph-md;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
}

.btn-xl {
  @include paragraph-lg;
  height: 2.5rem;
  padding: 0.5rem 1rem;
}

.btn-primary {
  @include background-color-primary;
  @include text-color-white;

  &:hover {
    background-color: color(primary, 600);
  }
  &:focus-visible {
    outline: 2px solid color(primary, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(primary, 800);
  }
}

.btn-secondary {
  @include background-color-secondary;
  @include text-color-white;

  &:hover {
    background-color: color(secondary, 600);
  }
  &:focus-visible {
    outline: 2px solid color(secondary, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(secondary, 800);
  }
}

.btn-outline {
  background-color: color(core, white);
  color: color(primary, 500);
  @include border-color-base;
  border: 1px solid color(primary, 500);

  &:hover {
    background-color: color(primary, 50);
  }

  &:focus-visible {
    outline: 2px solid color(primary, 500);
    outline-offset: 2px;
    color: color(primary, 500);
  }

  &:active {
    background-color: color(primary, 100);
    outline: 2px solid color(primary, 800);
    color: color(primary, 500);
  }
}

.btn-plain {
  background-color: transparent;
  @include text-color-secondary;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: color(gray, 200);
    color: color(gray, 600);
  }

  &:focus-visible {
    outline: 2px solid color(gray, 500);
    outline-offset: 2px;
  }

  &:active {
    background-color: color(gray, 200);
    color: color(gray, 700);
  }
}

.btn-success {
  @include background-color-success;
  @include text-color-success;

  &:hover {
    background-color: color(green, 200);
  }
  &:focus-visible {
    outline: 2px solid color(green, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(green, 300);
  }
}

.btn-warning {
  @include background-color-warning;
  @include text-color-warning;

  &:hover {
    background-color: color(yellow, 200);
  }
  &:focus-visible {
    outline: 2px solid color(yellow, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(yellow, 300);
  }
}

.btn-error {
  @include background-color-error;
  @include text-color-error;

  &:hover {
    background-color: color(red, 200);
  }
  &:focus-visible {
    outline: 2px solid color(red, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(red, 300);
  }
}

.btn-info {
  @include background-color-info;
  @include text-color-info;

  &:hover {
    background-color: color(blue, 200);
  }
  &:focus-visible {
    outline: 2px solid color(blue, 500);
    outline-offset: 2px;
  }
  &:active {
    background-color: color(blue, 300);
  }
}
