<div class="card">
  <div class="card-header">
    Employer Eligibility
  </div>
  <div class="card-body">
    <app-job-occupation
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord"
      [occupations]="occupations">
    </app-job-occupation>
    <app-salary-tsmit
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-salary-tsmit>
    <app-regional-area
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-regional-area>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    TC Eligibility
  </div>
  <div class="card-body intake-data">
    <!-- Display Family in Aus   -->
    <div class="display">
      <app-fixed-input
        [question]="'Family in Australia that may impact offer'"
        [answer]="familyInAus">
      </app-fixed-input>
    </div>
  </div>
  <div class="card-body">
    <app-job-interest
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-job-interest>

    <app-job-eligibility-assessment
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-job-eligibility-assessment>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Candidate Visa Eligibility
  </div>
  <div class="card-body intake-data">

    <!-- Display Age   -->
    <div>
      <div class="display d-flex align-items-baseline">
        <app-fixed-input
          [question]="'Age'"
          [answer]="candidateAge">
        </app-fixed-input>
        <small class="ms-2">(50 year cutoff for 494; 55 for 186.)</small>
      </div>
    </div>

    <!--  Display English Exams   -->
    <div>
      <div *ngIf="this.candidate.ieltsScore" class="display">
        <app-fixed-input
          [question]="'IELTS Score'"
          [answer]="this.candidate.ieltsScore + ' - ' + ieltsScoreType">
        </app-fixed-input>
      </div>

<!--      &lt;!&ndash;  Display English Exams  &ndash;&gt;-->
<!--      <div class="display">-->
<!--        <div *ngFor="let e of this.candidateIntakeData?.candidateExams">-->
<!--          <app-fixed-input-->
<!--            [question]="e.exam"-->
<!--            [answer]="e.score">-->
<!--          </app-fixed-input>-->
<!--        </div>-->
<!--      </div>-->
    </div>

  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Qualifications
  </div>
  <div class="card-body intake-data">
    <div>
      <div class="card-title">Education</div>
      <!-- Display All Candidate Qualifications   -->
      <div *ngIf="candQualifications?.length > 0">
        <ul>
          <li class="display" *ngFor="let edu of candQualifications">
            <app-fixed-input
              *ngIf="edu.educationMajor"
              [question]="edu.educationMajor?.name + ' ' + edu.courseName"
              [answer]="edu.educationType">
            </app-fixed-input>
            <app-fixed-input
              *ngIf="edu.educationMajor == null && edu.courseName"
              [question]="edu.courseName"
              [answer]="edu.educationType">
            </app-fixed-input>
          </li>
        </ul>
      </div>
      <div *ngIf="candQualifications?.length == 0">
        <p>No qualifications entered</p>
      </div>
    </div>
    <div>
      <div class="card-title">Experience</div>
      <!-- Display All Candidate Experience   -->
      <div *ngIf="candOccupations?.length > 0">
        <ul>
          <li class="display" *ngFor="let co of candOccupations" >
            <app-fixed-input
              *ngIf="co.occupation"
              [question]="co.occupation?.name"
              [answer]="co.yearsExperience.toString() + 'years'">
            </app-fixed-input>
            <app-fixed-input
              *ngIf="co.occupation == null && co.migrationOccupation"
              [question]="co.migrationOccupation"
              [answer]="co.yearsExperience.toString() + 'years'">
            </app-fixed-input>
          </li>
        </ul>
      </div>
      <div *ngIf="candOccupations?.length == 0">
        <p>No experience entered</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-qualification-relevant
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-qualification-relevant>
  </div>
</div>

<hr/>

<div class="card">
  <div class="card-header">
    Final Assessment
  </div>
  <div class="card-body">
    <app-visa-four-nine-four
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-visa-four-nine-four>
    <app-visa-one-eight-six
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-visa-one-eight-six>
    <app-visa-other-options
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-visa-other-options>
    <app-visa-job-put-forward
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-visa-job-put-forward>
    <app-visa-job-notes
      [visaJobCheck]="selectedJobCheck"
      [entity]="visaCheckRecord">
    </app-visa-job-notes>
  </div>
</div>
