@import '../../../../scss/color-mixins';
@import '../../../../scss/typography-mixins';


.tc-alert {
  border-radius: 0.8rem;
  border: none;
  margin: 1rem 0;

  .alert-content {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .alert-icon {
    flex-shrink: 0;
    margin-top: 0.125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: currentColor;
  }

  .alert-message {
    @include paragraph-md;
    flex: 1;
    line-height: 1.4;
    word-wrap: break-word;      // ensures long words or URLs break
    overflow-wrap: anywhere;    // allows breaking anywhere if needed
    min-width: 0;
  }
}

.tc-alert.alert-warning {
  @include background-color-warning;
  @include text-color-warning;

  .alert-icon {
    color: color(yellow, 400);
  }
}

.tc-alert.alert-success {
  @include background-color-success;
  @include text-color-success;

  .alert-icon {
    color: color(green, 400);
  }
}

.tc-alert.alert-danger {
  @include background-color-error;
  @include text-color-error;

  .alert-icon {
    color: color(red, 400);
  }
}

.tc-alert.alert-info {
  @include background-color-info;
  @include text-color-info;

  .alert-icon {
    color: color(blue, 400);
  }
}
