<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="crimeConvict">
      Have you ever been convicted of a crime?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="crimeConvict" [formControlName]="'crimeConvict'">
      <option *ngFor="let opt of crimeConvictOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div *ngIf="crime === 'Yes'" class="form-group">
    <label for="crimeConvictNotes">If yes, when and where? Can you briefly explain the circumstances?</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="4"
              id="crimeConvictNotes" [formControlName]="'crimeConvictNotes'"
              placeholder="" ></textarea>
  </div>
</form>

