<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="form-group">
    <label for="unrwaStatus">
      Registered with UNRWA?
    </label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="unrwaStatus" [formControlName]="'unrwaStatus'">
      <option *ngFor="let opt of unrwaStatusOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>
  <div  *ngIf="showUnrwaNumber()">
    <div class="form-group">
      <label for="unrwaNumber">What is your UNRWA number?</label>
      <input type="text" class="form-control"
             id="unrwaNumber" [formControlName]="'unrwaNumber'">
    </div>
  </div>
  <div class="form-group">
    <label for="unrwaNotes">Notes</label>
    <textarea type="text" class="md-textarea-auto form-control" rows="3"
              id="unrwaNotes" [formControlName]="'unrwaNotes'"
              placeholder="" ></textarea>
  </div>

</form>

