<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="returnedHome">Have you returned to your home country since entering {{candidate.country.name}} and claiming asylum?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="returnedHome" [formControlName]="'returnedHome'">
      <option *ngFor="let opt of returnedHomeOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>

  <div *ngIf="returnedHome === 'Yes'">
    <div class="form-group">
      <label for="returnedHomeReason">What was the reason for your return?</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="4"
                id="returnedHomeReason" [formControlName]="'returnedHomeReason'"
                placeholder="" ></textarea>
    </div>
  </div>
</form>


