<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="mb-3">
    <label class="form-label" for="minSalaryEmployer">
      Does {{job.employer}} commit to paying the prevailing wage?
    </label>
    <div *ngIf="editable" class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="minSalaryEmployer"
               [formControlName]="'minSalaryEmployer'"
               (clear)="setNoResponse('minSalaryEmployer')"
               [items]="minSalaryEmployerOptions"
               [clearOnBackspace]="false"
               placeholder="Select"
               bindLabel="stringValue"
               bindValue="key">
    </ng-select>
  </div>

</form>
