<!-- EXISTING RECORDS -->
<div class="card">
  <div class="card-header">
    Dependants
    <span class="small ml-2">Include any potential future dependants (e.g. are you getting married to someone soon who will give you another citizenship?)</span>
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="addRecord()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="error">
      {{error}}
    </div>
    <div *ngFor="let citizenship of candidateIntakeData.candidateDependants; let i = index;" class="citizenship-card">
      <app-candidate-citizenship-card
        [candidate]="candidate"
        [candidateIntakeData]="candidateIntakeData"
        [myRecordIndex]="i"
        [nationalities]="nationalities"
        (delete)="deleteRecord(i)">
      </app-candidate-citizenship-card>
      <hr/>
    </div>
  </div>
</div>
