<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="hostBorn">Were you born in {{candidate?.country?.name}}?</label>
    <div class="float-right">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <select class="form-control"
            id="hostBorn" [formControlName]="'hostBorn'">
      <option *ngFor="let opt of hostBornOptions" [value]="opt.value">
        {{opt.displayText}}
      </option>
    </select>
  </div>

  <div *ngIf="hostBorn === 'No'">
    <div class="form-group">
      <label for="hostEntryYear">
        What year did you immigrate to {{candidate?.country?.name}}?
      </label>
      <select id="hostEntryYear" class="form-control" [formControlName]="'hostEntryYear'">
        <option value=""></option>
        <option *ngFor="let year of years" [ngValue]="year">{{year}} </option>
      </select>
    </div>
  </div>
</form>
