<div *ngIf="job">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li *ngIf="job.name" class="breadcrumb-item active" aria-current="page">{{job.name}}</li>
    </ol>

  </nav>

  <div class="d-flex justify-content-between align-items-center">
    <h1>{{job.name}}
      <span class="small text-muted">
        ({{job.tcJobId}}) {{job.stage}}
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-{{mainPanelColWidth}}">
      <!-- TABS -->
      <nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

        <!-- GENERAL -->
        <ng-container ngbNavItem="General">
          <a ngbNavLink>General</a>
          <ng-template ngbNavContent>
            <app-job-general-tab
              [job]="job">
            </app-job-general-tab>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

    <div class="col-sm-{{sidePanelColWidth}} admin-panel">
      <div class="w-100">
        <div *ngIf="canToggleSizes()" class="float-right">
          <button class="btn btn-sm btn-outline-secondary" (click)="resizeSidePanel()"><i
            class="fas fa-arrow-{{sidePanelIsMax ? 'right' : 'left'}}"></i></button>
        </div>
        <app-view-job-description
          [job]="job">
        </app-view-job-description>
      </div>
    </div>
  </div>
</div>



