<div class="login wrapper">

  <div class="justify-content-center">


  <div class="heading">

      <h1>Forgot Password</h1>

    </div>

    <!-- ERROR -->
    <app-error [error]="error"></app-error>

    <!-- CONFIRMATION -->
    <p class="alert alert-success" *ngIf="updated">
      We have sent you an email with reset instructions.
    </p>

    <form class="credential-form" [formGroup]="form" *ngIf="!updated">

      <!-- Password -->
      <div class="form-group">
        <label for="email">Your email</label>
        <input id="email" class="form-control" type="text" [formControlName]="'email'" placeholder="Email">
      </div>

      <button class="btn btn-primary mb-4"
              [disabled]="loading || form.invalid || form.pristine"
              (click)="sendResetEmail()">

        <span *ngIf="!loading">Reset Password</span>

        <!-- LOADING SPINNER -->
        <div class="d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </button>

    </form>

  </div>

</div>
