<div class="card">
  <div class="card-header">
    Family
  </div>
  <div class="card-body">
    <div *ngIf="error">
      {{error}}
    </div>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="familyMove">
          Do you have family members that you would not consider moving without?
        </label>
        <span *ngIf="saving">
          <i class="fas fa-spinner fa-spin"></i> saving...
        </span>
        <select class="form-control"
                id="familyMove" [formControlName]="'familyMove'">
          <option *ngFor="let opt of familyMoveOptions" [value]="opt.value">
            {{opt.displayText}}
          </option>
        </select>
        <p class="small mb-0">Note: Explain what is possible with the visa pathway at hand if known, but also explain
          that this will help us determine if other visa pathways are suitable should any opportunities arise.</p>
      </div>
      <div class="form-group">
        <label for="familyMoveNotes">Notes</label>
        <textarea type="text" class="md-textarea-auto form-control" rows="6"
                  id="familyMoveNotes" [formControlName]="'familyMoveNotes'"
                  placeholder="" ></textarea>
      </div>

      <div class="form-group">
        <label for="familyHealthConcern">
          Do you or any of your dependents/spouse have any serious health concerns?
        </label>
        <span *ngIf="saving">
          <i class="fas fa-spinner fa-spin"></i> saving...
        </span>
        <select class="form-control"
                id="familyHealthConcern" [formControlName]="'familyHealthConcern'">
          <option *ngFor="let opt of familyHealthConcernOptions" [value]="opt.value">
            {{opt.displayText}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="familyHealthConcernNotes">Notes</label>
        <textarea type="text" class="md-textarea-auto form-control" rows="6"
                  id="familyHealthConcernNotes" [formControlName]="'familyHealthConcernNotes'"
                  placeholder="" ></textarea>
      </div>
    </form>
  </div>
</div>

