<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="container mt-4">
  <div class="alert alert-danger" *ngIf="error">{{ error?.message || error }}</div>

  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="noEligible"
           formControlName="noEligibleFamilyMembers" [disabled]="readOnly">
    <label class="form-check-label" for="noEligible">
      {{'FAMILY-DOC.LABEL.NO-ELIGIBLE' | translate}}
    </label>
  </div>

  <div class="mb-3" *ngIf="form.get('noEligibleFamilyMembers')!.value">
    <label class="form-label">{{"REGISTRATION.EXAM.LABEL.NOTES" | translate}}</label>
    <textarea class="form-control" rows="2" formControlName="noEligibleNotes"
              [readonly]="readOnly"></textarea>
    <div class="text-danger"
         *ngIf="form.get('noEligibleNotes')?.touched && form.get('noEligibleNotes')?.hasError('required')">
      {{ "FORM.ERROR.REQUIRED" | translate }}
    </div>
  </div>

  <ng-container formArrayName="members" *ngIf="!form.get('noEligibleFamilyMembers')!.value">
    <div class="card mb-3" *ngFor="let m of members.controls; let i = index" [formGroupName]="i">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-3"> {{'TASKS.FAMILY_DOC.FAMILY-MEMBER' | translate}} #{{ i + 1 }}</h5>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeMember(i)"
                  [disabled]="readOnly"> {{"CHAT.LINK-REMOVE-BTN" | translate}}
          </button>
        </div>

        <!-- basic fields -->
        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">  {{'FAMILY-DOC.LABEL.RELATIONSHIP' | translate}}</label>
            <ng-select formControlName="relationship"
                       [readonly]="readOnly"
                       [items]="relationships"
                       bindLabel="stringValue"
                       bindValue="key"
                       [clearable]="false">
            </ng-select>

            <div class="text-danger"
                 *ngIf="m.get('relationship')?.touched && m.get('relationship')?.hasError('required')">
              {{ "FORM.ERROR.REQUIRED" | translate }}
            </div>
          </div>
          <!-- If relationship is "Other", ask for detail -->
          <div class="col-md-6" *ngIf="m.get('relationship')?.value === 'Other'">
            <label class="form-label">{{'FAMILY-DOC.LABEL.OTHER' | translate}}</label>
            <input class="form-control" formControlName="relationOther"
                   [readonly]="readOnly">
            <div class="text-danger" *ngIf="m.touched && m.hasError('otherRelationshipRequired')">
              {{ "FORM.ERROR.REQUIRED" | translate }}
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{"PROFILE.PERSONAL.FIRSTNAME" | translate}}</label>
            <input class="form-control" formControlName="user.firstName" [readonly]="readOnly">
          </div>

          <div class="col-md-4">
            <label class="form-label">{{"PROFILE.PERSONAL.LASTNAME" | translate}}</label>
            <input class="form-control" formControlName="user.lastName" [readonly]="readOnly">
          </div>

          <div class="col-md-4">
            <label class="form-label">{{"PROFILE.PERSONAL.DOB" | translate}}</label>
            <input type="date" class="form-control" formControlName="dob"
                   [readonly]="readOnly">
            <div class="text-danger" *ngIf="m.touched && m.hasError('childAgeInvalid')">
              {{'FAMILY-DOC.LABEL.AGE-VALIDATION' | translate}}
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{"PROFILE.PERSONAL.GENDER" | translate}}</label>
            <select class="form-select" formControlName="gender" [disabled]="readOnly">
              <option value="male">{{ 'GENDER.MALE' | translate }}</option>
              <option value="female">{{ 'GENDER.FEMALE' | translate }}</option>
              <option value="other">{{ 'GENDER.OTHER' | translate }}</option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "TRAVELDOC.LABEL.BIRTHCOUNTRY" | translate }}</label>
            <input class="form-control" formControlName="birthCountry.name" [readonly]="readOnly">
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.PLACEOFBIRTH' | translate }}</label>
            <input class="form-control" formControlName="placeOfBirth" [readonly]="readOnly">
          </div>
        </div>

        <hr class="my-4">
        <!-- EXTRA dependant fields -->
        <div class="row g-3">
          <!-- Health concerns -->
          <div class="col-md-4">
            <label class="form-label">{{'FAMILY-DOC.LABEL.HEALTH-CONCERN' | translate}}</label>
            <select
              class="form-select"
              formControlName="healthConcerns"
              [disabled]="readOnly">
              <option value="yes">{{ 'CONFIRMATION.YES' | translate }}</option>
              <option value="no">{{ 'CONFIRMATION.NO' | translate }}</option>
            </select>
          </div>

          <div class="col-12" *ngIf="m.get('healthConcerns')?.value === 'yes'">
            <label class="form-label">{{ "REGISTRATION.EXAM.LABEL.NOTES" | translate }}</label>
            <textarea class="form-control" rows="3"
                      formControlName="healthNotes"
                      [readonly]="readOnly"></textarea>
            <div class="text-danger" *ngIf="m.touched && m.hasError('healthNotesRequired')">
              {{ "FORM.ERROR.REQUIRED" | translate }}
            </div>
          </div>

          <!-- Registration -->
          <div class="col-md-4">
            <label class="form-label">{{ "FAMILY-DOC.LABEL.REGISTERED" | translate }}</label>
            <select
              class="form-select"
              formControlName="registered"
              [disabled]="readOnly">
              <option value="yes">{{ 'CONFIRMATION.YES' | translate }}</option>
              <option value="no">{{ 'CONFIRMATION.NO' | translate }}</option>
            </select>
          </div>

          <div class="col-12" *ngIf="m.get('registered')?.value === 'yes'">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">
                 {{ "FAMILY-DOC.LABEL.REGISTRED-NUMBER" | translate }}
                </label>
                <input class="form-control" formControlName="registeredNumber"
                       [readonly]="readOnly">
                <div class="text-danger"
                     *ngIf="m.touched && m.hasError('registeredNumberRequired')">
                  {{ "FORM.ERROR.REQUIRED" | translate }}
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">{{ "REGISTRATION.EXAM.LABEL.NOTES" | translate }}</label>
                <textarea class="form-control" rows="3"
                          formControlName="registeredNotes"
                          [readonly]="readOnly"></textarea>
              </div>
            </div>
          </div>

        </div>

        <hr class="my-4">

        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.DOCTYPE' | translate }}</label>
            <select class="form-select" formControlName="TRAVEL_DOC_TYPE">
              <option [value]="TravelDocType.Passport">{{ 'TRAVELDOC.OPTION.PASSPORT' | translate }}</option>
              <option [value]="TravelDocType.NationalId">{{ 'TRAVELDOC.OPTION.NATIONALID' | translate }}</option>
              <option [value]="TravelDocType.RefugeeCertificate">{{ 'TRAVELDOC.OPTION.REFUGEE' | translate }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.DOCNUMBER' | translate }}</label>
            <input class="form-control" formControlName="TRAVEL_DOC_NUMBER" [readonly]="readOnly">
          </div>
          <div class="col-md-4">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.DOCISSUEDBY' | translate }}</label>
            <input class="form-control" formControlName="TRAVEL_DOC_ISSUED_BY" [readonly]="readOnly">
          </div>
          <div class="col-md-4">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.ISSUEDATE' | translate }}</label>
            <input type="date" class="form-control" formControlName="TRAVEL_DOC_ISSUE_DATE"
                   [readonly]="readOnly">
          </div>
          <div class="col-md-4">
            <label class="form-label">{{ 'TRAVELDOC.LABEL.EXPIRYDATE' | translate }}</label>
            <input type="date" class="form-control" formControlName="TRAVEL_DOC_EXPIRY_DATE"
                   [readonly]="readOnly">
            <div class="text-danger"
                 *ngIf="m.get('travelDoc')?.touched && m.get('travelDoc')?.hasError('expiryTooSoon')">
              {{'FAMILY-DOC.LABEL.DOC-VALIDATION' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-primary" (click)="addMember()"
            [disabled]="readOnly">
      {{'FAMILY-DOC.LABEL.ANOTHER-MEMBER' | translate}}
    </button>
  </ng-container>

  <div class="mt-4">
    <button class="btn btn-primary" type="submit" [disabled]="!canSubmit()">
      {{ 'TASKS.TASK.SUBMIT' | translate }}
    </button>
  </div>
</form>
