@import '../../../../scss/typography-mixins';
@import '../../../../scss/color-mixins';

.tc-radio {
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  cursor: pointer;
  accent-color: color(primary, 500);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }
}

span {
  @include label-md;
  margin: 0 0.5rem;
}

