<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<div class="upload-box card text-center" [class.hover]="hover">

  <input #input type="file" multiple hidden (change)="handleFileChanged($event)">

  <span>Drag and drop files</span>

  <span class="or text-muted">OR</span>

  <span>
    <button class="btn btn-primary" [disabled]="uploading" (click)="input.click()">
      <ng-container *ngIf="!uploading">Browse Files</ng-container>
      <ng-container *ngIf="uploading">Uploading...</ng-container>
    </button>
  </span>

</div>
