<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="h3" *ngIf="!loading && editable">
  Notes
  <div class="float-right">
    <button type="button" class="btn btn-sm btn-primary" (click)="createCandidateNote()"><i class="fas fa-plus"></i>
    </button>
  </div>
</div>


<div *ngIf="!notes || notes.length == 0">
  <div class="row">
    <div class="col-sm-12">
      No notes entered
    </div>
  </div>
</div>


<div *ngFor="let candidateNote of notes; let i = index">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        {{candidateNote.title}}
      </div>
      <div class="float-right">
        <button *ngIf="candidateNote.comment" class="btn btn-sm btn-default" (click)="showNote(candidateNote)"><i
          class="fas fa-ellipsis-h"></i></button>
        <button *ngIf="editable" class="btn btn-sm btn-default" (click)="editCandidateNote(candidateNote)"><i
          class="fas fa-edit"></i></button>
      </div>
    </div>

    <div class="card-body">
      <div *ngIf="candidateNote.comment && candidateNote.showDetail">
        <div [innerHTML]="candidateNote.comment"></div>
        <hr/>
      </div>

      <div *ngIf="candidateNote">
        <app-updated-by *ngIf="candidateNote" [object]="candidateNote"></app-updated-by>
      </div>
    </div>
  </div>
  <hr/>
</div>

<div class="text-center" *ngIf="hasMore">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="loadMore()">Load More</button>
</div>



