<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>



<div class="h3" *ngIf="!loading">
  Notes
  <div class="pull-right" *ngIf="editable">
    <button type="button" class="btn btn-primary" (click)="createCandidateNote()">Add</button>
  </div>
</div>


<div *ngIf="!results || results.content.length == 0">
  <div class="row">
    <div class="col-sm-12">
      No note entered
    </div>
  </div>
</div>



<div *ngFor="let candidateNote of results?.content">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <h6 class="card-title">{{candidateNote.title}}</h6>
        </div>
        <div class="col-6">
          <div class="pull-right" *ngIf="editable">
            <button type="button" class="btn btn-default" (click)="editCandidateNote(candidateNote)"><i
              class="fa fa-edit"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div>
          <label class="col-form-label card-text">{{candidateNote.comment}}</label>
        </div>
      </div>

      <div class="row">
        <div>
          <label class="col-form-label text-muted">{{candidateNote.createdDate}}</label>
        </div>
      </div>

    </div>

  </div>

</div>

