<div class="modal-header">
  <h4 class="modal-title">{{ 'REGISTRATION.OCCUPATION.DELETE.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close"
          [disabled]="deleting" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ 'REGISTRATION.OCCUPATION.DELETE.CONFIRMATION' | translate }}</p>
</div>
<div class="modal-footer">
  <span *ngIf="deleting"><i class="fas fa-spinner fa-spin"></i> deleting...</span>
  <button type="button" class="btn btn-danger"
          [disabled]="deleting"
          (click)="confirm()">{{ 'REGISTRATION.OCCUPATION.DELETE.YES' | translate }}</button>
  <button type="button" class="btn btn-secondary"
          [disabled]="deleting"
          (click)="cancel()">{{ 'REGISTRATION.OCCUPATION.DELETE.NO' | translate }}</button>
</div>

