<div class="modal-header">
  <h4 class="modal-title">Delete Occupation</h4>
  <button type="button" class="close" aria-label="Close"
          [disabled]="deleting" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<!-- todo put this in translation keys  -->
  <p>Are you sure you want to delete this occupation. There is work experience associated with this occupation which will also be deleted.</p>
</div>
<div class="modal-footer">
  <span *ngIf="deleting"><i class="fas fa-spinner fa-spin"></i> deleting...</span>
  <button type="button" class="btn btn-danger"
          [disabled]="deleting"
          (click)="confirm()">Yes</button>
  <button type="button" class="btn btn-secondary"
          [disabled]="deleting"
          (click)="cancel()">No</button>
</div>

