<div class="d-flex justify-content-between">
  <div>
    <app-fixed-input
      [question]="'TBB ID'"
      [answer]="candidate.candidateNumber">
    </app-fixed-input>
  </div>
  <div>
    <app-fixed-input
      [question]="'Full Name'"
      [answer]="candidate.user?.firstName + ' ' + candidate.user?.lastName">
    </app-fixed-input>
  </div>
  <div>
    <app-fixed-input
      [question]="'Gender'"
      [answer]="candidate.gender">
    </app-fixed-input>
  </div>
  <div>
    <app-fixed-input
      [question]="'Date of birth'"
      [answer]="candidate.dob">
    </app-fixed-input>
  </div>
</div>



