<nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

  <ng-container ngbNavItem="LiveJobs">
    <a ngbNavLink
       title="Jobs associated with active opportunities which have been published on the TC"
    >Live Jobs</a>
    <ng-template ngbNavContent>
      <app-jobs-with-detail
        [searchBy]="SearchOppsBy.live">
        >
      </app-jobs-with-detail>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="StarredJobs">
    <a ngbNavLink title="Starred jobs (eg those I am working with)"><i class="fas fa-star"></i>Jobs</a>
    <ng-template ngbNavContent>
      <app-jobs-with-detail
        [searchBy]="SearchOppsBy.starredByMe">
        >
      </app-jobs-with-detail>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isJobCreator()" ngbNavItem="MyJobs">
    <a ngbNavLink title="Jobs created by my partner organization">{{loggedInPartner.abbreviation}} Jobs</a>
    <ng-template ngbNavContent>
      <app-jobs-with-detail
        [searchBy]="SearchOppsBy.mineAsJobCreator">
        >
      </app-jobs-with-detail>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isJobCreator()" ngbNavItem="MyCasesAsJobCreator">
    <a ngbNavLink title="Candidate cases associated with jobs created by my partner organization">
      {{myCasesTabName(SearchOppsBy.mineAsJobCreator)}}</a>
    <ng-template ngbNavContent>
      <app-candidate-opps-with-detail
        [searchBy]="SearchOppsBy.mineAsJobCreator"
      >
      </app-candidate-opps-with-detail>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isSourcePartner()" ngbNavItem="MyCasesAsSourcePartner">
    <a ngbNavLink title="Candidate cases managed by my partner organization">
      {{myCasesTabName(SearchOppsBy.mineAsSourcePartner)}}</a>
    <ng-template ngbNavContent>
      <app-candidate-opps-with-detail
        [searchBy]="SearchOppsBy.mineAsSourcePartner"
      >
      </app-candidate-opps-with-detail>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isJobCreator()" ngbNavItem="NewJob">
    <a ngbNavLink title="Create a new TC job">New Job</a>
    <ng-template ngbNavContent>
      <app-new-job></app-new-job>
    </ng-template>
  </ng-container>

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
