<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="mb-3">
    <label class="form-label" for="visaPathways">
      Select the immigration pathways
    </label>
    <div *ngIf="editable" class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <ng-select id="visaPathways"
               [formControlName]="'visaPathways'"
               (clear)="setNoResponse('visaPathways')"
               [items]="visaOtherOptions"
               [clearOnBackspace]="false"
               [multiple]="true"
               placeholder="Select"
               bindLabel="stringValue">
    </ng-select>
  </div>

  <div *ngIf="this.form.value.visaPathways?.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Visa</th>
        <th scope="col">Age Requirement</th>
        <th scope="col">Language Requirement</th>
        <th scope="col">Employment Commitment</th>
        <th scope="col">Other Requirements</th>
        <th scope="col">Who can be included?</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visa of this.form.value.visaPathways">
        <td>{{visa}}</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>
  </div>

</form>
