<div *ngIf="error">
  {{error}}
</div>
<form [formGroup]="form">

  <div class="mb-3">
    <label for="yrsRelevantWorkExp">
      How many years of relevant work experience?
    </label>
    <div class="float-end">
      <app-autosave-status
        [saving]="saving"
        [typing]="typing">
      </app-autosave-status>
    </div>
    <input type="number" class="form-control"
           id="yrsRelevantWorkExp" [formControlName]="'yrsRelevantWorkExp'">
    <small>Must have minimum 3 yrs for 494; no requirement for 186 unless specified in labour agreement.</small>
  </div>


</form>

