<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<div *ngIf="!loading && !error">

  <div class="searches">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" formControlName="keyword"
               id="keyword">
        <label>Stage</label>
        <ng-select
          id="stage"
          [items]="stages"
          [multiple]="true"
          [closeOnSelect]="true"
          [searchable]="false"
          bindLabel="stringValue"
          bindValue="key"
          [formControlName]="'selectedStages'">
        </ng-select>
      </div>
    </form>
  </div>

  <div class="table-wrapper">
    <table class="table table-hover">

      <!--          Header-->
      <thead class="thead-light">
      <tr>
        <th (click)="toggleSort('tcJobId')">
          <app-sorted-by [column]="'tcJobId'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
          Job #
        </th>
        <th (click)="toggleSort('stage')">
          <app-sorted-by [column]="'stage'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
          <i class="fab fa-salesforce"></i>
        </th>
        <th (click)="toggleSort('employer')">
          <app-sorted-by [column]="'employer'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
          Employer
        </th>
        <th (click)="toggleSort('country')">
          <app-sorted-by [column]="'country'" [sortColumn]="sortField" [sortDirection]="sortDirection"></app-sorted-by>
          Country
        </th>
      </tr>
      </thead>

      <tbody>

      <!-- Special display for no results-->
      <tr *ngIf="!results?.totalElements">
        <td colspan="42">
          <span class="text-muted">(no matching data)</span>
        </td>
      </tr>

      <!--        Job records    -->
      <tr *ngFor="let job of results?.content" (click)="selectJob(job)">
        <td>
          <a [routerLink]="['/job',job.tcJobId]">
            {{job.tcJobId}}
          </a>
        </td>
        <td>
            {{job.stage}}
        </td>
        <td>
            {{job.employer}}
        </td>
        <td>
            {{job.country}}
        </td>
      </tr>

      </tbody>

    </table>
  </div>


</div>
