<!-- EXISTING RECORDS -->
<div class="card">
  <div class="card-header">
    Job Specific Assessment
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="addRecord()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div *ngIf="error">
      {{error}}
    </div>
    <form [formGroup]="form">
      <div *ngFor="let jobOpportunity of jobCheckOpps; let i = index;">
        <div class="form-group align-items-center">
          <input type="radio" [value]="i"
                 name="jobName" formControlName="jobName"
                 (change)="changeJobOpp($event)">
            {{jobOpportunity}}
          <button class="float-right btn" (click)="deleteRecord(i)">
            <span class="align-top">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>
      </div>

    </form>

    <hr/>
  </div>
</div>
