<div class="container-fluid step-header">

  <div class="container">

    <h3>Test..</h3>

  </div>

</div>

<div class="step-body" [ngSwitch]="section">

  <app-registration-contact *ngSwitchCase="'contact'"
                            [edit]="true"
                            (onSave)="handleSave()">
  </app-registration-contact>

  <app-registration-personal *ngSwitchCase="'personal'">
  </app-registration-personal>

  <app-registration-candidate-occupation *ngSwitchCase="'occupation'">
  </app-registration-candidate-occupation>

  <app-registration-work-experience *ngSwitchCase="'experience'">
  </app-registration-work-experience>

  <app-registration-education *ngSwitchCase="'education'">
  </app-registration-education>

  <app-registration-language *ngSwitchCase="'language'">
  </app-registration-language>

  <app-registration-certifications *ngSwitchCase="'certifications'">
  </app-registration-certifications>

  <app-registration-additional-info *ngSwitchCase="'submit'" [submitApplication]="true">
  </app-registration-additional-info>

  <div class="container text-center" *ngSwitchCase="'complete'">

    <h1>{{ 'REGISTRATION.COMPLETE.TITLE' | translate}}</h1>

    <p class="alert alert-warning">
      {{ 'REGISTRATION.COMPLETE.PARA1' | translate}}
    </p>

    <div class="text-center my-4">
      <a class="btn btn-primary" [routerLink]="'/profile'">
        {{ 'REGISTRATION.COMPLETE.BUTTON.PROFILE' | translate}}
      </a>
    </div>

    <div class="text-center">
      <button class="btn btn-outline-primary" (click)="logout()">
        {{ 'REGISTRATION.COMPLETE.BUTTON.LOGOUT' | translate}}
      </button>
    </div>

  </div>

</div>
