<!-- TABS -->
<nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

  <ng-container ngbNavItem="Partners">
    <a ngbNavLink>Partners</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="Candidates">
    <a ngbNavLink>Candidates & Partners</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="BOSCO">
    <a title="India - BOSCO" ngbNavLink>BOSCO</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="CRS">
    <a title="Indonesia - Catholic Relief Services" ngbNavLink>CRS</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="FCA">
    <a title="Uganda - Finn Church Aid" ngbNavLink>FCA</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="HIAS">
    <a title="Peru - HIAS" ngbNavLink>HIAS</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem="RP">
    <a title="Kenya - Refuge Point" ngbNavLink>RP</a>
    <ng-template ngbNavContent>
    </ng-template>
  </ng-container>

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
