@import '../../../../scss/color-mixins';
@import '../../../../scss/dropdown-styles';

.tc-dropdown {
  [ngbDropdownToggle] {
    display: inline-block;
  }
  .dropdown-toggle::after {
    display: none;
  }

  @include dropdown-styles;
}
