<div class="container">

  <app-loading [loading]="loading"></app-loading>

  <form [formGroup]="form" *ngIf="!loading">

    <div class="form-group">
      <label class="font-weight-bold" for="additionalInfo">
        {{ 'REGISTRATION.SUBMIT.LABEL.ADDITIONALINFO' | translate }}
      </label>
      <p>
        {{ 'REGISTRATION.SUBMIT.TEXT.EXPLANATION' | translate }}
      </p>
      <textarea id="additionalInfo" class="md-textarea-auto form-control" rows="5"
                [formControlName]="'additionalInfo'"></textarea>
    </div>

  </form>

  <!-- TODO UPLOADS -->

</div>

<app-registration-footer [disabled]="loading || saving"
                         [hideBack]="edit"
                         [type]="edit ? 'update' : 'submit'"
                         (backClicked)="save('back')"
                         (nextClicked)="save('next')">
</app-registration-footer>
