<div class="container">

  <div class="alert alert-warning">Not yet brought over to new UX</div>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="additionalInfo" class="text-muted">*Optional field</label>
      <textarea type="text" class="md-textarea-auto form-control" rows="10" id="additionalInfo" placeholder="" [formControlName]="'additionalInfo'"></textarea>
    </div>

  </form>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="save()">
      Next
    </button>
  </div>

</div>

<app-registration-footer (backClicked)="registrationService.back()" (nextClicked)="registrationService.next()"></app-registration-footer>
