<div *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div class="card" *ngIf="!loading">

  <div class="card-header">Contact Information</div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-sm-12 col-md-8">
        <label class="col-form-label"><i class="fa fa-map-marker"></i>Address</label>
        <div >
          <span class="form-control-plaintext">{{candidate.city}}  {{candidate.country?.name}}</span>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa fa-phone"></i>Phone</label>
        <div >
          <span class="form-control-plaintext">{{candidate.phone}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa fa-gift"></i>D.O.B.</label>
        <div>
          <span class="form-control-plaintext">{{candidate.dob}}</span>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa fa-whatsapp"></i>Whatsapp</label>
        <div>
          <span class="form-control-plaintext">{{candidate.whatsapp}}</span>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label class="col-form-label"><i class="fa fa-envelope"></i>Email</label>
        <div>
          <span class="form-control-plaintext">{{candidate.user.email}}</span>
        </div>
      </div>
    </div>

  </div>

</div>
