@import "~src/scss/variables";

.post {
  background-color: $secondary;
  background-image: var(--bs-gradient);
  color: $white;
  margin: 0.2em;
  border-radius: 5px;
  padding: 1em;
  width: 70%;
  &.from-me {
    background-color: $primary;
    align-self: end;
  }
}
