<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>

<div class="searches" *ngIf="searchBy">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div *ngIf="searchBy === SearchOppsBy.mine" class="mt-2 mb-3">
      <div>
        <label class="form-label" [title]="myOppsOnlyTip"
               for="myOppsOnly">{{myOppsOnlyLabel}}</label>
        <input [title]="myOppsOnlyTip" type="checkbox" formControlName="myOppsOnly" id="myOppsOnly">
      </div>
      <div>
        <label class="form-label" [title]="showClosedOppsTip"
               for="showClosedOpps">{{showClosedOppsLabel}}</label>
        <input *ngIf="selectedStages.length === 0" [title]="showClosedOppsTip" type="checkbox"
               formControlName="showClosedOpps" id="showClosedOpps">
      </div>
      <div>
        <label class="form-label" [title]="showInactiveOppsTip"
               for="showInactiveOpps">{{showInactiveOppsLabel}}</label>
        <input *ngIf="selectedStages.length === 0" [title]="showInactiveOppsTip" type="checkbox"
               formControlName="showInactiveOpps" id="showInactiveOpps">
      </div>
    </div>

    <div class="mb-3">
      <input #searchFilter type="text" class="form-control" placeholder="Search..."
             aria-label="Search" formControlName="keyword"
             id="keyword">
    </div>

    <div class="mb-3">
      <label class="form-label">Stage</label>
      <ng-select
        id="stage"
        [items]="stages"
        [multiple]="true"
        [closeOnSelect]="true"
        [searchable]="false"
        bindLabel="stringValue"
        bindValue="key"
        formControlName="selectedStages">
      </ng-select>
    </div>
  </form>
</div>

<div class="card" *ngIf="!loading">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <!--          Header-->
        <thead class="table-primary">
        <tr>
          <th *ngIf="!showJobOppName" (click)="toggleSort('name')">
            <app-sorted-by [column]="'name'" [sortColumn]="sortField" [sortDirection]="sortDirection"
                           *ngIf="searchBy"></app-sorted-by>
            Candidate Opportunity
          </th>
          <th *ngIf="showJobOppName" (click)="toggleSort('jobOpp.name')">
            <app-sorted-by column="jobOpp.name" [sortColumn]="sortField" [sortDirection]="sortDirection"
                           *ngIf="searchBy"></app-sorted-by>
            Candidate Job Opportunity
          </th>
          <th (click)="toggleSort('stage')">
            <app-sorted-by [column]="'stage'" [sortColumn]="sortField" [sortDirection]="sortDirection"
                           *ngIf="searchBy"></app-sorted-by>
            Stage
          </th>
          <th *ngIf="!preview" (click)="toggleSort('updatedDate', 'DESC')">
            <app-sorted-by column="updatedDate" [sortColumn]="sortField" [sortDirection]="sortDirection"
                           *ngIf="searchBy"></app-sorted-by>
            Next step
          </th>
          <th *ngIf="!preview" (click)="toggleSort('nextStepDueDate', 'DESC')">
            <app-sorted-by [column]="'nextStepDueDate'" [sortColumn]="sortField" [sortDirection]="sortDirection"
                           *ngIf="searchBy"></app-sorted-by>
            Due
          </th>
          <th *ngIf="preview">
            Next?
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let opp of opps; let i = index;" (click)="selectCurrnt(opp)"
            [ngClass]="{'current': currentOpp?.id == opp.id}">

          <td *ngIf="!showJobOppName" [title]="opp.name">
            {{opp.name | truncate: 25}}
            <a *ngIf="opp.sfId && canAccessSalesforce()" [href]="getOppSfLink(opp.sfId)" target="_blank">
              <i class="fab fa-salesforce" title="Show opp in Salesforce"></i>
            </a>
            <a [routerLink]="['/candidate',opp.candidate?.candidateNumber]">
              <i class="fas fa-user" title="Candidate"></i>
            </a>
            <a [routerLink]="['/job',opp.jobOpp.id]">
              <i class="fa-solid fa-briefcase" title="Job"></i>
            </a>
          </td>
          <td *ngIf="showJobOppName" [title]="opp.jobOpp.name">
            <a [routerLink]="['/opp',opp.id]">
              {{opp.jobOpp.name}}
            </a>
          </td>
          <td>
            {{getCandidateOpportunityStageName(opp)}}
          </td>
          <td *ngIf="!preview" [title]="getNextStepHoverString(opp)">
            {{opp.nextStep | truncate: 38}}
          </td>
          <td *ngIf="!preview">
            {{opp.nextStepDueDate}}
          </td>
          <td *ngIf="preview">
            <div *ngIf="opp?.nextStep" [ngbPopover]="nextStepPopover" triggers="mouseenter:mouseleave" container="body">
              <i class="fa-solid fa-shoe-prints"></i>
            </div>
            <ng-template #nextStepPopover>
              <strong>Due date: </strong>{{opp.nextStepDueDate}}<br>
              <strong>Next step: </strong>{{opp.nextStep}}
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>


      <div class="text-muted mb-2 align-middle" *ngIf="searchBy">

        <ngb-pagination
          [boundaryLinks]="true"
          [pageSize]="pageSize"
          [collectionSize]="results?.totalElements"
          [(page)]="pageNumber"
          [maxSize]="5"
          [ellipses]="true"
          [rotate]="true"
          (pageChange)="search()">
        </ngb-pagination>

        Found {{results?.totalElements}} in total
      </div>

      <!-- loading -->
      <div *ngIf="loading">
        <div>
          <i class="fas fa-spinner fa-spin"></i> Loading...
        </div>
      </div>

    </div>
  </div>
</div>

