<div class="container">

  <h1 class="text-center">How can we contact you?</h1>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [formControlName]="'email'">
    </div>

    <p>
      If you do not have an email address, <a [routerLink]="['/register', 'contact', 'alternate']">click here</a>.
    </p>

  </form>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="save()">
      Next
    </button>
  </div>

</div>
