<div class="container">

  <app-loading [loading]="loading"></app-loading>

  <form [formGroup]="form" *ngIf="!loading">

    <!-- EMAIL -->
    <div class="form-group">
      <label for="email" translate dir="auto">REGISTRATION.CONTACT.LABEL.EMAIL</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [formControlName]="'email'">
    </div>

    <!-- PHONE # -->
    <div class="form-group">
      <label for="phone" translate dir="auto">REGISTRATION.CONTACT.LABEL.PHONE</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone number" [formControlName]="'phone'">
    </div>

    <!-- WHATSAPP -->
    <div class="form-group">
      <label for="whatsapp" translate dir="auto">REGISTRATION.CONTACT.LABEL.WHATSAPP</label>
      <input type="text" class="form-control" id="whatsapp" placeholder="Enter WhatsApp" [formControlName]="'whatsapp'">
    </div>

    <ng-container *ngIf="!authenticated">
<!--      <div class="form-group">-->
<!--        <label for="username" translate dir="auto">REGISTRATION.CONTACT.LABEL.USERNAME</label>-->
<!--        <input type="username" class="form-control" id="username" placeholder="Enter username" [formControlName]="'username'">-->
<!--      </div>-->

      <div class="form-group">
        <label for="password" translate dir="auto">REGISTRATION.CONTACT.LABEL.PASSWORD</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password"
               [formControlName]="'password'">
      </div>

      <div class="form-group">
        <label for="passwordConfirmation" translate dir="auto">REGISTRATION.CONTACT.LABEL.PASSWORDCONFIRMATION</label>
        <input type="password" class="form-control" id="passwordConfirmation" placeholder="Enter confirmation password"
               [formControlName]="'passwordConfirmation'">
      </div>

    </ng-container>

  </form>

  <app-error [error]="error"></app-error>

</div>


<app-registration-footer [disabled]="!formValid"
                         [hideBack]="true"
                         (nextClicked)="save()">
</app-registration-footer>

