<div *ngIf="isList" class="offcanvas-header pb-0">
  <h5 class="offcanvas-title">List Specific</h5>
  <button (click)="toggleAttachments()" id="bt" class="btn btn-sm btn-secondary">
    Shareable Docs
    <i *ngIf="!showAttachments" class="fas fa-eye"></i>
    <i *ngIf="showAttachments" class="fas fa-eye-slash"></i>
  </button>
</div>

<div *ngIf="isContextNoteDisplayed() && !isList" class="offcanvas-header" >
  <h5 class="offcanvas-title">Search Specific</h5>
</div>

<div class="offcanvas-body">

  <ng-container *ngIf="isContextNoteDisplayed()">
    <app-candidate-context-note
      [candidate]="candidate"
      [candidateSource]="candidateSource">
    </app-candidate-context-note>
  </ng-container>

  <ng-container *ngIf="showAttachments">
    <div>
      <app-shareable-docs
        [candidate]="candidate"
        [candidateSource]="candidateSource"
      >
      </app-shareable-docs>
    </div>
  </ng-container>
</div>

<hr>

<div class="offcanvas-header">
  <h3 class="offcanvas-title">
    {{candidate.user?.firstName}} {{candidate.user?.lastName}}
    <span class="small text-muted me-2">
      {{candidate.candidateNumber}} - {{candidate.status | titlecase}}
    </span>
    <a target="_blank" [routerLink]="['/candidate',candidate.candidateNumber]">
      <i class="fas fa-external-link-alt" title="Show candidate in new tab"></i>
    </a>
  </h3>
  <div>
    <button  (click)="toggleNotes()" class="btn btn-sm btn-secondary me-2">
      General Notes
      <i *ngIf="!showNotes" class="fas fa-eye"></i>
      <i *ngIf="showNotes" class="fas fa-eye-slash"></i>
    </button>
    <button ngbAutofocus type="button" class="btn-close text-reset" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')"></button>
  </div>
</div>
<div class="offcanvas-body">
  <!-- AUTO UPDATING SHAREABLE NOTES -->
  <ng-container *ngIf="showNotes">
    <app-candidate-shareable-notes
      [candidate]="candidate">
    </app-candidate-shareable-notes>
  </ng-container>

  <!-- TABS -->
  <nav ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChanged($event)">

    <!-- GENERAL -->
    <ng-container ngbNavItem="general">
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
        <app-candidate-general-tab
          [candidate]="candidate"
          [editable]="false">
        </app-candidate-general-tab>
      </ng-template>
    </ng-container>

    <!-- EXPERIENCE -->
    <ng-container ngbNavItem="experience">
      <a ngbNavLink>Experience</a>
      <ng-template ngbNavContent>
        <app-candidate-experience-tab
          [candidate]="candidate"
          [editable]="false">
        </app-candidate-experience-tab>
      </ng-template>
    </ng-container>

    <!-- EDUCATION -->
    <ng-container ngbNavItem="education">
      <a ngbNavLink>Education</a>
      <ng-template ngbNavContent>
        <app-candidate-education-tab
          [candidate]="candidate"
          [editable]="false">
        </app-candidate-education-tab>
      </ng-template>
    </ng-container>

    <!-- TASKS -->
    <ng-container ngbNavItem="tasks">
      <a ngbNavLink>Tasks</a>
      <ng-template ngbNavContent>
        <app-candidate-task-tab
          [candidate]="candidate"
          [editable]="false">
        </app-candidate-task-tab>
      </ng-template>
    </ng-container>

    <!-- NOTES -->
    <ng-container ngbNavItem="notes">
      <a ngbNavLink>Notes</a>
      <ng-template ngbNavContent>
        <app-candidate-history-tab
          [candidate]="candidate"
          [characterLimit]="100"
          [editable]="false">
        </app-candidate-history-tab>
      </ng-template>
    </ng-container>

    <!-- JOBS -->
    <ng-container ngbNavItem="jobs">
      <a ngbNavLink>Jobs</a>
      <ng-template ngbNavContent>
        <app-candidate-jobs-tab
          [candidate]="candidate">
        </app-candidate-jobs-tab>
      </ng-template>
    </ng-container>

  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
