<div *ngIf="loading">
  <i class="fas fa-spinner fa-spin"></i> loading...
</div>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="!loading" id="VisaCanada">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5>Visa Canada</h5>
    <button class="btn btn-primary" (click)="exportAsPdf('VisaCanada')">Export PDF</button>
  </div>

  <app-visa-assessment
    [candidate]="candidate"
    [candidateIntakeData]="candidateIntakeData"
    [myRecordIndex]="selectedIndex"
  >
  </app-visa-assessment>
</div>
