<div class="login wrapper">

  <div class="justify-content-center">

    <div class="heading">

      <h1>Change Password</h1>

    </div>

    <!-- ERROR -->
    <app-error [error]="error"></app-error>

    <!-- CONFIRMATION -->
    <p class="alert alert-success" *ngIf="updated">
      Your password has been updated
    </p>

    <form class="credential-form" [formGroup]="form" *ngIf="!loading && !tokenInvalid && form">

      <!-- Old Password -->
      <div class="form-group" *ngIf="!reset">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" class="form-control" type="password" [formControlName]="'oldPassword'" placeholder="Old password">
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">New Password</label>
        <input id="password" class="form-control" type="password" [formControlName]="'password'" placeholder="Password">
      </div>

      <!-- Confirmation Password -->
      <div class="form-group">
        <label for="passwordConfirmation">Confirm Password</label>
        <input id="passwordConfirmation" class="form-control" type="password" [formControlName]="'passwordConfirmation'" placeholder="Confirm Password">
      </div>

      <button class="btn btn-primary mb-4"
              [disabled]="loading || form.invalid || form.pristine"
              (click)="updatePassword()">

        <span *ngIf="!loading">Save Changes</span>

        <!-- LOADING SPINNER -->
        <div class="d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </button>

    </form>

  </div>

</div>
