<div class="container">

  <h1 class="text-center">Tell us about your Schooling</h1>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="institution">What your school name?</label>
      <input type="text" class="form-control" placeholder="" id="institution" [formControlName]="'institution'">
    </div>

    <div class="form-group">
      <label for="country">Country you studied in</label>
      <select class="form-control" name="country" id="country" [formControlName]="'country'">
        <option value=""></option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Did you complete your final year?</label>
      <div class="radio">
        <label><input type="radio" [formControlName]="'completedSchool'" value="yes">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" [formControlName]="'completedSchool'" value="no">No</label>
      </div>
    </div>

    <div *ngIf="form.value.completedSchool === 'yes'">
      <div class="form-group">
        <label for="dateCompleted">Year of graduation:</label>
        <select class="form-control" name="dateCompleted" id="dateCompleted" [formControlName]="'dateCompleted'">
          <option value=""></option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

  </form>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="save()">
      Next
    </button>
  </div>

</div>
