<div class="container">

  <h1 class="text-center">Tell us about your profession</h1>

  <form [formGroup]="form">

    <!-- FIELD -->
    <div class="form-group">
      <label for="field">What is the main field that you have professional skills in?</label>
      <select class="form-control" name="field" id="field" [formControlName]="'field'">
        <option value=""></option>
        <option *ngFor="let field of fields" [value]="field.id">{{field.label}}</option>
      </select>
    </div>

    <!-- YEARS OF EXPERIENCE -->
    <div class="form-group">
      <label for="yearsOfExperience">How many years of professional work experience do you have in this field?</label>
      <select class="form-control" name="yearsOfExperience" id="yearsOfExperience" [formControlName]="'yearsOfExperience'">
        <option value=""></option>
        <option *ngFor="let year of years" [value]="year.id">{{year.label}}</option>
      </select>
      <p class="text-muted">
        Do not include years spent studying in this profession
      </p>
    </div>

    <!-- SECOND PROFESSION? -->
    <div class="form-group" *ngIf="professions.length == 0">
      <label>Do you have a second profession?</label>
      <div class="radio">
        <label (click)="hasSecondProfession = true"><input type="radio" name="addProfession" value="yes">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="addProfession" value="no">No</label>
      </div>
    </div>

    <!-- ADD SECOND PROFESSION -->
    <div *ngIf="hasSecondProfession">
      <button class="btn btn-outline-primary"
              (click)="addMore()"
              [disabled]="form.value.field == '' || form.value.yearsOfExperience == ''">
        Add Profession
      </button>
    </div>

  </form>

  <!-- PROFESSION SUMMARY -->
  <div>
    <h4>Profession Summary</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Profession Field</th>
        <th scope="col">Years in Field</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of professions">
        <td>{{p.field}}</td>
        <td>{{p.yearsOfExperience}}</td>
        <td align="center">
          <button type="button" class="close" aria-label="Close" (click)="delete(p)">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-right">
    <button class="btn btn-primary"
            [disabled]="professions.length > 2"
            (click)="save()">
      Next
    </button>

    <!-- ERROR IF ADD MORE THAN TWO MAIN PROFESSIONS -->
    <p *ngIf="professions.length > 2" class="text-muted">
      Do not add more than two main professions
    </p>

  </div>

</div>
