:host {
  display: block;
  padding: 20px 0;
}


@media screen and (max-width: 480px) {
  thead {
    font-size: 0.85rem;
  }
  tbody{
    font-size: 0.85rem;
  }
}

.underline {
  text-decoration: underline;
}
